<!-- <section class="banner-section pt-100">
  <div class="container-fluid">
    <div class="row zoominheader">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
        <div class="banner-info">
            <h2>SAP</h2>
            <p>QBrainX’s SAP services include the design, development, implementation, and integration of SAP solutions to become best-run businesses.</p>
            <a href="/contact"><button class="finbyz-button">Consult Now</button></a>

        </div>        
      </div>      
    </div>
  </div>
</section> -->
<nav class="pt-100 fixed-top service-nav bg-white">
    <div class="nav nav-tabs nav-pills flex-column flex-sm-row" id="nav-tab" role="tablist">
      <!-- <button class="flex-sm-fill text-sm-center nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">SAP BTP</button> -->
      <button class="flex-sm-fill text-sm-center nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">SAP Integration Suite</button>
      <button class="flex-sm-fill text-sm-center nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">SAP HANA</button>
      <button class="flex-sm-fill text-sm-center nav-link" id="nav-three-tab" data-bs-toggle="tab" data-bs-target="#nav-three" type="button" role="tab" aria-controls="nav-three" aria-selected="false">SAP Basis / SAP NetWearver</button>
      <button class="flex-sm-fill text-sm-center nav-link" id="nav-four-tab" data-bs-toggle="tab" data-bs-target="#nav-four" type="button" role="tab" aria-controls="nav-four" aria-selected="false">System Security</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!-- <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">  
    </div> -->
    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <section class="banner-section pt-100">
          <div class="container-fluid">
            <div class="row zoominheader">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
                <div class="banner-info">
                    <h2>Unify, Connect, Innovate: SAP Integration Excellence</h2>
                    <p>Empower your enterprise to innovate and thrive with SAP Integration Suite, seamlessly connecting systems for a unified digital landscape. </p>
                    <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
        
                </div>        
              </div>      
            </div>
          </div>
        </section>
        
        <section class="intro-section pt-50 pb-50">
            <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
            <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 intro-img">
                  <img src="assets/images/sap_integration_suit.jpg" alt="intro-image" width="100%">
                </div>
                <div class="col-lg-6 intro-info">
                  <h3>What is SAP Integration suite</h3>
                  <p>SAP Integration Suite is an integration platform-as-a-service (iPaaS) that helps you quickly integrate on-premise and cloud-based processes, services, applications, events, and data. Accelerate innovation, automate more processes, and realize a faster time to value.</p>
                </div>
              </div>
            </div>
        </section>

        <section class="business-application pt-50 pb-50">
            <div class="container">
              <div class="row">
                <div class="col-md-12 title text-center">
                  <span>Workflow</span>
                  <h3>Workflow of SAP Integration Suite</h3> 
                </div>            
              </div>
              <div class="row pt-5 d-flex justify-content-center">
                <div class="col-lg-4 text-center">
                  <div class="business-application-info">
                    <img src="assets/images/connect.svg" alt="Connect">
                    <h4>Connect</h4>
                    <p>and customize experiences</p>
                  </div>
                </div>
                <div class="col-lg-4 text-center">
                  <div class="business-application-info">
                    <img src="assets/images/accelerate.svg" alt="Accelerate">
                    <h4>Accelerate</h4>
                    <p>Innovation by starting with integration</p>
                  </div>
                </div>
                <div class="col-lg-4 text-center">
                  <div class="business-application-info">
                    <img src="assets/images/empower.svg" alt="Empower">
                    <h4>Empower</h4>
                    <p>Practitioners beyond central IT</p>
                  </div>
                </div>                           
              </div>
            </div>
        </section>

        <section class="highlights-section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
            <div class="container info">
                <div class="row pt-5">
                    <div class="col-md-12 title text-center">
                        <span>Integration Suite</span>
                        <h3>SAP S/4HANA Integration Pattern with SAP Integration Suite</h3>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-lg-12">
                        <div class="work-process-area">
                            <div class="row g-4 d-flex justify-content-center">
                                <div class="col-md-3 col-sm-6">
                                    <div class="work-process-item text-center">
                                        <img src="/assets/images/cash.svg" alt="image" width="50px">
                                        <h4 class="pt-3">Lead to Cash</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="work-process-item text-center">
                                        <img src="/assets/images/issue-resoultion.svg" alt="image" width="50px">
                                        <h4 class="pt-3">Issue to Resolution</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="work-process-item text-center">
                                        <img src="/assets/images/source-to-pay.svg" alt="image" width="50px">
                                        <h4 class="pt-3">Source to Pay​</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="work-process-item text-center">
                                        <img src="/assets/images/hire-to-retire.svg" alt="image" width="50px">
                                        <h4 class="pt-3">Hire to Retire​</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="work-process-item text-center">
                                        <img src="/assets/images/plan.svg" alt="image" width="50px">
                                        <h4 class="pt-3">Plan to Production​</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                  <div class="work-process-item text-center">
                                      <img src="/assets/images/integration.svg" alt="image" width="50px">
                                      <h4 class="pt-3">Payment Integration</h4>
                                  </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                  <div class="work-process-item text-center">
                                      <img src="/assets/images/digital.svg" alt="image" width="50px">
                                      <h4 class="pt-3">Digital Complaince, Business to Business (B2B)​</h4>
                                  </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>     
  
    </div>
    <div class="tab-pane fade sap-hana" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">         

      <section class="banner-section pt-100">
        <div class="container-fluid">
          <div class="row zoominheader">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
              <div class="banner-info">
                  <h2>HANA Dynamics: Accelerating Insights, Transforming Data</h2>
                  <p>Experience the dynamic power of SAP HANA, unlocking the full potential of your data for unprecedented speed, insights, and agility.</p>
                  <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
      
              </div>        
            </div>      
          </div>
        </div>
      </section>

      <section class="intro-section pt-50 pb-50">
        <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
        <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 intro-img">
              <img src="assets/images/sap_hana.jpg" alt="intro-image" width="100%">
            </div>
            <div class="col-lg-6 intro-info">
              <h3>Introduction of SAP HANA</h3>
              <p>Sap Hana is an in- memory database platform developed by SAP.​ It designed to process large amounts of data in real-time, enabling faster data analysis and decision-making. Its used by organization for various purpose like analytics, data warehousing, and application development. It’s a powerful tool in the world of data management.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="business-application pt-50 pb-50">
        <div class="container">
          <div class="row">
            <div class="col-md-12 title text-center">
              <span>Features</span>
              <h3>Key Features of SAP HANA</h3> 
            </div>            
          </div>
          <div class="row pt-5 d-flex justify-content-center">
            <div class="col-lg-4 text-center">
              <div class="business-application-info">
                <img src="assets/images/memory-computing.svg" alt="Connect">
                <h4>In-Memory Computing</h4>
                <p>SAP HANA stores and Processes data in memory, allowing for faster data access and analysis.</p>
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="business-application-info">
                <img src="assets/images/analytics.svg" alt="Accelerate">
                <h4>Real-Time Analytics</h4>
                <p>With SAP HANA  you can perform real-time Analysis on large volumes of data, enabling quick insights and decision-making.​</p>
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="business-application-info">
                <img src="assets/images/integration.svg" alt="Empower">
                <h4>Data Integration</h4>
                <p>It allows for seamless integration with various data sources, both structured and unstructured, enabling a unified view of data.​</p>
              </div>
            </div>                           
          </div>
        </div>
      </section>

    </div>
    <div class="tab-pane fade netweaver" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">      
      
      <section class="banner-section pt-100">
        <div class="container-fluid">
          <div class="row zoominheader">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
              <div class="banner-info">
                  <h2>Basis Brilliance: Foundation for Resilient SAP Operations</h2>
                  <p>Build a solid foundation for your SAP landscape with SAP Basis, ensuring stability, performance, and seamless operations.</p>
                  <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
      
              </div>        
            </div>      
          </div>
        </div>
      </section>

      <section class="intro-section pt-50 pb-50">
        <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
        <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 intro-img">
              <img src="assets/images/basis_netweaver_image.jpg" alt="intro-image" width="100%">
            </div>
            <div class="col-lg-6 intro-info">
              <h3>Introduction of SAP BASIS/NetWeaver</h3>
              <p>SAP Basis, now known as SAP NetWeaver, is the technical foundation that underpins all SAP applications. It encompasses the core technologies and services required for the entire SAP system landscape to function effectively. SAP NetWeaver provides a platform for integration, application deployment, development, and administration of SAP applications and system.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="business-application pt-50 pb-50">
        <div class="container">
          <div class="row">
            <div class="col-md-12 title text-center">
              <span>Workflow</span>
              <h3>Workflow of SAP Basis/NetWeaver</h3> 
              <p class="pt-3">Work processes execute the individual dialog steps of ABAP application programs. They are components of ABAP application servers. The next two sections describe firstly the structure of a work process, and secondly the different types of work process in SAP NetWeaver AS ABAP</p>
            </div>            
          </div>
          <div class="row pt-3 d-flex justify-content-center">
            <div class="col-lg-3 text-center">
              <div class="business-application-info">
                <img src="assets/images/process.svg" alt="Connect">
                <h4>Work Process</h4>
                <!-- <p>and customize experiences</p> -->
              </div>
            </div>
            <div class="col-lg-3 text-center">
              <div class="business-application-info">
                <img src="assets/images/data-management-system.svg" alt="Accelerate">
                <h4>Data Management System</h4>
                <!-- <p>Innovation by starting with integration</p> -->
              </div>
            </div>
            <div class="col-lg-3 text-center">
              <div class="business-application-info">
                <img src="assets/images/database.svg" alt="Empower">
                <h4>Database</h4>
                <!-- <p>Practitioners beyond central IT</p> -->
              </div>
            </div>                           
          </div>
        </div>
      </section>

  
  
    </div>
    <div class="tab-pane fade system-security" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab">                      
      <section class="banner-section pt-100">
        <div class="container-fluid">
          <div class="row zoominheader">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
              <div class="banner-info">
                  <h2>Secure Horizons: SAP System Security at the Helm</h2>
                  <p>Safeguard your SAP ecosystem with unwavering security measures, ensuring a secure and trusted foundation for your business.</p>
                  <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
      
              </div>        
            </div>      
          </div>
        </div>
      </section>
      
      <section class="intro-section pt-50 pb-50">
        <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
        <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 intro-img">
              <img src="assets/images/system_security.jpg" alt="intro-image" width="100%">
            </div>
            <div class="col-lg-6 intro-info">
              <h3>SAP System Security</h3>
              <p>QBRAINX will provide Security for your SAP System as it is the formidable guardian of your organization's digital fortress, where the invaluable treasures of data, processes, and operations are meticulously protected. we serves as the impenetrable shield against the relentless forces of cyber threats and the dark specter of data breaches using SAP SYSTEM SECURITY.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="business-application pt-50 pb-50">
        <div class="container">
          <div class="row">
            <div class="col-md-12 title text-center">
              <span>Process Flow</span>
              <h3>Security Considerations</h3> 
              <!-- <p class="pt-3">Work processes execute the individual dialog steps of ABAP application programs. They are components of ABAP application servers. The next two sections describe firstly the structure of a work process, and secondly the different types of work process in SAP NetWeaver AS ABAP</p> -->
            </div>            
          </div>
          <div class="row pt-3 d-flex justify-content-center">
            <div class="col-lg-3 text-center">
              <div class="business-application-info h-100">
                <img src="assets/images/data-entry.svg" alt="Connect">
                <h4>Data Entry</h4>
                <p>Access control to ensure only authorized personnel can input data.</p>
              </div>
            </div>
            <div class="col-lg-3 text-center">
              <div class="business-application-info h-100">
                <img src="assets/images/data-storage.svg" alt="Accelerate">
                <h4>Data Storage</h4>
                <p>Encryption and data classification to protect sensitive information.</p>
              </div>
            </div>
            <div class="col-lg-3 text-center">
              <div class="business-application-info h-100">
                <img src="assets/images/data-output.svg" alt="Empower">
                <h4>Data Output</h4>
                <p>Secure transmission of data to external systems or users.</p>
              </div>
            </div> 
            <div class="col-lg-3 text-center">
              <div class="business-application-info h-100">
                <img src="assets/images/data-transformation.svg" alt="Empower">
                <h4>Data Transformation</h4>
                <p>Monitoring for unusual activities or deviations from expected patterns.</p>
              </div>
            </div>                           
          </div>
        </div>
      </section>

    </div>
  </div>
  
 <div class="case-study-section pt-50">
  <div class="container">
      <div class="row">
          <div class="col-md-12 title text-center">
              <span>Case Study</span>
              <h3>Our SAP Case Studies</h3>
          </div>
      </div>
      <div class="row py-5 d-flex justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info wow animate__animated animate__fadeInUp"
            data-wow-duration="1.5s" data-wow-delay="0.6s" *ngFor="let caseStudy of caseStudyArrayList;let i=index" >
            <div class="sigle-blog-1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                <div class="blog-image">
                    <img
                    src="data:image/{{caseStudy.extension}};base64,{{caseStudy.image}}"
                    class="img-fluid"
                    alt="image"
                  />
                </div>
                <div class="blog-content hover-border1" (click)="caseStudydetails(caseStudy)">
                    <span>{{caseStudy.category}}</span>
                    <h4>
                        <a>{{caseStudy.title}}</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="caseStudyArrayList.length >= itemsPerPage">
      <div class="col-lg-12 d-flex justify-content-center mt-5 pagination-wrap">
        <div class="pagination d-flex align-items-center">
          <button class="pagination-btn" (click)="changePreviousPage()" [disabled]="currentPage === 1">Previous</button>
          <span> {{ currentPage }}</span>
          <button class="pagination-btn" (click)="changeNextpage()" [disabled]="currentPage === lastpage">Next</button>
        </div>
      </div>      
    </div>
  </div>
</div>

<section class="join-section pt-50 pb-50">
<div class="container">
    <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp"
        data-wow-duration="1.5s" data-wow-delay="0.4s">
        <div class="row d-flex align-items-center g-4">
            <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>
            </div>
            <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp"
                data-wow-duration="1.5s" data-wow-delay="0.6s">

               <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>


            </div>
        </div>
    </div>
</div>
</section>