<section class="banner-section">
    <div class="container-fluid">
      <div class="row zoominheader">
        <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-xs-12 text-start">
            <div class="banner-info">
                <h2>Beyond Boundaries: A Digital Evolution</h2>
                <p>Charting a course to excellence by leveraging digital innovation—where efficiency meets extraordinary experiences.</p>
                <a href="/contact"><button class="finbyz-button">Consult Now</button></a>

            </div>        
        </div>         
      </div>
    </div>
</section>

<div class="why-us-section pt-50 pb-100 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center my-0 mx-auto">
          <div class="title primary1">
            <!-- <span>-WHY CHOOSE US-</span> -->
            <h3>Improve Business Outcomes by Using Digital Accelerators</h3>   
            <p class="pt-3">Digital transformation is the integration of digital technology that improves businesses and helps them operate and deliver value to customers. It applies to all aspects of a business resulting in a fundamental shift in how a firm operates and provides value to its customers. The term “digital transformation” refers to a recent trend/technology in which organizations, people, and processes seek new business models and revenue streams in response to changes in customer expectations of products and services.</p>       
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let blog of serviceArray;let i=index">
            <div class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInUp"
                data-wow-duration="1.5s" data-wow-delay="0.2s">
                <div class="service-content">
                    <span class="sn"><img [src]="getIconUrl(blog)" /></span>
                    <h4><a>{{blog.title}}</a></h4>
                    <p class="para">
                        {{blog.text}}
                    </p>
                </div>
            </div>
        </div>        
      </div>
    </div>
</div>

<div class="faq-section pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" id="faq">    
    <div class="container">        
        <div class="row pt-5 g-4 justify-content-center">
            <div class="col-lg-4">
                <div class="sidebar-card wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <img src="assets/images/digital_accelerator.jpg" width="100%">
                    <div class="content">
                        <h2 class="pt-3">Application Performance Monitoring</h2>
                        <p class="pt-3">Applications are how users interact with your products or services. Apps should
                            maintain high quality and provide a seamless experience to drive customer engagement and
                            revenue. The powerful application performance monitoring tool from QBrainX allows you to
                            continuously monitor application behavior, identify potential issues, and quickly resolve them
                            before users get affected.</p>
                    </div>
                    <!-- <p class="pt-3">Certain Application performance monitoring products use network traffic to measure app performance, while others rely on server and app metrics. App Dynamics, an application performance monitoring tool, performs code-level profiling and transaction tracing. Such monitoring not only identifies resources that are slowing down the app but also assists in determining why they are slowing down.</p> -->
                    <!-- <a href="contact.html" class="eg-btn btn--primary btn--lg">Work Together</a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="col-md-12 title mb-5">
                    <!-- <span>ServiceNow Services</span> -->
                    <h3>QBrainX’s Application Performance Monitoring benefits</h3>
                    <p class="pt-3">The powerful application performance monitoring tool from QBrainX allows you to
                        continuously monitor application behavior, identify potential issues, and quickly resolve them
                        before users get affected.</p>
                    <p class="pt-3">Certain Application performance monitoring products use network traffic to measure
                        app performance, while others rely on server and app metrics. App Dynamics, an application
                        performance monitoring tool, performs code-level profiling and transaction tracing. Such
                        monitoring not only identifies resources that are slowing down the app but also assists in
                        determining why they are slowing down.</p>
                </div>
                <!-- <div class="col-lg-6"> -->
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-10">
                        <div class="service-item2 style-3 wow fadeInDown" data-wow-duration="1.5s"
                            data-wow-delay="0.2s">
                            <div class="service-content">
                                <span class="sn">01</span>
                                <h4>IT upgrades that are well-planned and budgeted</h4>
                                <!-- <p>Nullam ullamcorper condisc Lurna eu accumsan.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-10">
                        <div class="service-item2 style-3 wow fadeInDown" data-wow-duration="1.5s"
                            data-wow-delay="0.4s">
                            <div class="service-content">
                                <span class="sn">02</span>
                                <h4>Increased revenue and security for the company</h4>
                                <!-- <p>Nullam ullamcorper condisc Lurna eu accumsan.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-10">
                        <div class="service-item2 style-3 wow fadeInDown" data-wow-duration="1.5s"
                            data-wow-delay="0.6s">
                            <div class="service-content">
                                <span class="sn">03</span>
                                <h4>Excellent user experience</h4>
                                <!-- <p>Nullam ullamcorper condisc Lurna eu accumsan.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-10">
                        <div class="service-item2 style-3 wow fadeInDown" data-wow-duration="1.5s"
                            data-wow-delay="0.8s">
                            <div class="service-content">
                                <span class="sn">04</span>
                                <h4>Increased efficiency and productivity</h4>
                                <!-- <p>Nullam ullamcorper condisc Lurna eu accumsan.</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>

<div class="service2-section pb-50 pt-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>Importance of Microservice Architecture</h3>
                <p class="pt-3">Microservice architecture is a software development style in which various components
                    are created and maintained as separate services. Each microservice is designed to be small, handle a
                    single business function, and be deployed separately from the rest of the system.</p>
            </div>
        </div>
        <div class="row g-4 pt-5 d-flex justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.4s">                    
                    <div class="service-content">
                        <!-- <span>01</span> -->
                        <img src="assets/images/flexxible_technology.svg" class="service21-icon" alt="image" width="50px">
                        <h4>Flexible Technology</h4>
                        <p class="para">MSA enables decoupled services written in various languages to coexist
                            peacefully. As a result, you have the freedom to select the best tech stack for each
                            business capability.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.6s">                    
                    <div class="service-content">
                        <!-- <span>02</span> -->
                        <img src="assets/images/autonomous.svg" class="service21-icon" alt="image" width="50px">
                        <h4>Autonomous</h4>
                        <p class="para">When a solution is broken down into smaller, self-contained chunks, globally
                            distributed teams can work more efficiently.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">                    
                    <div class="service-content">
                        <!-- <span>03</span> -->
                        <img src="assets/images/consistent_delivery.svg" class="service21-icon" alt="image" width="50px">
                        <h4>Consistent Delivery</h4>
                        <p class="para">Development speeds up as different teams work on different components, allowing
                            for greater business agility. You can independently add new components, deploy them, and
                            scale them.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s">                    
                    <div class="service-content">
                        <!-- <span>04</span> -->
                        <img src="assets/images/maintanence.svg" class="service21-icon" alt="image" width="50px">
                        <h4>Easy Maintenance</h4>
                        <p class="para">Failures can be isolated and a microservice modified without affecting the
                            entire system. When compared to complex monolithic systems, this allows for easier
                            application maintenance.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s">                    
                    <div class="service-content">
                        <!-- <span>05</span> -->
                        <img src="assets/images/api-management.svg" class="service21-icon" alt="image" width="50px">
                        <h4>API Management</h4>
                        <p class="para">We assist in making digital assets consumable to internal and external users by
                            developing custom APIs and integrating with third-party applications. We assist businesses
                            in successfully implementing and managing APIs by balancing trade-offs and, in many cases,
                            leveraging existing capabilities to reduce costs.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s">                    
                    <div class="service-content">
                        <!-- <span>06</span> -->
                        <img src="assets/images/api_documentation.svg" class="service21-icon" alt="image" width="50px">
                        <h4>API Documentation</h4>
                        <p class="para">API documentation is necessary for providing a positive experience for API
                            users, and good documentation increases API adoption. When documentation is in place,
                            onboarding new users is a breeze, and you save time on support. API maintenance and updates
                            are also made much easier with proper documentation.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s">                    
                    <div class="service-content">
                        <!-- <span>07</span> -->
                        <img src="assets/images/api_performace.svg" class="service21-icon" alt="image" width="50px">
                        <h4>API Performance</h4>
                        <p class="para">Monitoring APIs entails keeping track of latency, response time, consumption,
                            status codes, and availability, among other things. API performance is directly influenced
                            by response time. Interactions can be slowed and users may abandon the app if response times
                            are too long.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="service-item2 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s">                    
                    <div class="service-content">
                        <!-- <span>08</span> -->
                        <img src="assets/images/api_security.svg" class="service21-icon" alt="image" width="50px">
                        <h4>API Security</h4>
                        <p class="para">Good API management prioritizes security and incorporates it into API
                            development. We implement API endpoint security while keeping the security schemes available
                            in the API management platform in mind.</p>
                        <!-- <a routerLink="" class="btn mt-3">Discover More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partnership_section pt-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <span>Partnership</span>
                <h3>Our Digital Transformation Partners</h3>                
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="partner-img">
                    <img src="assets/images/partner_databrocks.png" alt="databricks">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="partner-img">
                    <img src="assets/images/partner_snowflake.png" alt="snowflake">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="join-section pb-5 pt-50">
    <div class="container">
      <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
        <div class="row d-flex align-items-center g-4">
          
          <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
            <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>
          </div>
          
          <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center">
           <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>
                  
          </div>
  
        </div>
      </div>
    </div>
</div>