<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
        <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Lgoin" />
	<meta property="og:title" content="Lgoin" />
	<meta property="og:description" content="Lgoin" />
	<meta property="og:image" content="social-image.html" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>QBrainx - Login</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    
</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-4">
                    <div class="authincation-content">
                        <div class="row no-gutters">
							<div class="form-container">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a href="#">
                                            <img src="assets/images/QBrainX-trademark-logo-Original-hashtag.svg">
                                        </a>
                                    </div>
                                    <h4 class="text-center mb-4"></h4>
									
                                    <form [formGroup]="LoginForm">
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Username</strong></label>
                                            <input type="text" class="form-control" formControlName="username" placeholder="Username">
                                        </div>
                                      <!-- Inside your HTML -->
<div class="mb-3 position-relative">
    <label class="mb-1"><strong>Password</strong></label>
    <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control pr-5" placeholder="Password">
    <span class="position-absolute toggle-password" (click)="togglePasswordVisibility()">
        <i class="bi" [class.bi-eye-slash]="!showPassword" [class.bi-eye]="showPassword"></i>
    </span>
</div>

                                        <div class="text-center mt-4">
                                            <button type="submit" (click)="loginFormSubmit()" class="btn btn-primary btn-block">Log In</button>
                                            <span class="error-message"> {{ errors }} </span>
                                        </div>
                                    </form>
								</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>