<div class="inner-banner">      
    <div class="container">
      <div
        class="row d-flex justify-content-center align-items-center text-center"
      >
        <div class="col-md-6">
          <h2
            class="inner-banner-title wow fadeInLeft"
            data-wow-duration="1.5s"
            data-wow-delay=".2s"
          >
          Leadership Info
          </h2>
          <div class="breadcumb-menu-wrap">
            <ul class="breadcumb-menu">
                <li><a href="about/leadership">QBrainX Leadership</a></li>
                <li>Rajkumar</li>
            </ul>
        </div>
        </div>
      </div>
    </div>
  </div>

  <section class="space-top space-extra-bottom pb-100 pt-50">
    <div class="container">
        <div class="row gx-60 gy-2">
            <div class="col-lg-5 mb-30 wow fadeInUp" data-wow-delay="0.2s"><img src="assets/images/raj-pic.png" alt="image"></div>
            <div class="col-lg-7 col-xl-7 align-self-center mb-30">
                <div class="team-about pt-3">
                    <h3 class="team-name h4">Rajkumar</h3><span class="team-degi">Co-Founder & CTO</span>
                    <p class="team-text pt-3">Entrepreneur & Co-founder of a high-growth company providing Digital Transformation Services.​</p>
                    <p>Rajkumar Selvam is the Chief Technology officer of QBrainX. In his current role, he is responsible for global delivery, sales, and marketing.​</p>
                    <p>A former digital transformation Specialist and engagement manager turned entrepreneur. He worked with Fortune 100 customers and scaled multi million dollars of business from scratch.​</p>
                    <p>Being the co-founder of QBrainX, he is the visionary behind organizational and customer success, and firmly believes in the idea of constant evolution. Under his guidance, today QBrainX is one of the well known organization in ServiceNow and Digital Transformation space. Rajkumar is a good mentor, motivator, strategist and a philosopher. With his vision and leadership, QBrainX today has created a good impression in the IT Services industry and has a lot of fans globally.</p>
                    <div class="team-social"><a href="https://www.linkedin.com/in/rajkumar-selvam/"><i class="fa fa-linkedin"></i></a></div>                    
                </div>
            </div>
        </div>
    </div>
</section>