<div class="inner-banner">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center text-center">
      <div class="col-md-6">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
          QBrainX Leadership
        </h2>
      </div>
    </div>
  </div>
</div>

<section class="leadership-section pt-50 pb-100 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
  <div class="container">        

    <div class="row">

      <div class="clo-lg-12 leadership-category">
        <h3>Executive Leadership</h3>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 mt-5">
        <div class="leadership-info">

          <img src="assets/images/lak-pic.png" alt="Leadership_image">

          <div class="leadership-content founder-info">
            <h5 class="mb-0 designation">Co-Founder & CEO</h5>
            <h3>Lakshman</h3>
            <p>Entrepreneur & founder of a high-growth company providing Digital Transformation Services. Lakshman is the Chief Executive Officer of QBrainX. He is a former architect turned entrepreneur with passion of data, analytics, algorithms, and storytelling with data.​</p>
            <a href="/about/leadership/Lakshman" class="read-more">Read More</a><br>
            <a href="https://www.linkedin.com/in/lakshman-dhasarathan-14057110/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 mt-5">
        <div class="leadership-info">

          <img src="assets/images/raj-pic.png" alt="Leadership_image">

          <div class="leadership-content founder-info">
            <h5 class="mb-0 designation">Co-Founder & CTO</h5>
            <h3>Rajkumar</h3>
            <p>Entrepreneur & Co-founder of a high-growth company providing Digital Transformation Services.​ Rajkumar Selvam is the Chief Technology officer of QBrainX. In his current role, he is responsible for global delivery, sales, and marketing.​​</p>
            <a href="/about/leadership/Rajkumar" class="read-more">Read More</a><br>
            <a href="https://www.linkedin.com/in/rajkumar-selvam/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>
      </div>

    </div>

    <div class="row wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">

      <div class="clo-lg-12 leadership-category pt-50">
        <h3>Technology Leadership</h3>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 mt-5">
        <div class="leadership-info">

          <img src="assets/images/mani.png" alt="Leadership_image">

          <div class="leadership-content tech-leader-info">
            <h5 class="mb-0 designation">DIRECTOR - DATA ENGINEERING & ANALYTICS</h5>
            <h3>Manikandan</h3>
            <p>QBrainX is undoubtedly going to unlock the power of data with a seasoned leader, Manikandan, who has 20 years of extensive experience in developing and delivering cutting-edge data-driven solutions and analytics.</p>
            <a href="https://www.linkedin.com/in/manikandan-somasundaram-3244119b/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 mt-5">
        <div class="leadership-info">

          <img src="assets/images/dgt-prince.png" alt="Leadership_image">

          <div class="leadership-content tech-leader-info">
            <h5 class="mb-0 designation">DIRECTOR - HEAD OF DGT</h5>
            <h3>Prince Michael</h3>
            <p>Prince Michael specializes in system architecture and system development involving SOA cloud microservice architecture, reactive architecture, process automation, machine intelligence, and database technology. His expertise in the field of health and wellness is remarkable too.</p>
            <a href="https://www.linkedin.com/in/prince-michael-2b621a1a9/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 mt-5">
        <div class="leadership-info">

          <img src="assets/images/shenbagaraj_img 2.jpg" alt="Leadership_image">

          <div class="leadership-content tech-leader-info">
            <h5 class="mb-0 designation">VICE PRESIDENT OF TECHNOLOGIES</h5>
            <h3>Shenbagaraj Karuppuswamy</h3>
            <p>Shenbagaraj is a seasoned professional with 25+ years of experience in project and program management. He brings with him a wealth of experience and expertise in the technology field, with a remarkable track record of successfully leading and delivering complex projects.</p>

          </div>

        </div>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 mt-5">
        <div class="leadership-info">

          <img src="assets/images/kamalanathan.png" alt="Leadership_image">

          <div class="leadership-content tech-leader-info">
            <h5 class="mb-0 designation">DIRECTOR - ERP</h5>
            <h3>Kamalanathan Raja</h3>
            <p>Kamalanathan Raja is a stellar executive with more than 18 years of experience in wide-spanning domains and industries. Supply Chain Management, Spend Management, Supplier Performance Analysis, Cost Saving, Master Data Management, and Contract Management are a few of his expertise to mention.</p>
            <a href="https://www.linkedin.com/in/kamalanathan-raja-b9a40b60/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 mt-5">
        <div class="leadership-info">

          <img src="assets/images/senthil.png" alt="Leadership_image">

          <div class="leadership-content tech-leader-info">
            <h5 class="mb-0 designation">DIRECTOR - SERVICENOW</h5>
            <h3>Senthil Kumar M</h3>
            <p>Mr Senthil is an expert in information technology with experience spanning over 17+ years. He has played a commendable leadership role in his professional journey.</p>
            <a href="https://www.linkedin.com/in/senthil-kumar-mariappan/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>
      </div>      

    </div>

    <div class="row wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">

      <div class="clo-lg-12 leadership-category pt-50">
        <h3>Business Leadership</h3>
      </div>
      <div class="col-xl-6 col-lg-12 col-md-12 mt-5">
        <div class="leadership-info">

          <img src="assets/images/hari.png" alt="Leadership_image">

          <div class="leadership-content tech-leader-info">
            <h5 class="mb-0 designation">BUSINESS HEAD</h5>
            <h3>Hariharan</h3>
            <p>An experienced Outsourcing & Offshoring Professional who ensures IT solutions connect with client business operating requirements to achieve strategic and commercial objectives.</p>
            <a href="https://www.linkedin.com/in/hariharan-jayasingh-4144b621/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>
      </div>

    </div>  

  </div>
</section>