<!-- Digital Transformation section start here -->
<div class="card banner-wrp margin-bottom-2">

    <div class="card m-t-3">
        <div class="card-header">
            <div class="pull-left">
                <h4 class="card-title">Digital Transformation</h4>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary light px-3" data-bs-toggle="modal"
                    data-bs-target="#it-consulting-delete">
                    <i class="fa fa-trash"></i>
                </button>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th style="width:50px;">
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                    <label class="form-check-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th><strong>Tag Text</strong></th>
                            <th><strong>Title</strong></th>
                            <th><strong>Sub Title</strong></th>
                            <th><strong>Call to Action</strong></th>
                            <th><strong>Image</strong></th>
                            <th><strong></strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
                                    <label class="form-check-label" for="customCheckBox2"></label>
                                </div>
                            </td>
                            <td><strong>Our core services</strong></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="w-space-no">Salesforce</span>
                                </div>
                            </td>
                            <td> QBrainX's salesforce professional services.... </td>
                            <td>Discover more</td>
                            <td>
                                <div class="d-flex align-items-center"><i class="fa fa-circle text-success me-1"></i>
                                    Image</div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="modal"
                                        data-bs-target="#digital-trans-edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-danger shadow btn-xs sharp" data-bs-toggle="modal"
                                        data-bs-target="#digital-trans-delete">
                                        <i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal Edit start here -->
    <div class="modal fade" id="digital-trans-edit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Digital Transformation - Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="basic-form">
                        <form>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Tag Text</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Tag Text">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Sub Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Sub Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Call to Action</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="CTA">
                                </div>
                            </div>


                            <div class="input-group mb-3">

                                <div class="form-file">
                                    <input type="file" class="form-file-input form-control">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit end here -->


    <!-- Modal Delete start here -->
    <div class="modal fade" id="digital-trans-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <i class="fa fa-info-circle custom-ic" aria-hidden="true"></i> <br />
                    Are you sure to delete ?
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Yes Delete It!</button>
                    <button type="button" class="btn btn-primary">No Cancel It!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete end here -->
</div>

<!-- Digital Transformation section End here -->




<!-- Sales force section start here -->
<div class="card banner-wrp margin-bottom-2">
    <div class="card">
        <div class="card-header">
            <div class="pull-left">
                <h4 class="card-title">Salesforce</h4>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary light px-3" data-bs-toggle="modal"
                    data-bs-target="#salesforce-delete">
                    <i class="fa fa-trash"></i>
                </button>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th style="width:50px;">
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                    <label class="form-check-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th><strong>Tag Text</strong></th>
                            <th><strong>Title</strong></th>
                            <th><strong>Sub Title</strong></th>
                            <th><strong>Call to Action</strong></th>
                            <th><strong>Image</strong></th>
                            <th><strong></strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
                                    <label class="form-check-label" for="customCheckBox2"></label>
                                </div>
                            </td>
                            <td><strong>Our core services</strong></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="w-space-no">Salesforce</span>
                                </div>
                            </td>
                            <td> QBrainX's salesforce professional services.... </td>
                            <td>Discover more</td>
                            <td>
                                <div class="d-flex align-items-center"><i class="fa fa-circle text-success me-1"></i>
                                    Image</div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="modal"
                                        data-bs-target="#salesforce-edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-danger shadow btn-xs sharp" data-bs-toggle="modal"
                                        data-bs-target="#salesforce-delete">
                                        <i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal Edit start here -->
    <div class="modal fade" id="salesforce-edit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Salesforce - Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="salesforce-edit">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="basic-form">
                        <form>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Tag Text</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Tag Text">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Sub Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Sub Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Call to Action</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="CTA">
                                </div>
                            </div>


                            <div class="input-group mb-3">

                                <div class="form-file">
                                    <input type="file" class="form-file-input form-control">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit end here -->


    <!-- Modal Delete start here -->
    <div class="modal fade" id="salesforce-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <i class="fa fa-info-circle custom-ic" aria-hidden="true"></i> <br />
                    Are you sure to delete ?
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Yes Delete It!</button>
                    <button type="button" class="btn btn-primary">No Cancel It!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete end here -->
</div>

    <!-- Sales force section End here -->




<!-- ServiceNow section start here -->
<div class="card banner-wrp margin-bottom-2">
    <div class="card">
        <div class="card-header">
            <div class="pull-left">
                <h4 class="card-title">ServiceNow</h4>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary light px-3" data-bs-toggle="modal"
                    data-bs-target="#servicenow-delete">
                    <i class="fa fa-trash"></i>
                </button>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th style="width:50px;">
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                    <label class="form-check-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th><strong>Tag Text</strong></th>
                            <th><strong>Title</strong></th>
                            <th><strong>Sub Title</strong></th>
                            <th><strong>Call to Action</strong></th>
                            <th><strong>Image</strong></th>
                            <th><strong></strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
                                    <label class="form-check-label" for="customCheckBox2"></label>
                                </div>
                            </td>
                            <td><strong>Our core services</strong></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="w-space-no">Salesforce</span>
                                </div>
                            </td>
                            <td> QBrainX's salesforce professional services.... </td>
                            <td>Discover more</td>
                            <td>
                                <div class="d-flex align-items-center"><i class="fa fa-circle text-success me-1"></i>
                                    Image</div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="modal"
                                        data-bs-target="#servicenow-edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-danger shadow btn-xs sharp" data-bs-toggle="modal"
                                        data-bs-target="#servicenow-delete">
                                        <i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal Edit start here -->
    <div class="modal fade" id="servicenow-edit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ServiceNow - Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="basic-form">
                        <form>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Tag Text</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Tag Text">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Sub Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Sub Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Call to Action</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="CTA">
                                </div>
                            </div>


                            <div class="input-group mb-3">

                                <div class="form-file">
                                    <input type="file" class="form-file-input form-control">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit end here -->


    <!-- Modal Delete start here -->
    <div class="modal fade" id="servicenow-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <i class="fa fa-info-circle custom-ic" aria-hidden="true"></i> <br />
                    Are you sure to delete ?
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Yes Delete It!</button>
                    <button type="button" class="btn btn-primary">No Cancel It!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete end here -->
</div>

    <!-- ServiceNow section End here -->




    <!-- IT Consulting & Services section start here -->
<div class="card banner-wrp margin-bottom-2">
    <div class="card">
        <div class="card-header">
            <div class="pull-left">
                <h4 class="card-title">IT Consulting & Services</h4>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary light px-3" data-bs-toggle="modal"
                    data-bs-target="#servicenow-delete">
                    <i class="fa fa-trash"></i>
                </button>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th style="width:50px;">
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                    <label class="form-check-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th><strong>Tag Text</strong></th>
                            <th><strong>Title</strong></th>
                            <th><strong>Sub Title</strong></th>
                            <th><strong>Call to Action</strong></th>
                            <th><strong>Image</strong></th>
                            <th><strong></strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
                                    <label class="form-check-label" for="customCheckBox2"></label>
                                </div>
                            </td>
                            <td><strong>Our core services</strong></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="w-space-no">IT Consulting & Services</span>
                                </div>
                            </td>
                            <td> QBrainX's salesforce professional services.... </td>
                            <td>Discover more</td>
                            <td>
                                <div class="d-flex align-items-center"><i class="fa fa-circle text-success me-1"></i>
                                    Image</div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="modal"
                                        data-bs-target="#it-consulting-edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-danger shadow btn-xs sharp" data-bs-toggle="modal"
                                        data-bs-target="#it-consulting-delete">
                                        <i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal Edit start here -->
    <div class="modal fade" id="it-consulting-edit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">IT Consulting & Services - Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="basic-form">
                        <form>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Tag Text</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Tag Text">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Sub Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Sub Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Call to Action</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="CTA">
                                </div>
                            </div>


                            <div class="input-group mb-3">

                                <div class="form-file">
                                    <input type="file" class="form-file-input form-control">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit end here -->


    <!-- Modal Delete start here -->
    <div class="modal fade" id="it-consulting-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                <h5 class="modal-title">Are you sure to delete ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div> -->
                <div class="modal-body text-center">
                    <i class="fa fa-info-circle custom-ic" aria-hidden="true"></i> <br />
                    Are you sure to delete ?
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Yes Delete It!</button>
                    <button type="button" class="btn btn-primary">No Cancel It!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete end here -->
</div>

    <!-- IT Consulting & Services section End here -->





    <!-- SAP section start here -->
<div class="card banner-wrp margin-bottom-2">
    <div class="card">
        <div class="card-header">
            <div class="pull-left">
                <h4 class="card-title">SAP</h4>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary light px-3" data-bs-toggle="modal"
                    data-bs-target="#sap-delete">
                    <i class="fa fa-trash"></i>
                </button>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th style="width:50px;">
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                    <label class="form-check-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th><strong>Tag Text</strong></th>
                            <th><strong>Title</strong></th>
                            <th><strong>Sub Title</strong></th>
                            <th><strong>Call to Action</strong></th>
                            <th><strong>Image</strong></th>
                            <th><strong></strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
                                    <label class="form-check-label" for="customCheckBox2"></label>
                                </div>
                            </td>
                            <td><strong>Our core services</strong></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="w-space-no">SAP</span>
                                </div>
                            </td>
                            <td> QBrainX's salesforce professional services.... </td>
                            <td>Discover more</td>
                            <td>
                                <div class="d-flex align-items-center"><i class="fa fa-circle text-success me-1"></i>
                                    Image</div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="modal"
                                        data-bs-target="#sap-edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-danger shadow btn-xs sharp" data-bs-toggle="modal"
                                        data-bs-target="#sap-delete">
                                        <i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal Edit start here -->
    <div class="modal fade" id="sap-edit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">SAP - Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="basic-form">
                        <form>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Tag Text</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Tag Text">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Sub Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Sub Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Call to Action</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="CTA">
                                </div>
                            </div>


                            <div class="input-group mb-3">

                                <div class="form-file">
                                    <input type="file" class="form-file-input form-control">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit end here -->


    <!-- Modal Delete start here -->
    <div class="modal fade" id="sap-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                <h5 class="modal-title">Are you sure to delete ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div> -->
                <div class="modal-body text-center">
                    <i class="fa fa-info-circle custom-ic" aria-hidden="true"></i> <br />
                    Are you sure to delete ?
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Yes Delete It!</button>
                    <button type="button" class="btn btn-primary">No Cancel It!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete end here -->
</div>

    <!-- SAP section End here -->




    <!-- Data Solutions section start here -->
<div class="card banner-wrp margin-bottom-2">
    <div class="card">
        <div class="card-header">
            <div class="pull-left">
                <h4 class="card-title">Data Solutions</h4>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary light px-3" data-bs-toggle="modal"
                    data-bs-target="#data-solutions-delete">
                    <i class="fa fa-trash"></i>
                </button>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th style="width:50px;">
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                    <label class="form-check-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th><strong>Tag Text</strong></th>
                            <th><strong>Title</strong></th>
                            <th><strong>Sub Title</strong></th>
                            <th><strong>Call to Action</strong></th>
                            <th><strong>Image</strong></th>
                            <th><strong></strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                    <input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
                                    <label class="form-check-label" for="customCheckBox2"></label>
                                </div>
                            </td>
                            <td><strong>Our core services</strong></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="w-space-no">SAP</span>
                                </div>
                            </td>
                            <td> QBrainX's salesforce professional services.... </td>
                            <td>Discover more</td>
                            <td>
                                <div class="d-flex align-items-center"><i class="fa fa-circle text-success me-1"></i>
                                    Image</div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="modal"
                                        data-bs-target="#data-solutions-edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-danger shadow btn-xs sharp" data-bs-toggle="modal"
                                        data-bs-target="#data-solutions-delete">
                                        <i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal Edit start here -->
    <div class="modal fade" id="data-solutions-edit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Data Solutions - Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="basic-form">
                        <form>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Tag Text</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Tag Text">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Sub Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="Sub Title">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">Call to Action</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" placeholder="CTA">
                                </div>
                            </div>


                            <div class="input-group mb-3">

                                <div class="form-file">
                                    <input type="file" class="form-file-input form-control">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit end here -->


    <!-- Modal Delete start here -->
    <div class="modal fade" id="data-solutions-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <i class="fa fa-info-circle custom-ic" aria-hidden="true"></i> <br />
                    Are you sure to delete ?
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Yes Delete It!</button>
                    <button type="button" class="btn btn-primary">No Cancel It!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete end here -->
</div>

    <!-- Data Solutions section End here -->