<div class="inner-banner pt-100">

    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-md-12">
                <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">Contact Us
                </h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb gap-3">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="space-top space-extra-bottom pt-100 pb-100 contact-wrp-bg wow animate__animated animate__fadeInUp"
    data-wow-duration="1.5s">
    <div class="container">
        <div class="nav contact-tab-menu" id="nav-contactTab" role="tablist">
            <button class="nav-link active d-flex align-items-center justify-content-center" id="nav-GermanyAddress-tab"
                data-bs-toggle="tab" data-bs-target="#nav-GermanyAddress" type="button" role="tab"
                aria-controls="nav-GermanyAddress" aria-selected="true">
                <span class="btn-img">
                    <img src="assets/images/india-flag.png" width="70px" alt="contact">
                </span>
                <div class="d-flex flex-column"><span class="btn-title">INDIA</span>
                </div>
            </button>
            <button class="nav-link d-flex align-items-center justify-content-center" id="nav-AustraliaAddress-tab"
                data-bs-toggle="tab" data-bs-target="#nav-AustraliaAddress" type="button" role="tab"
                aria-controls="nav-AustraliaAddress" aria-selected="false">
                <span class="btn-img">
                    <img src="assets/images/usa-flag.png" width="70px" alt="contact">
                </span>
                <div class="d-flex flex-column"><span class="btn-title">USA</span>
                </div>
            </button>
            <button class="nav-link d-flex align-items-center justify-content-center" id="nav-contact-tab"
                data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                aria-selected="false"><span class="btn-img">
                    <img src="assets/images/dubai-flag.png" width="70px" alt="contact"></span>
                <div class="d-flex flex-column"><span class="btn-title">DUBAI</span>
                </div>
            </button>
            <button class="nav-link d-flex align-items-center justify-content-center" id="nav-UKAddress-tab"
                data-bs-toggle="tab" data-bs-target="#nav-UKAddress" type="button" role="tab"
                aria-controls="nav-contact" aria-selected="false"><span class="btn-img">
                    <img src="assets/images/uk.png" width="70px" alt="contact"></span>
                <div class="d-flex flex-column"><span class="btn-title">UK</span>
                </div>
            </button>

        </div>
        <div class="tab-content" id="nav-contactTabContent">
            <div class="tab-pane fade show active" id="nav-GermanyAddress" role="tabpanel"
                aria-labelledby="nav-GermanyAddress-tab">

                <div class="row">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="contact-box-bg">
                                <p><img height="250px" src="assets/images/hanudev-info-tech-park.jpg" alt="null">
                                </p>
                                <div class="content_element">
                                    <div class="wpb_wrapper">
                                        <h4>INDIA – Corporate Office</h4>
                                        <p>Hanudev Infopark, Coimbatore,<br>
                                            Tamil Nadu – 641028</p>

                                        <p>
                                            <a href="https://www.google.com/maps/place/QBrainX+India+Private+Limited+(Corporate+Office)/@11.01913,76.9957655,17z/data=!3m1!4b1!4m6!3m5!1s0x3ba859f5aed2e381:0xef274a62ad751524!8m2!3d11.01913!4d76.9957655!16s%2Fg%2F11f7bqpsqz?cid=17232824286833874212&coh=164777&entry=tt&shorturl=1"
                                                target="_blank"> <i class="fa fa-map-marker location-icon"
                                                    aria-hidden="true"></i></a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="contact-box-bg">
                                <p><img src="assets/images/TIDELPark_Coimbatore.jpg" alt="null">
                                </p>
                                <div class="content_element">
                                    <div class="wpb_wrapper">
                                        <h4>INDIA – Development Center</h4>
                                        <p>
                                            Module 101/2, 1<sup>st</sup> Floor Elcosez,<br /> Coimbatore – 641014.
                                        </p>
                                        <!-- <p>
                                            <a href="https://www.google.com/maps/place/QBrainX+India+Private+Limited+(Corporate+Office)/@11.01913,76.9957655,17z/data=!3m1!4b1!4m6!3m5!1s0x3ba859f5aed2e381:0xef274a62ad751524!8m2!3d11.01913!4d76.9957655!16s%2Fg%2F11f7bqpsqz?cid=17232824286833874212&coh=164777&entry=tt&shorturl=1"
                                                target="_blank"> <i class="fa fa-map-marker location-icon"
                                                    aria-hidden="true"></i></a>
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="contact-box-bg">
                                <p><img src="assets/images/Summit-info-park.jpg" alt="null">
                                </p>
                                <div class="content_element">
                                    <div class="wpb_wrapper">
                                        <h4>INDIA – Enterprise Solutions Center</h4>
                                        <p>Financial District, Gachibowli,<br />
                                            Hyderabad, Telangana- 500032</p>

                                        <p>
                                            <a href="https://www.google.com/maps/place/QBrainX+India+Private+Limited+(Customer+Experience+Center)/@17.4169142,78.3423777,15z/data=!4m6!3m5!1s0x3bcb952aaf60f989:0xc5eeca24cd3019a5!8m2!3d17.4169142!4d78.3423777!16s%2Fg%2F11kk50jbt1?hl=en"
                                                target="_blank"> <i class="fa fa-map-marker location-icon"
                                                    aria-hidden="true"></i></a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


              
            </div>
            <div class="tab-pane fade" id="nav-AustraliaAddress" role="tabpanel"
                aria-labelledby="nav-AustraliaAddress-tab">

                <div class="row">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="contact-box-bg">
                                <p><img src="assets/images/troy-office.jpg" alt="null">
                                </p>
                                <div class="content_element">
                                    <div class="wpb_wrapper">
                                        <h4>USA – Head Quarter</h4>
                                        <p>100 W Big Beaver Road, Suite 200</p>
                                        <p>
                                            <a href="https://www.google.com/maps/place/QBrainX/@42.5629879,-83.1500751,17z/data=!3m1!4b1!4m6!3m5!1s0x8824c4166aeaaaab:0xb52a72594abb41ba!8m2!3d42.5629879!4d-83.1500751!16s%2Fg%2F11hz677ftm?entry=ttu"
                                                target="_blank"> <i class="fa fa-map-marker location-icon"
                                                    aria-hidden="true"></i></a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="contact-box-bg">
                                <p><img src="assets/images/bentonville-office.jpg" alt="null">
                                </p>
                                <div class="content_element">
                                    <div class="wpb_wrapper">
                                        <h4>USA – Development Center</h4>
                                        <p>Bentonville, AR 72712</p>

                                        <p>
                                            <a href="https://www.google.com/maps/place/1116+S+Walton+Blvd,+Bentonville,+AR+72712,+USA/@36.359149,-94.2169083,17z/data=!3m1!4b1!4m6!3m5!1s0x87c9100bc9274421:0x44b550fb7ed2ba10!8m2!3d36.359149!4d-94.2169083!16s%2Fg%2F11bw3xbr__?entry=ttu"
                                                target="_blank"> <i class="fa fa-map-marker location-icon"
                                                    aria-hidden="true"></i></a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>

            </div>


            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                <div class="row">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="contact-box-bg">
                                <p><img src="assets/images/dubai.jpg" alt="null">
                                </p>
                                <div class="content_element">
                                    <div class="wpb_wrapper">
                                        <h4>DUBAI</h4>
                                        <p>Dubai Silicon Oasis,<br>DDP Building A1, Dubai, UAE</p>

                                        <p>
                                            <a href="https://www.google.com/maps/place/A1+building/@25.118646,55.3774993,17z/data=!3m1!4b1!4m6!3m5!1s0x3e5f6580a2b2d27d:0x4aea6ca8a0d4beff!8m2!3d25.118646!4d55.3774993!16s%2Fg%2F11lhd72ff9?cid=5398246574865563391&coh=164777&entry=tt&shorturl=1"
                                                target="_blank"> <i class="fa fa-map-marker location-icon"
                                                    aria-hidden="true"></i></a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>



            <div class="tab-pane fade" id="nav-UKAddress" role="tabpanel" aria-labelledby="nav-UKAddress-tab">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="contact-box-bg">
                                <p><img src="assets/images/uk-address.jpeg" alt="null">
                                </p>
                                <div class="content_element">
                                    <div class="wpb_wrapper">
                                        <h4>UK</h4>
                                        <p>Harrow HA3 5AE, United Kingdom</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <section class="container m-t-2">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ult-content-box">
                        <div class="wpb_text_column wpb_content_element  vc_custom_1692783121343">
                            <div class="wpb_wrapper">
                                <h3 style="text-align: center;">Contact Info</h3>
                                <h6>Email us</h6>
                                <p style="margin-top: 0px;"><a style="color: #000;" href="mailto:contact@qbrainx.com">
                                        <img class="img-siz" src="assets/images/email.png" /> contact@qbrainx.com
                                    </a></p>
                                <h6>Call us</h6>
                                <p style="margin-top: 0px;">
                                    <a style="color: #000;" href="tel:12486067880">
                                        <img class="img-siz" src="assets/images/us.png" /> +1 248-606-7880</a><br />
                                    <a style="color: #000;" href="tel:04227140892">
                                        <img class="img-siz" src="assets/images/india.png" /> 0422-714-0892</a><br />
                                    <a style="color: #000;" href="tel:04223508152">
                                        <img class="img-siz" src="assets/images/india.png" /> 0422-350-8152</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1G1E1d-2IQyMWkZ7pSucTxwNSyQDZDY4&ehbc=2E312F" width="100%" height="350"></iframe>
                </div>
            </div>



        </section>


    </div>
</section>