.pt-100 {
    padding-top: 100px;
}

.pb-50 {
    padding-bottom: 50px;
}

.news-info {
    p {
        line-height: 28px;
    }

    .quote {
        font-style: italic;
        font-weight: 600;
    }

    .content {
        width: 92%;
        text-align: justify;

       
    }
}