<section class="banner-section">
    <div class="container-fluid">
      <div class="row zoominheader">
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 text-start">
          <div class="banner-info">
              <h2>CRM Dynamics: Nurturing Relationships, Driving Growth</h2>
              <p>Nurture customer relationships and drive business growth with CRM, your strategic partner in understanding and serving your customers.</p>
              <a href="/contact"><button class="finbyz-button">Consult Now</button></a>

          </div>        
        </div>      
      </div>
    </div>
</section>

<section class="intro-section pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 intro-img">
          <img src="assets/images/customer-relationship_management.jpg" alt="intro-image" width="100%">
        </div>
        <div class="col-lg-6 intro-info">
          <h3>The business value of  Customer 360</h3>
          <p>Salesforce Customer 360 architecture connects your IT, service, marketing, sales, and commerce operations to provide a single complete view of every customer process across the cycle.</p>
          <p>Every out-of-the-box functionality comes pre-defined in the Salesforce Customer 360 tool. Service Cloud is pre-established in the Salesforce 360 connection. Email and drip campaigns in Marketing Cloud leverage content and data from Customer 360 platform. All data and events in Commerce Cloud are sent to Customer 360 connections.​</p>
        </div>
      </div>
    </div>
</section>

<section class="business-application pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">
      <div class="row">
        <div class="col-md-12 title text-center">
          <span>Solutions</span>
          <h3>Challenges resolved by Customer 360</h3> 
        </div>            
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/siloed-data.svg" alt="Connect">
            <h4>Siloed Data​</h4>
            <p>Integrating data from various sources, such as sales, service, marketing, and commerce, into a single unified platform. This allows businesses to have a holistic view of their customers and access all relevant information in one place​.</p>
          </div>
        </div>
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/incomplete-profile.svg" alt="Accelerate">
            <h4>Incomplete Customer Profile​</h4>
            <p>Customer 360 addresses this challenge by collecting data from multiple channels and touchpoints, including interactions from email, social media, website visits, and customer support.​</p>
          </div>
        </div>
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/data-analysis.svg" alt="Empower">
            <h4>Inefficient data analysis​</h4>
            <p>Customer 360 leverages Salesforce's AI capabilities, such as Einstein Analytics, to process and analyze vast amounts of customer data. It provides businesses with actionable insights, predictive analytics.</p>
          </div>
        </div>   
        <div class="col-lg-4 text-center mt-5">
            <div class="business-application-info h-100">
              <img src="assets/images/incomplete-collaboration.svg" alt="Empower">
              <h4>Lack of Collaboration​</h4>
              <p>Collaboration across teams is crucial for effective CRM. Salesforce Customer 360 provides a centralized platform where teams can collaborate, share customer information.​</p>
            </div>
        </div>                        
        <div class="col-lg-4 text-center mt-5">
            <div class="business-application-info h-100">
              <img src="assets/images/flexibility.svg" alt="Empower">
              <h4>Scalability and flexibility​</h4>
              <p>CRM systems need to be scalable and adaptable to meet evolving business needs. Salesforce Customer 360 offers a cloud-based platform that can scale with growing data volumes and user demands.​</p>
            </div>
        </div>                               
      </div>
    </div>
</section>        

<!-- <section class="case-study-section pt-50 bg-white wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <span>Case Study</span>
                <h3>Our Salesforce Case Studies</h3>
            </div>
        </div>

        <div class="row py-5 d-flex justify-content-center">

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div
                class="sigle-blog-1 wow fadeInDown"
                data-wow-duration="1.5s"
                data-wow-delay="0.4s"
              >
                <div class="blog-image">
                  <img
                    src="assets/images/quickest_path_master_data_image.jpg"
                    class="img-fluid"
                    alt="image"
                  />
                </div>
                <div class="blog-content hover-border1">
                  <span>Salesforce</span>
                  <h4>
                    <a href="/case-study-detail">Winshuttle for Master data provides the Quickest Path to Better Salesforce Master Data</a>
                  </h4>             
                </div>
              </div>
          </div>  
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
            <div
              class="sigle-blog-1 wow fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.4s"
            >
              <div class="blog-image">
                <img
                  src="assets/images/data_structure_image.jpg"
                  class="img-fluid"
                  alt="image"
                />
              </div>
              <div class="blog-content hover-border1">
                <span>Salesforce</span>
                <h4>
                  <a href="/case-study-detail">Warehouse Management application for Logistics truckload brokerage</a>
                </h4>             
              </div>
            </div>
        </div>  
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
          <div
            class="sigle-blog-1 wow fadeInDown"
            data-wow-duration="1.5s"
            data-wow-delay="0.4s"
          >
            <div class="blog-image">
              <img
                src="assets/images/case_management_salesforce_case-study.jpg"
                class="img-fluid"
                alt="image"
              />
            </div>
            <div class="blog-content hover-border1">
              <span>Salesforce</span>
              <h4>
                <a href="/blog-detail">Mid server down status – notification over email and ms team</a>
              </h4>             
            </div>
          </div>
      </div>                        

      </div>
    </div>
</section> -->

<section class="join-section pt-50 pb-50">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp"
            data-wow-duration="1.5s" data-wow-delay="0.4s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp"
                    data-wow-duration="1.5s" data-wow-delay="0.6s">
    
                   <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>

    
                </div>
            </div>
        </div>
    </div>
</section>