<div class="card banner-wrp">
    <div class="card-header d-flex align-items-center justify-content-between">
        <div class="pull-left">
            <h4 class="card-title mb-0">Add New Success Storie</h4>
        </div>
        <div class="pull-right">
            <button type="button" (click)="getAllstoryDetails()" class="btn btn-primary light px-3" data-bs-toggle="modal"
                data-bs-target="#banner-delete">
                <i class="fa fa-trash"></i>
            </button>
            <button type="button" (click)="getAllstoryDetails()" class="btn btn-primary light px-3" data-bs-toggle="modal"
                data-bs-target="#model-edit">
                <i class="fa fa-edit"></i></button>

        </div>
    </div>
    <div class="col-md-12">

        <div class="card-body">
            <div class="basic-form">
                <form [formGroup]="StoryForm">

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Storie Category</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-lg" formControlName="title" >
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Storie Title</label>
                        <div class="col-sm-10">

                            <textarea class="form-control" rows="4" id="comment" formControlName="subTitle"></textarea>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg"> Storie Image</label>
                        <div class="col-sm-10 form-file">
                            <input #StoryImageInput type="file" class="form-file-input form-control" id="StoryImage"(change)="testImage($event)">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg"> Stories Document</label>
                        <div class="col-sm-10 form-file">
                            <input #StoryDocumentInput type="file" class="form-file-input form-control" id="StoryDocument"(change)="testdocument($event)">
                        </div>
                    </div>

                   
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Story Details</label>
                        <div class="col-sm-10">
                            <quill-editor formControlName="text" [config]="quillConfig"></quill-editor>
                        </div>
                    </div>
                    
                    <button type="button" class="btn btn-danger btn-margin" (click)="clearForm()">Clear</button>
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#banner-create">Publish</button>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal for confirm starts here -->
<div class="modal fade" id="banner-create">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-check-circle custom-ic" aria-hidden="true"></i> <br />
                Are you sure to submit?
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form>
                    
                        <div align="right">
                        <button type="button" class="btn btn-danger btn-margin" data-bs-dismiss="modal">Close</button> 
                        <button type="submit" (click)="storySubmit()" class="btn btn-success"  data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="banner-delete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-info-circle custom-ic" aria-hidden="true"></i> <br />
                Are you sure to delete ?
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form [formGroup]="StoryDelete">
                        <div class="p-3 row">
                            <label class="col-form-label col-form-label-lg">Select Story</label>
                            <div>
                                <select
                                #selectElem class="default-select form-control wide mb-3 form-control-lg" (change)="onChange($event)">
                                    <option value="">--Select Story--</option> 
                                    <option *ngFor="let item of StoryDetails" [value]="item.id">{{item.title}}</option>                                                                   
                                </select>
                            </div>
                        </div>
                        <div align="center" class="mb-5">
                            <button type="submit" class="btn btn-delete light btn-margin"(click)="delete()">Delete</button>
                            <input type="hidden" class="form-control form-control-lg" value="{{ formEdit ?  StoryObj.id: '' }}" [ngModel]="formEdit ? StoryObj.id : '' " formControlName="id">
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete end here -->



<!-- Modal Edit start here -->
<div class="modal fade" id="model-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Success Storie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form [formGroup]="StoryUpdate">
                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg">Select Story</label>
                            <div class="col-sm-12">
                                <select
                                class="default-select form-control wide mb-3 form-control-lg" (change)="onChange($event)">
                                   <option value="">--Select Story--</option>
                                   <option *ngFor="let item of StoryDetails" [value]="item.id">{{item.title}}</option>
                               </select>
                            </div>
                        </div>  
                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg">Storie Category</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg"  value="{{ formEdit ?  StoryObj.title: '' }}" [ngModel]="formEdit ? StoryObj.title : '' " formControlName="title" >
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg">Storie Title</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg"  value="{{ formEdit ?  StoryObj.subTitle: '' }}" [ngModel]="formEdit ? StoryObj.subTitle : '' " formControlName="subTitle" >
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg">Storie Details</label>
                            <div class="col-sm-12">
                                <quill-editor formControlName="text" [ngModel]="formEdit ?  StoryObj.text: ''" value="{{formEdit ?  StoryObj.text: ''}}"
                                [config]="quillConfig"></quill-editor>
                            </div>
                        </div>
                      
                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg"> Storie Image</label>
                            <div class="col-sm-12 form-file">
                                <input #StoryImageInput type="file" id="bannerImage" class="form-file-input form-control" (change)="testImage($event)">
                                <span *ngIf="formEdit ? StoryObj.fileName?.length: ''">Uploded image: {{formEdit ? StoryObj.fileName : ''}}</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg">Storie Document</label>
                            <div class="col-sm-12 form-file">
                                <input  #StoryDocumentInput type="file" id="StoryDocument" class="form-file-input form-control" (change)="testdocument($event)">
                                <span *ngIf="formEdit ? StoryObj.downloadFile?.length: ''">Uploded image: {{formEdit ? StoryObj.downloadFile : ''}}</span>
                            </div>
                        </div>
                        <div align="right">
                            <button type="submit" (click)="storyUpdate()" class="btn btn-danger light btn-margin" data-bs-dismiss="modal" >Update</button>
                            <input type="hidden" class="form-control form-control-lg" value="{{ formEdit ?  StoryObj.id: '' }}" [ngModel]="formEdit ? StoryObj.id : '' " formControlName="id">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit end here -->


