<!-- blog-comments.component.html -->
<div class="card banner-wrp">
    <div class="card-header d-flex text-center">
       
        <h4 class="card-title col-sm-10 mx-auto mt-2">Excel Download's </h4>

    </div>
    <div class="col-md-12">
      <div class="card-body">
        <div class="button-container">
          <button type="button" class="btn btn-success btn-margin excel-button" (click)="downloadExcel(blogComments, 'blog_comments')"> Blog Comments</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card banner-wrp">
    <div class="col-md-13">
      <div class="card-body">
        <div class="button-container">
          <button type="button" class="btn btn-success btn-margin excel-button" (click)="generatePdf()"> Career Registers</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card banner-wrp">
    <div class="col-md-12">
      <div class="card-body">
        <div class="button-container">
          <button type="button" class="btn btn-success btn-margin excel-button" (click)="downloadExcel(letsTalkData, 'lets_talk')"> Lets Talk Data</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card banner-wrp">
    <div class="col-md-12">
      <div class="card-body">
        <div class="button-container">
          <button type="button" class="btn btn-success btn-margin excel-button" (click)="downloadExcel(persons, 'persons')"> Persons Data</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card banner-wrp">
    <div class="col-md-12">
      <div class="card-body">
        <div class="button-container">
          <button type="button" class="btn btn-success btn-margin excel-button" (click)="downloadExcel(webinarRegisters, 'webinar_registers')"> Webinar Registers</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card banner-wrp">
    <div class="col-md-12">
      <div class="card-body">
        <div class="button-container">
          <button type="button" class="btn btn-success btn-margin excel-button" (click)="downloadExcel(emailSubscriptions, 'email_subscriptions')"> Email Subscriptions</button>
        </div>
      </div>
    </div>
  </div>
  