<!-- <section class="banner-section pt-100">
  <div class="container-fluid">
    <div class="row zoominheader">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
        <div class="banner-info">
            <h2>SAP</h2>
            <p>QBrainX’s SAP services include the design, development, implementation, and integration of SAP solutions to become best-run businesses.</p>
            <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
        </div>        
      </div>      
    </div>
  </div>
</section> -->

<nav class="pt-100 fixed-top service-nav bg-white">
    <div class="nav nav-tabs nav-pills flex-column flex-sm-row" id="nav-tab" role="tablist">
      <button class="flex-sm-fill text-sm-center nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">SAP S/4HANA</button>
      <button class="flex-sm-fill text-sm-center nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">SAP SuccessFactors</button>
      <button class="flex-sm-fill text-sm-center nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">SAP Business One</button>
      <button class="flex-sm-fill text-sm-center nav-link" id="nav-three-tab" data-bs-toggle="tab" data-bs-target="#nav-three" type="button" role="tab" aria-controls="nav-three" aria-selected="false">SAP Ariba</button>
      <button class="flex-sm-fill text-sm-center nav-link" id="nav-four-tab" data-bs-toggle="tab" data-bs-target="#nav-four" type="button" role="tab" aria-controls="nav-four" aria-selected="false">Concur</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">                  
        <section class="banner-section pt-100">
          <div class="container-fluid">
            <div class="row zoominheader">
              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 text-start">
                <div class="banner-info">
                    <h2>S/4HANA Revolution: Transforming Business Realities</h2>
                    <p>Experience the harmonious convergence of intelligence and efficiency with SAP S/4HANA, reshaping your business landscape.</p>
                    <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
                </div>        
              </div>      
            </div>
          </div>
        </section>

        <section class="intro-section pt-50 pb-50">
            <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
            <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 intro-img">
                  <img src="assets/images/unlocking_power_of_hana.jpg" alt="intro-image" width="100%">
                </div>
                <div class="col-lg-6 intro-info">
                  <h3>Unlocking the Power of SAP S/4 HANA</h3>
                  <p>SAP S/4 HANA is an integrated, next-generation enterprise resource planning (ERP) suite developed by SAP SE, a global leader in enterprise software. S/4HANA stands for "SAP Business Suite 4 SAP HANA," signifying its close integration with the SAP HANA in memory database system. QBrainX helps you to streamline your business processes, make data-driven decisions in real-time, and drive digital transformation with this ERP suite.</p>
                </div>
              </div>
            </div>
        </section>

        <section class="business-application pt-50 pb-50">
            <div class="container">
              <div class="row">
                <div class="col-md-12 title text-center">
                  <span>Key Characteristics</span>
                  <h3>Components of SAP S/4HANA</h3> 
                </div>            
              </div>
              <div class="row pt-5 d-flex justify-content-center">
                <div class="col-lg-4 text-center">
                  <div class="business-application-info">
                    <img src="assets/images/memory-computing.svg" alt="Connect">
                    <h4>In-Memory Computing</h4>
                    <!-- <p>and customize experiences</p> -->
                  </div>
                </div>
                <div class="col-lg-4 text-center">
                  <div class="business-application-info">
                    <img src="assets/images/supply-chain-management.svg" alt="Accelerate">
                    <h4>Advance Supply Chain Management</h4>
                    <!-- <p>Innovation by starting with integration</p> -->
                  </div>
                </div>
                <div class="col-lg-4 text-center">
                  <div class="business-application-info">
                    <img src="assets/images/central-finance.svg" alt="Empower">
                    <h4>Central Finance</h4>
                    <!-- <p>Practitioners beyond central IT</p> -->
                  </div>
                </div>   
                <div class="col-lg-4 text-center">
                    <div class="business-application-info">
                      <img src="assets/images/integration.svg" alt="Empower">
                      <h4>End-to-End Integration</h4>
                      <!-- <p>Practitioners beyond central IT</p> -->
                    </div>
                </div>                        
                <div class="col-lg-4 text-center">
                    <div class="business-application-info">
                      <img src="assets/images/analytics.svg" alt="Empower">
                      <h4>Advanced Analytics and AI</h4>
                      <!-- <p>Practitioners beyond central IT</p> -->
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="business-application-info">
                      <img src="assets/images/cloud-on-premis.svg" alt="Empower">
                      <h4>Cloud/On Premise</h4>
                      <!-- <p>Practitioners beyond central IT</p> -->
                    </div>
                </div>                        
              </div>
            </div>
        </section>

        <section class="highlights-section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
            <div class="container info">
                <div class="row pt-5">
                    <div class="col-md-12 title text-center">
                        <span>Work Flow</span>
                        <h3>SAP S/4HANA Work Flow</h3>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-lg-12">
                        <div class="work-process-area">
                            <div class="row g-4 d-flex justify-content-center">
                                <div class="col-md-2 col-sm-6">
                                    <div class="work-process-item text-center">
                                        <img src="/assets/images/p2p.svg" alt="image" width="50px">
                                        <h4 class="pt-3">Procure to Pay (P2P)</h4>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <div class="work-process-item text-center">
                                        <img src="/assets/images/order-to-cash.svg" alt="image" width="50px">
                                        <h4 class="pt-3">Order to Cash (O2C)</h4>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <div class="work-process-item text-center">
                                        <img src="/assets/images/plan-to-produce.svg" alt="image" width="50px">
                                        <h4 class="pt-3">Plan to Produce (P2P)​</h4>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <div class="work-process-item text-center">
                                        <img src="/assets/images/report.svg" alt="image" width="50px">
                                        <h4 class="pt-3">Record to Report (R2R)​</h4>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <div class="work-process-item text-center">
                                        <img src="/assets/images/hire-to-retire.svg" alt="image" width="50px">
                                        <h4 class="pt-3">Hire to Retire (H2R)​</h4>
                                    </div>
                                </div>                                                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section class="case-study-section pt-50">
            <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
            <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title text-center">
                        <span>Case Study</span>
                        <h3>Our SAP Case Studies</h3>
                    </div>
                </div>
        
                <div class="row py-5 d-flex justify-content-center">

                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
                      <div
                        class="sigle-blog-1 wow fadeInDown"
                        data-wow-duration="1.5s"
                        data-wow-delay="0.4s"
                      >
                        <div class="blog-image">
                          <img
                            src="assets/images/quickest_path_master_data_image.jpg"
                            class="img-fluid"
                            alt="image"
                          />
                        </div>
                        <div class="blog-content hover-border1">
                          <span>SAP</span>
                          <h4>
                            <a href="/case-study-detail">Winshuttle for Master data provides the Quickest Path to Better SAP Master Data</a>
                          </h4>             
                        </div>
                      </div>
                  </div>  
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
                    <div
                      class="sigle-blog-1 wow fadeInDown"
                      data-wow-duration="1.5s"
                      data-wow-delay="0.4s"
                    >
                      <div class="blog-image">
                        <img
                          src="assets/images/data_structure_image.jpg"
                          class="img-fluid"
                          alt="image"
                        />
                      </div>
                      <div class="blog-content hover-border1">
                        <span>SAP</span>
                        <h4>
                          <a href="/case-study-detail">Warehouse Management application for Logistics truckload brokerage</a>
                        </h4>             
                      </div>
                    </div>
                </div>  
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
                  <div
                    class="sigle-blog-1 wow fadeInDown"
                    data-wow-duration="1.5s"
                    data-wow-delay="0.4s"
                  >
                    <div class="blog-image">
                      <img
                        src="assets/images/case_management_salesforce_case-study.jpg"
                        class="img-fluid"
                        alt="image"
                      />
                    </div>
                    <div class="blog-content hover-border1">
                      <span>SAP</span>
                      <h4>
                        <a href="/blog-detail">Mid server down status – notification over email and ms team</a>
                      </h4>             
                    </div>
                  </div>
              </div>                        
    
              </div>
            </div>
        </section> -->
      
    </div>
    <div class="tab-pane fade successfactor" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">  
      <section class="banner-section pt-100">
        <div class="container-fluid">
          <div class="row zoominheader">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 text-start">
              <div class="banner-info">
                  <h2>SuccessFactors Momentum: Empowering Your Talent Journey</h2>
                  <p>Ignite success across your organization with SAP SuccessFactors, empowering your talent journey towards excellence and innovation.</p>
                  <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
              </div>        
            </div>      
          </div>
        </div>
      </section>              

        <section class="intro-section pt-50 pb-50">
            <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
            <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 intro-img">
                  <img src="assets/images/successfactor.jpg" alt="intro-image" width="100%">
                </div>
                <div class="col-lg-6 intro-info">
                  <h3>SAP SuccessFactors</h3>
                  <p>SAP SuccessFactors is a cloud-based HR solution that helps organizations manage various HR operations with ease. It is based on the Software as a Service (SaaS) model. It is designed to meet the requirement of enterprise-class organizations. SAP SuccessFactors also helps you to improve business execution and get better results.</p>
                </div>
              </div>
            </div>
        </section>

        <section class="business-application pt-50 pb-50">
            <div class="container">
              <div class="row">
                <div class="col-md-12 title text-center">
                  <span>Process</span>
                  <h3>Process Flow of SAP SuccessFactors</h3> 
                </div>            
              </div>
              <div class="row pt-3 d-flex justify-content-center">
                <div class="col-lg-4 text-center mt-5">
                  <div class="business-application-info h-100">
                    <img src="assets/images/recruitment.svg" alt="Connect">
                    <h4>Recruitment​</h4>
                    <p>Job Requisition, Candidate Sourcing, Candidate Application, Interview and Selection, Offer and Onboarding</p>
                  </div>
                </div>
                <div class="col-lg-4 text-center mt-5">
                  <div class="business-application-info h-100">
                    <img src="assets/images/csm-icon.svg" alt="Accelerate">
                    <h4>Onboarding</h4>
                    <p>New Hire Data Collection, Orientation and Training, Employee Documentation​</p>
                  </div>
                </div>
                <div class="col-lg-4 text-center mt-5">
                  <div class="business-application-info h-100">
                    <img src="assets/images/performance-management.svg" alt="Empower">
                    <h4>Performance Management</h4>
                    <p>Goal Setting, Ongoing Feedback, Performance Reviews, Appraisal and Rating​</p>
                  </div>
                </div>
                <div class="col-lg-4 text-center mt-5">
                    <div class="business-application-info h-100">
                      <img src="assets/images/compensation.svg" alt="Empower">
                      <h4>Compensation Management​</h4>
                      <p>Salary Planning, Compensation Review, Bonus and Incentive Management​</p>
                    </div>
                </div> 
                <div class="col-lg-4 text-center mt-5">
                    <div class="business-application-info h-100">
                      <img src="assets/images/analytics.svg" alt="Empower">
                      <h4>Analytics and Reporting</h4>
                      <p>Data Analysis, Data Visualization​</p>
                    </div>
                </div>                          
              </div>
            </div>
        </section>        
    </div>
    <div class="tab-pane fade business_one" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">         
      <section class="banner-section pt-100">
        <div class="container-fluid">
          <div class="row zoominheader">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
              <div class="banner-info">
                  <h2>Business One Dynamics: Growing with Confidence</h2>
                  <p>Empower small and midsize businesses with SAP Business One, cultivating growth, efficiency, and confidence in every operation.</p>
                  <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
              </div>        
            </div>      
          </div>
        </div>
      </section>
      <section class="intro-section pt-50 pb-50">
        <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
        <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 intro-img">
              <img src="assets/images/sap_business_one.jpg" alt="intro-image" width="100%">
            </div>
            <div class="col-lg-6 intro-info">
              <h3>Introduction of SAP Business One</h3>
              <p>SAP Business One is a comprehensive, integrated business management solution designed specifically for small and medium-sized enterprises (SMEs). QbrainX  empower your businesses to streamline operations, make informed decisions, and drive growth in a competitive marketplace.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="business-application pt-50 pb-50">
        <div class="container">
          <div class="row">
            <div class="col-md-12 title text-center">
              <span>Process</span>
              <h3>SAP Process Flow</h3> 
            </div>            
          </div>
          <div class="row pt-5 d-flex justify-content-center">
            <div class="col-lg-3 text-center">
              <div class="business-application-info h-100">
                <img src="assets/images/sales.svg" alt="Connect">
                <h4>Sales and Customer Management​</h4>
                <!-- <p>SAP HANA stores and Processes data in memory, allowing for faster data access and analysis.</p> -->
              </div>
            </div>
            <div class="col-lg-3 text-center">
              <div class="business-application-info h-100">
                <img src="assets/images/Inventory.svg" alt="Accelerate">
                <h4>Inventory and Production Management</h4>
                <!-- <p>With SAP HANA  you can perform real-time Analysis on large volumes of data, enabling quick insights and decision-making.​</p> -->
              </div>
            </div>
            <div class="col-lg-3 text-center">
              <div class="business-application-info h-100">
                <img src="assets/images/finance.svg" alt="Empower">
                <h4>Finance and Accounting</h4>
                <!-- <p>It allows for seamless integration with various data sources, both structured and unstructured, enabling a unified view of data.​</p> -->
              </div>
            </div>                           
            <div class="col-lg-3 text-center">
              <div class="business-application-info h-100">
                <img src="assets/images/report.svg" alt="Empower">
                <h4>Reporting and Analytics​</h4>
                <!-- <p>It allows for seamless integration with various data sources, both structured and unstructured, enabling a unified view of data.​</p> -->
              </div>
            </div>                           
          </div>
        </div>
      </section>    

    </div>
    <div class="tab-pane fade sap-ariba" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">            
      <section class="banner-section pt-100">
        <div class="container-fluid">
          <div class="row zoominheader">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 text-start">
              <div class="banner-info">
                  <h2>Ariba Advantage: Transforming Procurement Excellence</h2>
                  <p>Reimagine procurement with SAP Ariba, unlocking efficiency and collaboration in the supply chain for sustainable business success.</p>
                  <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
              </div>        
            </div>      
          </div>
        </div>
      </section>
      <section class="intro-section pt-50 pb-50">
        <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
        <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 intro-img">
              <img src="assets/images/sap_ariba.jpg" alt="intro-image" width="100%">
            </div>
            <div class="col-lg-6 intro-info">
              <h3>Unleashing  Procurement Excellence with SAP Ariba</h3>
              <p>SAP Ariba SAP Ariba is a portfolio of spend management solutions that enables businesses to optimize costs and spending and identify savings opportunities. You can streamline your direct and indirect spending and strategic sourcing on one platform in the cloud and integrate other SAP procurement solutions to get a unified view of your overall spend.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="business-application pt-50 pb-50">
        <div class="container">
          <div class="row">
            <div class="col-md-12 title text-center">
              <span>Features</span>
              <h3>SAP Ariba Features</h3>               
            </div>            
          </div>
          <div class="row pt-3 d-flex justify-content-center">
            <div class="col-lg-4 text-center">
              <div class="business-application-info">
                <img src="assets/images/Procurement.svg" alt="Connect">
                <h4>Ariba Procurement​</h4>
                <!-- <p>and customize experiences</p> -->
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="business-application-info">
                <img src="assets/images/analytics.svg" alt="Accelerate">
                <h4>Ariba Spend Analysis</h4>
                <!-- <p>Innovation by starting with integration</p> -->
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="business-application-info">
                <img src="assets/images/supplier_management.svg" alt="Empower">
                <h4>Ariba Supplier Management​</h4>
                <!-- <p>Practitioners beyond central IT</p> -->
              </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="business-application-info">
                  <img src="assets/images/contract.svg" alt="Empower">
                  <h4>Ariba Contracts</h4>
                  <!-- <p>Practitioners beyond central IT</p> -->
                </div>
            </div>                           
            <div class="col-lg-4 text-center">
                <div class="business-application-info">
                  <img src="assets/images/sourcing.svg" alt="Empower">
                  <h4>Ariba Sourcing</h4>
                  <!-- <p>Practitioners beyond central IT</p> -->
                </div>
            </div>
          </div>
        </div>
      </section>     
      
      <section class="highlights-section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
        <div class="container info">
            <div class="row pt-5">
                <div class="col-md-12 title text-center">
                    <span>Work Flow</span>
                    <h3>SAP Ariba Work Flow</h3>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-12">
                    <div class="work-process-area">
                        <div class="row g-4 d-flex justify-content-center">
                            <div class="col-md-3 col-sm-6">
                                <div class="work-process-item text-center">
                                    <img src="/assets/images/sourcing.svg" alt="image" width="50px">
                                    <h4 class="pt-3">Sourcing</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="work-process-item text-center">
                                    <img src="/assets/images/contract.svg" alt="image" width="50px">
                                    <h4 class="pt-3">Contract</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="work-process-item text-center">
                                    <img src="/assets/images/buying.svg" alt="image" width="50px">
                                    <h4 class="pt-3">Buying​</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="work-process-item text-center">
                                    <img src="/assets/images/invoice.svg" alt="image" width="50px">
                                    <h4 class="pt-3">Invoicing​</h4>
                                </div>
                            </div>                                                                                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

    </div>
    <div class="tab-pane fade" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab">                        
      <section class="banner-section pt-100">
        <div class="container-fluid">
          <div class="row zoominheader">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 text-start">
              <div class="banner-info">
                  <h2>Concur Travel & Expense: Streamlining Business Journey</h2>
                  <p>Simplify and optimize business travel with Concur, where seamless expense management meets effortless business journeys.</p>
                  <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
              </div>        
            </div>      
          </div>
        </div>
      </section>
      <section class="intro-section pt-50 pb-50">
        <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
        <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 intro-img">
              <img src="assets/images/concur.jpg" alt="intro-image" width="100%">
            </div>
            <div class="col-lg-6 intro-info">
              <h3>SAP Concur</h3>
              <p>SAP Concur is a leading provider of cloud-based business travel, expense and invoice management software for businesses of all sizes. It enables you and your employees easily, quickly and manage business travel data and expenses through a mobile device (e.g. Laptop, smartphone or tablet). It provides full visibility into all expenditures, helping you to control costs, save time, as well as ensuring policy and regulatory compliance.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="business-application pt-50 pb-50">
        <div class="container">
          <div class="row">
            <div class="col-md-12 title text-center">
              <span>Workflow</span>
              <h3>SAP Concur Workflow</h3> 
              <!-- <p class="pt-3">Work processes execute the individual dialog steps of ABAP application programs. They are components of ABAP application servers. The next two sections describe firstly the structure of a work process, and secondly the different types of work process in SAP NetWeaver AS ABAP</p> -->
            </div>            
          </div>
          <div class="row pt-3 d-flex justify-content-center">
            <div class="col-lg-4 text-center">
              <div class="business-application-info">
                <img src="assets/images/expense.svg" alt="Connect">
                <h4>Expense Creation​</h4>
                <!-- <p>Access control to ensure only authorized personnel can input data.</p> -->
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="business-application-info">
                <img src="assets/images/submission.svg" alt="Accelerate">
                <h4>Submission</h4>
                <!-- <p>Encryption and data classification to protect sensitive information.</p> -->
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="business-application-info">
                <img src="assets/images/approval.svg" alt="Empower">
                <h4>Manager Approval</h4>
                <!-- <p>Secure transmission of data to external systems or users.</p> -->
              </div>
            </div> 
            <div class="col-lg-4 text-center">
              <div class="business-application-info">
                <img src="assets/images/compensation.svg" alt="Empower">
                <h4>Finance and Policy Checks</h4>
                <!-- <p>Monitoring for unusual activities or deviations from expected patterns.</p> -->
              </div>
            </div> 
            <div class="col-lg-4 text-center">
              <div class="business-application-info">
                <img src="assets/images/finance.svg" alt="Empower">
                <h4>Payment and Reimbursement​</h4>
                <!-- <p>Monitoring for unusual activities or deviations from expected patterns.</p> -->
              </div>
            </div>                          
          </div>
        </div>
      </section>

      <!-- <section class="case-study-section pt-50 bg-white">   
        <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
        <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">     
        <div class="container">
            <div class="row">
                <div class="col-md-12 title text-center">
                    <span>Case Study</span>
                    <h3>Our SAP Case Studies</h3>
                </div>
            </div>
    
            <div class="row py-5 d-flex justify-content-center">

              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
                  <div
                    class="sigle-blog-1 wow fadeInDown"
                    data-wow-duration="1.5s"
                    data-wow-delay="0.4s"
                  >
                    <div class="blog-image">
                      <img
                        src="assets/images/quickest_path_master_data_image.jpg"
                        class="img-fluid"
                        alt="image"
                      />
                    </div>
                    <div class="blog-content hover-border1">
                      <span>SAP</span>
                      <h4>
                        <a href="/case-study-detail">Winshuttle for Master data provides the Quickest Path to Better SAP Master Data</a>
                      </h4>             
                    </div>
                  </div>
              </div>  
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
                <div
                  class="sigle-blog-1 wow fadeInDown"
                  data-wow-duration="1.5s"
                  data-wow-delay="0.4s"
                >
                  <div class="blog-image">
                    <img
                      src="assets/images/data_structure_image.jpg"
                      class="img-fluid"
                      alt="image"
                    />
                  </div>
                  <div class="blog-content hover-border1">
                    <span>SAP</span>
                    <h4>
                      <a href="/case-study-detail">Warehouse Management application for Logistics truckload brokerage</a>
                    </h4>             
                  </div>
                </div>
            </div>  
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div
                class="sigle-blog-1 wow fadeInDown"
                data-wow-duration="1.5s"
                data-wow-delay="0.4s"
              >
                <div class="blog-image">
                  <img
                    src="assets/images/case_management_salesforce_case-study.jpg"
                    class="img-fluid"
                    alt="image"
                  />
                </div>
                <div class="blog-content hover-border1">
                  <span>SAP</span>
                  <h4>
                    <a href="/blog-detail">Mid server down status – notification over email and ms team</a>
                  </h4>             
                </div>
              </div>
          </div>                        

          </div>
        </div>
      </section> -->
    </div>
</div>


 <div class="case-study-section pt-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <span>Case Study</span>
                <h3>Our SAP Case Studies</h3>
            </div>
        </div>
        <div class="row py-5 d-flex justify-content-center">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info wow animate__animated animate__fadeInUp"
              data-wow-duration="1.5s" data-wow-delay="0.6s" *ngFor="let caseStudy of caseStudyArrayList;let i=index" >
              <div class="sigle-blog-1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                  <div class="blog-image">
                      <img
                      src="data:image/{{caseStudy.extension}};base64,{{caseStudy.image}}"
                      class="img-fluid"
                      alt="image"
                    />
                  </div>
                  <div class="blog-content hover-border1" (click)="caseStudydetails(caseStudy)">
                      <span>{{caseStudy.category}}</span>
                      <h4>
                          <a>{{caseStudy.title}}</a>
                      </h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="row" *ngIf="caseStudyArrayList.length >= itemsPerPage">
        <div class="col-lg-12 d-flex justify-content-center mt-5 pagination-wrap">
          <div class="pagination d-flex align-items-center">
            <button class="pagination-btn" (click)="changePreviousPage()" [disabled]="currentPage === 1">Previous</button>
            <span> {{ currentPage }}</span>
            <button class="pagination-btn" (click)="changeNextpage()" [disabled]="currentPage === lastpage">Next</button>
          </div>
        </div>      
      </div>
    </div>
</div>

<section class="join-section pt-50 pb-50">
  <div class="container">
      <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp"
          data-wow-duration="1.5s" data-wow-delay="0.4s">
          <div class="row d-flex align-items-center g-4">
              <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                  <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>
              </div>
              <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp"
                  data-wow-duration="1.5s" data-wow-delay="0.6s">
  
                 <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>

  
              </div>
          </div>
      </div>
  </div>
</section>