<section class="banner-section">
  <div class="container-fluid">
    <div class="row zoominheader">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
        <div class="banner-info">
          <h2>Unlocking Innovation with Generative AI Excellence </h2>
          <p>Welcome to the future of AI innovation, where possibilities are limitless, and solutions are boundless.</p>
          <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- New design start here -->




<section class="data-aigen-section">
  <div class="container-fluid">

    <div class="row  wow animate__animated animate__fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
      <div class="col-md-6 padding-0">
        <div class="capabilities_image wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
          <img alt="image" src="assets/images/ai-dossier.jpg" width="100%">
        </div>
      </div>

      <div class="col-md-6 main-wrp-data-gen">
        <h3 class="big-text">Introducing the Generative AI Dossier</h3>
        <p class="sub-text-para">
          Your gateway to a super impactful collection of use cases across six major industries. Delve into a world
          where Generative AI goes beyond the ordinary, reshaping industries, amplifying capabilities, and paving the
          way for a new era of enterprise transformation.
        </p>
      </div>
    </div>


    <div class="row wow animate__animated animate__fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
      <div class="col-md-6 main-wrp-data-gen">
        <h3 class="big-text">Igniting the Powerhouse of Generative AI</h3>
        <p class="sub-text-para">
          Move beyond conventional perceptions of AI and explore the extraordinary realm of Generative AI. More than
          just a sophisticated chatbot, Generative AI is a catalyst for innovation, offering unprecedented ways of
          working, amplifying other AI systems, and transforming enterprises across sectors. This curated collection of
          use cases is designed to spark ideas, unveil value-driving deployments, and guide organizations toward
          harnessing the full power of this revolutionary technology.
        </p>
      </div>

      <div class="col-md-6 padding-0">
        <div class="capabilities_image">
          <img alt="image" src="assets/images/generative-ai.jpg" width="100%">
        </div>
      </div>
    </div>


    <div class="row wow animate__animated animate__fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
      <div class="col-md-6 padding-0">
        <div class="capabilities_image">
          <img alt="image" src="assets/images/high-impact.jpg" width="100%">
        </div>
      </div>

      <div class="col-md-6 main-wrp-data-gen">
        <h3 class="big-text">Explore High-Impact Use Cases </h3>
        <p class="sub-text-para">
          Dive into some extraordinary use cases that showcase the versatility and potential of Generative AI. Whether
          you are seeking to enhance efficiency, speed, scale, or capacity, these use cases demonstrate how Generative
          AI can address enterprise challenges in novel ways, enabling greater capabilities across various business
          functions.
        </p>
      </div>
    </div>


    <div class="row wow animate__animated animate__fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
      <div class="col-md-6 main-wrp-data-gen">
        <h3 class="big-text">Unleashing Value Capture</h3>
        <p class="sub-text-para">
          Various industries are experiencing seismic shifts, unlocking new potentials and redefining success. There’s
          no dearth of ways by which AI can be used in various tools and technologies solving an array of business
          problems or boosting efficiency where necessary.
        </p>
      </div>

      <div class="col-md-6 padding-0">
        <div class="capabilities_image">
          <img alt="image" src="assets/images/Unleashing.jpg" width="100%">
        </div>
      </div>
    </div>



  </div>
</section>

<!-- New design end here -->


<div class="why-us-section pt-50 pb-50">
  <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
  <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-xs-12 text-center my-0 mx-auto wow animate__animated animate__fadeInUp"
        data-wow-duration="1.5s" data-wow-delay="0.2s">
        <div class="title primary1">
          <h3 style="color: #bb0b0b">Elevating Industries Through Data Mastery</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center g-4 pt-3">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="service-item2 style-4 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s"
          data-wow-delay="0.2s">
          <div class="service-content">
            <span class="sn"><img src="assets/images/healthcare.png" alt="health-icon"></span>
            <h4><a>Healthcare</a></h4>
            <p class="para">
              From personalized medicine to proactive healthcare management, the healthcare industry is witnessing
              unprecedented advancements.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="service-item2 style-4 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s"
          data-wow-delay="0.4s">
          <div class="service-content">
            <span class="sn"><img src="assets/images/hand.png" alt="finance-icon"></span>
            <h4><a>Finance</a></h4>
            <p class="para">
              Real-time Gen AI is reshaping investment strategies and enhancing customer experiences.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="service-item2 style-4 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s"
          data-wow-delay="0.8s">
          <div class="service-content">
            <span class="sn"><img src="assets/images/shopping-cart.png" alt="retail-icon"></span>
            <h4><a>Retail</a></h4>
            <p class="para">
              E-commerce giants and traditional retailers alike leverage Gen AI for personalized recommendations, demand
              forecasting, and inventory management. The result? Enhanced customer satisfaction and streamlined
              operations.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="service-item2 style-4 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s"
          data-wow-delay="0.8s">
          <div class="service-content">
            <span class="sn"><img src="assets/images/manufacturing.png" alt="revenue-icon"></span>
            <h4><a>Manufacturing </a></h4>
            <p class="para">
              Gen AI ensures efficiency gains, reduced downtime, and overall operational excellence.
            </p>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="service-item2 style-4 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s"
          data-wow-delay="0.8s">
          <div class="service-content">
            <span class="sn"><img src="assets/images/education.png" alt="education-icon"></span>
            <h4><a>Education </a></h4>
            <p class="para">
              Educational institutions are embracing Gen AI for personalized learning experiences, student performance
              predictions, and optimizing administrative processes. The future of education is data-driven and
              student-centric.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="service-item2 style-4 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s"
          data-wow-delay="0.8s">
          <div class="service-content">
            <span class="sn"><img src="assets/images/energy.png" alt="energy-icon"></span>
            <h4><a>Energy </a></h4>
            <p class="para">
              In the energy sector, Gen AI plays a pivotal role in optimizing resource allocation, predictive
              maintenance of infrastructure, and ensuring sustainable energy practices. Efficiency and innovation drive
              this transformative impact.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="service-item2 style-4 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s"
          data-wow-delay="0.8s">
          <div class="service-content">
            <span class="sn"><img src="assets/images/marketing.png" alt="marketing-icon"></span>
            <h4><a>Marketing </a></h4>
            <p class="para">
              Marketers harness the power of Gen AI for targeted advertising, customer segmentation, and measuring
              campaign effectiveness. It's not just about reaching the audience; it's about reaching the right audience
              with precision.
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="service-item2 style-4 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s"
          data-wow-delay="0.8s">
          <div class="service-content">
            <span class="sn"><img src="assets/images/transportation.png" alt="transportation-icon"></span>
            <h4><a>Transportation </a></h4>
            <p class="para">
              Commutes become smoother, logistics more efficient, and sustainability goals more achievable.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





<section class="section section-lg wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8">
        <div class="section-heading">
          <h2>Industry Epitomes:</h2>

          <h3>Explore the most compelling use cases of AI in six major industries:</h3>

          <ul>
            <li>Consumer</li>
            <li>Energy, Resources & Industrials</li>
            <li>Financial services</li>
            <li> Government & Public Services</li>
            <li>Life Sciences & Health Care</li>
            <li> Technology, Media & Telecommunications</li>
          </ul>

          <h4>Your Trusted AI Partner – The DATA SOLUTIONS AI Institute</h4>

          <p>
            Navigate the complexities and opportunities that AI presents for your business and society with the DATA
            SOLUTIONS. As your one-stop destination for AI expertise, we are committed to helping you identify,
            understand, and leverage the transformative potential of Generative AI.
          </p>

          <p>
            Ready to embark on a journey of innovation? Download the full Generative AI Dossier now and explore a future
            where your organization thrives on the cutting edge of technological excellence.
          </p>

        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="image-box fancy-radius p-2 bg-primary-alt">
          <img class="fancy-radius img-fluid" src="assets/images/industry.jpg" alt="industry">
        </div>
      </div>



    </div>

  </div>
</section>

<div class="case-study-section pt-50">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title text-span wow animate__animated animate__fadeInUp" data-wow-duration="1.5s"
        data-wow-delay="0.4s">
        <span>-Case Study-</span>
        <h3>Real-world Solutions by QBrainX</h3>
      </div>
    </div>

    <div class="row py-5">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info wow animate__animated animate__fadeInUp"
          data-wow-duration="1.5s" data-wow-delay="0.6s" *ngFor="let caseStudy of caseStudyArrayList;let i=index" >
          <div class="sigle-blog-1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
              <div class="blog-image">
                  <img
                  src="data:image/{{caseStudy.extension}};base64,{{caseStudy.image}}"
                  class="img-fluid"
                  alt="image"
                />
              </div>
              <div class="blog-content hover-border1" (click)="caseStudydetails(caseStudy)">
                  <span>{{caseStudy.category}}</span>
                  <h4>
                      <a>{{caseStudy.title}}</a>
                  </h4>
              </div>
          </div>
      </div>

      <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info wow animate__animated animate__fadeInUp"
          data-wow-duration="1.5s" data-wow-delay="0.6s">
          <div class="sigle-blog-1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
              <div class="blog-image">
                  <img src="assets/images/servicenow_itsm_domain-separation_case-study_banner.jpg"
                      class="img-fluid" alt="image" />
              </div>
              <div class="blog-content hover-border1">
                  <span>ITSM, ServiceNow</span>
                  <h4>
                      <a routerLink="/blog-detail">ServiceNow: Implementation of ITSM-Domain Separation</a>
                  </h4>
              </div>
          </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info wow animate__animated animate__fadeInUp"
          data-wow-duration="1.5s" data-wow-delay="0.6s">
          <div class="sigle-blog-1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
              <div class="blog-image">
                  <img src="assets/images/servicenow_hrsd_case-study.jpg" class="img-fluid" alt="image" />
              </div>
              <div class="blog-content hover-border1">
                  <span>HRSD, ServiceNow</span>
                  <h4>
                      <a routerLink="/blog-detail">ServiceNow: Implementation of HR Service Delivery</a>
                  </h4>
              </div>
          </div>
      </div> -->

  </div>
  <div class="row" *ngIf="caseStudyArrayList.length >= itemsPerPage">
    <div class="col-lg-12 d-flex justify-content-center mt-3 mb-5 pagination-wrap">
        <div class="pagination d-flex align-items-center">
            <button class="pagination-btn" (click)="changePreviousPage()" [disabled]="currentPage === 1">Previous</button>
            <span> {{ currentPage }}</span>
            <button class="pagination-btn" (click)="changeNextpage()" [disabled]="currentPage === lastpage">Next</button>
          </div>
    </div>      
  </div>
  </div>
</div>



<div class="join-section pb-50 pt-50">
  <div class="container">
    <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-duration="1.5s"
      data-wow-delay="0.4s">
      <div class="row d-flex align-items-center g-4">
        <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
          <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>
        </div>
        <div
          class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp"
          data-wow-duration="1.5s" data-wow-delay="0.6s">

          <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>
        </div>
      </div>
    </div>
  </div>
</div>