<section class="banner-section">
  <div class="container-fluid">
    <div class="row zoominheader">
      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 text-start">
        <div class="banner-info">
            <h2>Salesforce Excellence: Transforming Visions into Reality</h2>
            <p>Empower your business transformation journey with Salesforce, turning visions into reality through innovation and customer-centric solutions.</p>
            <a href="/contact"><button class="finbyz-button">Consult Now</button></a>

        </div>        
      </div>      
    </div>
  </div>
</section>

<div class="capabilities_section pb-50 pt-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
  <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
  <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
  <div class="container">
      <div class="row">
          <div class="col-md-12 title text-center wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
              <span>Capabilities</span>
              <h3>Our Salesforce Capabilities</h3>
          </div>
      </div>    
      <div class="row pt-3 d-flex justify-content-center">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div class="capabilities_info">
                <div class="capabilities_image">
                  <img alt="image" src="assets/images/cpq_image.webp" width="100%">
                </div>
                <div class="content">
                    <h4>CPQ</h4>
                    <!-- <p>Business-led migration to SAP S/4HANA Reduce TCO via simplification of landscape. Complete conversation of an existing SAP Business Suite system to SAP S/4HANA.</p> -->
                    <a href="/services/salesforce/cpq">Discover More <i class="bi bi-arrow-right"></i></a>
                </div>                    
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div class="capabilities_info">
                <div class="capabilities_image">
                  <img alt="image" src="assets/images/service_cloud_image.webp" width="100%">
                </div>
                <div class="content">
                    <h4>Service Cloud</h4>
                    <!-- <p>New implementation / re-implementation Standardize and simplify the existing landscape to reduce TCO and use latest innovations.</p> -->
                    <a href="/services/salesforce/service-cloud">Discover More <i class="bi bi-arrow-right"></i></a>
                </div>                     
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div class="capabilities_info">
                <div class="capabilities_image">
                  <img alt="image" src="assets/images/crm_main-image.webp" width="100%">
                </div>
                <div class="content">
                    <h4>CRM</h4>
                    <!-- <p>Transition systems to the new platform Use innovations to reimagine process Take advantage of the new data model to eliminate aggregates and batch processing.</p> -->
                    <a href="/services/salesforce/crm">Discover More <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
          </div>          
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
            <div class="capabilities_info">
              <div class="capabilities_image">
                <img alt="image" src="assets/images/sales_cloud_image.webp" width="100%">
              </div>
              <div class="content">
                  <h4>Sales Cloud</h4>
                  <!-- <p>Transition systems to the new platform Use innovations to reimagine process Take advantage of the new data model to eliminate aggregates and batch processing.</p> -->
                  <a href="/services/salesforce/sales-cloud">Discover More <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
            <div class="capabilities_info">
              <div class="capabilities_image">
                <img alt="image" src="assets/images/marketing_cloud_image.webp" width="100%">
              </div>
              <div class="content">
                  <h4>Marketing Cloud</h4>
                  <!-- <p>Transition systems to the new platform Use innovations to reimagine process Take advantage of the new data model to eliminate aggregates and batch processing.</p> -->
                  <a href="/services/salesforce/marketing-cloud">Discover More <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div>   
          
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
            <div class="capabilities_info">
              <div class="capabilities_image">
                <img alt="image" src="assets/images/commerce_cloud_image.png" width="100%">
              </div>
              <div class="content">
                  <h4>Commerce Cloud</h4>
                  <!-- <p>Transition systems to the new platform Use innovations to reimagine process Take advantage of the new data model to eliminate aggregates and batch processing.</p> -->
                  <a href="services/salesforce/Commerce-Cloud">Discover More <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div> 


          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
            <div class="capabilities_info">
              <div class="capabilities_image">
                <img alt="image" src="assets/images/mulesoft.jpg" width="100%">
              </div>
              <div class="content">
                  <h4>MuleSoft</h4>
                  <!-- <p>Transition systems to the new platform Use innovations to reimagine process Take advantage of the new data model to eliminate aggregates and batch processing.</p> -->
                  <a href="services/salesforce/MuleSoft">Discover More <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div> 


      </div>
  </div>
</div>

<div class="why-us-section pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-xs-12 text-center my-0 mx-auto">
          <div class="title primary1">
            <!-- <span>-WHY CHOOSE US-</span> -->
            <h3>Our Salesforce Services</h3>   
            <p class="pt-3">QBrainX provides high-quality custom development services to assist you in resolving business issues and enhancing your Salesforce program with highly customized solutions. With years of experience in Salesforce customizations and Salesforce experts, we are one of the best technological partners you can work with.</p>       
          </div>
        </div>
      </div>
      <div class="row justify-content-center g-4 pt-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor="let blog of serviceArray;let i=index">
          <div class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
            data-wow-duration="1.5s" data-wow-delay="0.2s">
            <div class="service-content">
              <span class="sn"><img [src]="getIconUrl(blog)" /></span>
              <h4><a>{{blog.title}}</a></h4>
              <p class="para">
                {{blog.text}}
              </p>
            </div>
          </div>
        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div
            class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
            data-wow-duration="1.5s"
            data-wow-delay="0.2s"
          >
            <div class="service-content">
              <span class="sn"><i class="bi bi-person"></i></span>
              <h4><a>Salesforce Consulting</a></h4>
              <p class="para">
                QBrainX's experienced consultants can address your specific CRM concerns, such as low sales productivity and poor departmental alignment, as well as CRM performance issues, and help you maximize your Salesforce's potential.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div
            class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
            data-wow-duration="1.5s"
            data-wow-delay="0.4s"
          >
            <div class="service-content">
              <span class="sn"><i class="bi bi-exclamation-triangle"></i></span>
              <h4><a>Salesforce Implementation</a></h4>
              <p class="para">
                Build a foundation of automated business processes that are frictionless and consistent, end-user-friendly solutions, and a systematic approach to solution delivery with our Salesforce implementation professionals.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div
            class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
            data-wow-duration="1.5s"
            data-wow-delay="0.8s"
          >
            <div class="service-content">
              <span class="sn"><i class="bi bi-shield-lock"></i></span>
              <h4><a>Salesforce Integration</a></h4>
              <p class="para">
                Salesforce integration services strive to integrate Salesforce solutions to your other business-critical platforms smoothly and with QBrainX’s experts, you can overcome any integration challenges and develop cost-effective Salesforce integrations.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div
            class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
            data-wow-duration="1.5s"
            data-wow-delay="0.6s"
          >
            <div class="service-content">
              <span class="sn"><i class="bi bi-box2"></i></span>
              <h4><a>Salesforce Development and Customization</a></h4>
              <p class="para">
                QBrainX assists organizations in Salesforce customization and application development to achieve their objectives. We use Visualforce, Lightning, Apex, and other tools to help you create custom modules, processes, add-ons, and applications for Salesforce.
              </p>
            </div>
          </div>
        </div>  
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div
              class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.6s"
            >
              <div class="service-content">
                <span class="sn"><i class="bi bi-box2"></i></span>
                <h4><a>Salesforce Migration</a></h4>
                <p class="para">
                    By enlisting the support of QBrainX Salesforce migration services, you can streamline and improve your business processes while also making the time-consuming task of Salesforce CRM migration more efficient.
                </p>
              </div>
            </div>
        </div> 
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div
              class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.6s"
            >
              <div class="service-content">
                <span class="sn"><i class="bi bi-box2"></i></span>
                <h4><a>Salesforce Managed Services</a></h4>
                <p class="para">
                    QBrainX’s Salesforce Managed Services provides a flexible, scalable, and cost-effective approach to protect and maximize your investment without having to hire additional full-time, dedicated employees. We assist businesses in maintaining and evolving Salesforce systems to meet their specific business requirements.
                </p>
              </div>
            </div>
        </div>         -->
        </div>
      </div>
    </div>
</div>

<div class="highlights-section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
    <div class="container info">
        <div class="row pt-5">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>Key Benefits of our on-demand model</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-12">
                <div class="work-process-area">
                    <div class="row g-4">
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/dashboard.svg" alt="image" width="50px">
                                <h4 class="pt-3">Customized Solutions</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/setup-guidance.svg" alt="image" width="50px">
                                <h4 class="pt-3">Certified Salesforce developers and admins</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/configuration.svg" alt="image" width="50px">
                                <h4 class="pt-3">Integration Expertise</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/single-record.svg" alt="image" width="50px">
                                <h4 class="pt-3"> Advanced Analytics</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/cloud.svg" alt="image" width="50px">
                                <h4 class="pt-3"> User Experience</h4>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/mobile-application.svg" alt="image" width="50px">
                                <h4 class="pt-3">Proficient and Skilled developers</h4>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="case-study-section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-12 title text-center">
                <span>Case Study</span>
                <h3>Our Salesforce Case Studies</h3>
            </div>
        </div>

        <!-- <div class="row py-3">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
                <div
                  class="sigle-blog-1 wow fadeInDown"
                  data-wow-duration="1.5s"
                  data-wow-delay="0.4s"
                >
                  <div class="blog-image">
                    <img
                      src="assets/images/telephony_salesforce_case-study.jpg"
                      class="img-fluid"
                      alt="image"
                    />
                  </div>
                  <div class="blog-content hover-border1">
                    <span>Salesforce</span>
                    <h4>
                      <a routerLink="/blog-detail">Telephony Integration: Streamlining Communication And Enhancing Customer Service</a>
                    </h4>             
                  </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
                <div
                  class="sigle-blog-1 wow fadeInDown"
                  data-wow-duration="1.5s"
                  data-wow-delay="0.4s"
                >
                  <div class="blog-image">
                    <img
                      src="assets/images/service_analytics_salesforce_case-study.jpg"
                      class="img-fluid"
                      alt="image"
                    />
                  </div>
                  <div class="blog-content hover-border1">
                    <span>Salesforce</span>
                    <h4>
                      <a routerLink="/blog-detail">Service Analytics</a>
                    </h4>              
                  </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div
                class="sigle-blog-1 wow fadeInDown"
                data-wow-duration="1.5s"
                data-wow-delay="0.4s"
              >
                <div class="blog-image">
                  <img
                    src="assets/images/omni_channel_salesforce_case_study.jpg"
                    class="img-fluid"
                    alt="image"
                  />
                </div>
                <div class="blog-content hover-border1">
                  <span>Salesforce</span>
                  <h4>
                    <a routerLink="/blog-detail">Omni Channel Routing</a>
                  </h4>              
                </div>
              </div>              
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
            <div
              class="sigle-blog-1 wow fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.4s"
            >
              <div class="blog-image">
                <img
                  src="assets/images/knowledge-base_salesforce_casestudy.jpg"
                  class="img-fluid"
                  alt="image"
                />
              </div>
              <div class="blog-content hover-border1">
                <span>Salesforce</span>
                <h4>
                  <a routerLink="/blog-detail">Knowledge Base: Streamlining Customer Support And Enhancing Agent Productivity</a>
                </h4>              
              </div>
            </div>

            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
            <div
              class="sigle-blog-1 wow fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.4s"
            >
              <div class="blog-image">
                <img
                  src="assets/images/customer_interaction_salesforce_case-study.jpg"
                  class="img-fluid"
                  alt="image"
                />
              </div>
              <div class="blog-content hover-border1">
                <span>Salesforce</span>
                <h4>
                  <a routerLink="/blog-detail">Lightning Service Console: Enhancing Customer Interactions In Various Industries</a>
                </h4>              
              </div>
            </div>

            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
            <div
              class="sigle-blog-1 wow fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.4s"
            >
              <div class="blog-image">
                <img
                  src="assets/images/case_management_salesforce_case-study.jpg"
                  class="img-fluid"
                  alt="image"
                />
              </div>
              <div class="blog-content hover-border1">
                <span>Salesforce</span>
                <h4>
                  <a routerLink="/blog-detail">Case Management: Streamlining Work Processes And Collaboration</a>
                </h4>              
              </div>
            </div>

            </div>
        </div> -->
        <div class="row py-5 d-flex justify-content-center">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info wow animate__animated animate__fadeInUp"
              data-wow-duration="1.5s" data-wow-delay="0.6s" *ngFor="let caseStudy of caseStudyArrayList;let i=index" >
              <div class="sigle-blog-1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                  <div class="blog-image">
                      <img
                      src="data:image/{{caseStudy.extension}};base64,{{caseStudy.image}}"
                      class="img-fluid"
                      alt="image"
                    />
                  </div>
                  <div class="blog-content hover-border1" (click)="caseStudydetails(caseStudy)">
                      <span>{{caseStudy.category}}</span>
                      <h4>
                          <a>{{caseStudy.title}}</a>
                      </h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 d-flex justify-content-center mt-3 mb-5 pagination-wrap">
            <div class="pagination d-flex align-items-center">
              <button class="pagination-btn" (click)="changePreviousPage()" [disabled]="currentPage === 1">Previous</button>
              <span> {{ currentPage }}</span>
              <button class="pagination-btn" (click)="changeNextpage()" [disabled]="currentPage === lastpage">Next</button>
            </div>
          </div>      
        </div>
      </div>    
</div>


<div class="join-section pb-50 pt-50">
  <div class="container">
      <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp"
          data-wow-duration="1.5s" data-wow-delay="0.4s">
          <div class="row d-flex align-items-center g-4">
              <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                  <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>
              </div>
              <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp"
                  data-wow-duration="1.5s" data-wow-delay="0.6s">

                 <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>


              </div>
          </div>
      </div>
  </div>
</div>