.pt-100 {
    padding-top: 100px
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mt-50 {
    margin-top: 50px;
}

.inner-banner {
    // min-height: 400px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bb0b0b;

    .breadcrumb {
        padding-bottom: 20px;

        .breadcrumb-item+.breadcrumb-item::before {
            color: #ffffff;
        }

        a {
            text-decoration: none;
            color: #ffffff;
        }

        .breadcrumb-item {
            color: #ffffff;
        }
    }

    .inner-bannerdot {
        position: absolute;
        bottom: 10px;
        left: 20%;
        opacity: 0.9;
        animation: move 10s linear infinite alternate;
    }

    .inner-bannerwave {
        position: absolute;
        bottom: 0;
        right: 0%;
        opacity: 0.1;
    }

    .inner-banner-title {
        font-size: 55px;
        font-weight: 700;
        color: #ffffff;
    }
}

.documentation-tab-wrap {

    .nav-pills .nav-link.active {
        color: #ffffff;
        background-color: #bb0b0b;
    }

    button.nav-link {
        font-size: 18px;
        font-weight: 600;
        margin: 0 5px;
    }

    .nav-pills .nav-link {
        background: 0 0;
        border: 1px solid #bb0b0b;
        border-radius: 0.25rem;
    }

    .nav-link {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #212529;
    }

    .tab-content>.active {
        display: block;
    }

    .tab-content {
        .jobpost-item:hover {
            box-shadow: 3px 4px 30px rgb(136 136 136 / 18%);
        }

        .jobpost-item {

            .job-header {
                .title {
                    a {
                        text-decoration: none;
                        cursor: pointer;
                    }

                    a:hover {
                        color: #bb0b0b;
                    }
                }
            }

            .job-meta {
                color: #bb0b0b;
            }

            padding: 30px 25px;
            border: 1px solid #e5e5e5;
            border-radius: 8px;

            .apply-btn {
                color: #ffffff;
                text-decoration: none;
                background-color: #bb0b0b;
                transition: 0.3s ease all;
                // font-size: 18px;
                letter-spacing: 1px;
                text-transform: uppercase;
                display: inline-block;
                text-align: center;
                font-weight: 700;
                border: 3px solid #ffffff;
                border-radius: 2px;
                position: relative;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
                z-index: 2;
                margin-top: 15px;
            }

            .apply-btn:before {
                transition: 0.5s all ease;
                position: absolute;
                top: 0;
                left: 50%;
                right: 50%;
                bottom: 0;
                opacity: 0;
                content: "";
                background-color: #ffffff;
                z-index: -1;
            }

            .apply-btn:hover {
                color: #bb0b0b;
            }

            .apply-btn:hover:before {
                transition: 0.5s all ease;
                left: 0;
                right: 0;
                opacity: 1;
            }
        }

        .hover-border2 {
            background: #ffffff;
            position: relative;
            z-index: 1;
        }

        .hover-border2::before {
            content: "";
            width: 0%;
            height: 2px;
            position: absolute;
            bottom: 0%;
            left: 0%;
            background: #bb0b0b;
            transition: all 0.52s;
            z-index: -1;
        }

        .jobpost-item {

            .job-header {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 20px;

                .icon {
                    margin-right: 15px;
                    transition: 400ms ease-out 25ms;                    
                }

                h4.title {
                    margin-bottom: 0;

                    a {
                        font-size: 25px;
                        font-weight: 700;
                        color: #18212e;
                    }
                }
            }

            .job-body {
                border-top: 1px solid #eee;
                padding-top: 15px;

                .para {
                    font-size: 15.5px;
                    font-weight: 400;
                    color: #676767;
                    font-family: poppins, sans-serif;
                    line-height: 28px;
                    overflow: hidden;
                    vertical-align: middle;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    width: 100%;
                }

                p {
                    margin-top: 0;
                    margin-bottom: 1rem;
                }

                .job-meta {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 20px 0 0;
                    padding: 0;

                    li:first-child {
                        margin-right: 40px;
                    }

                    .bi-time {
                        color: #0A1C76;
                    }

                    i.bi {
                        vertical-align: middle;
                    }

                    .bi {
                        font-family: boxicons !important;
                        font-weight: 400;
                        font-style: normal;
                        font-variant: normal;
                        line-height: 1;
                        text-rendering: auto;
                        display: inline-block;
                        text-transform: none;
                        speak: none;
                        -webkit-font-smoothing: antialiased;
                    }
                }

                ul {
                    list-style: none;
                }
            }
        }
    }
}

.custom-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-wrap {
    margin-top: 50px;

    .pagination {
        margin: 0;
        list-style: none;

        .pagination-btn {
            background-color: #bb0b0b;
            color: #ffffff;
            border-radius: 4px;
            border: 1px solid #bb0b0b;
            padding: 5px 10px;
            margin: 0 10px;
        }

        .pagination-btn:hover {
            background-color: #ffffff;
            color: #bb0b0b;
        }
    }

    .page-item:first-child .page-link {
        border-radius: 5px 5px 5px 0;
    }

    .page-item:not(:first-child) .page-link {
        margin-left: -1px;
    }

    .page-link:hover {
        color: #bb0b0b;
    }

    .page-link:hover svg {
        fill: #bb0b0b;
    }

    .page-link {
        position: relative;
        display: block;
        color: #18212e;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        background-color: #ffffff;
        border: none;
        transition: 0.42s ease;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #ffffff;
        background-color: #bb0b0b;
    }

}



.carrer-page-normal-text {
    .title-txt {
        font-size: 61px;
        line-height: 1.2;
        color: #bb0b0b;
        text-align: center;
        font-weight: 500;
    }
    .grey {
        color: #191919;
    }

    p {
        text-align: center;

        a {
            text-decoration: auto;
        }
    }
}


// Preloader
.egns-preloader {
    position: fixed !important;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.egns-preloader::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
}

.circle-border {
    width: 100%;
    max-width: 140px;
    height: 100%;
    max-height: 140px;
    border: 0 solid #bb0b0b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.circle-border svg {
    fill: #bb0b0b;
}

.circle-border svg path {
    stroke: #bb0b0b;
}

.circle-border .moving-circle {
    width: 10px;
    height: 10px;
    background: #bb0b0b;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 2s linear infinite;
}

.circle-border .moving-circle:nth-child(2) {
    width: 10px;
    height: 10px;
    background: #bb0b0b;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 2.25s linear infinite;
}

.circle-border .moving-circle:nth-child(3) {
    width: 10px;
    height: 10px;
    background: #bb0b0b;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 2.5s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg) translate(-70px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(-70px) rotate(-360deg);
    }
}

#outline {
    stroke-dasharray: 2.427766571px, 242.7766571045px;
    stroke-dashoffset: 0;
    animation: anim 1.6s linear infinite;
}

@keyframes anim {
    12.5% {
        stroke-dasharray: 33.9887319946px, 242.7766571045px;
        stroke-dashoffset: -26.7054322815px;
    }

    43.75% {
        stroke-dasharray: 84.9718299866px, 242.7766571045px;
        stroke-dashoffset: -84.9718299866px;
    }

    100% {
        stroke-dasharray: 2.427766571px, 242.7766571045px;
        stroke-dashoffset: -240.3488905334px;
    }
}