<section class="banner-section">
    <div class="container-fluid">
      <div class="row zoominheader">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
          <div class="banner-info">
              <h2>Delight Customers with our Commerce Cloud Excellence</h2>
              <p>Welcome to QBrainX Commerce Cloud Solutions, where we specialize in delivering transformative solutions tailored to meet the unique needs of businesses across diverse industries. </p>
              <a href="/contact"><button class="finbyz-button">Consult Now</button></a>

          </div>        
        </div>      
      </div>
    </div>
</section>

<section class="intro-section pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 intro-img">
          <img src="assets/images/commerce_cloud.jpg" alt="intro-image" width="100%">
        </div>
        <div class="col-lg-6 intro-info">
          <!-- <h3>What is Marketing cloud</h3> -->
          <p>
<p>Discover how our comprehensive Commerce Cloud Solutions have helped businesses overcome their challenges and achieve success. From streamlining sales and enhancing customer experiences to optimizing operations and expanding market visibility, our solutions are designed to drive growth and satisfaction. </p>
<p>With seamless integration with Google Analytics, Subscribe Pro, Payeezy, and Smarty Streets, businesses can effortlessly access marketing data, streamline subscription options, ensure secure transactions, and simplify international shipping and address verification processes. </p>
<p>At QBrainX, we're committed to delivering comprehensive Commerce Cloud Solutions that empower businesses to overcome challenges, streamline operations, and drive growth. Experience the difference with QBrainX Commerce Cloud Solutions today. </p>
          
        </div>
      </div>
    </div>
</section>

<section class="business-application pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">
      <div class="row">
        <div class="col-md-12 title text-center">
          <span>Features</span>
          <h3>Key Objectives of the Salesforce to Workday Integration Solution​</h3> 
        </div>            
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/data-sync.svg" alt="Connect">
            <h4>Integrated SFCC With Google Analytics​</h4>
            <p>Integrate SFCC with Google Analytics for streamlined marketing insights and enhanced customer attraction. </p>
          </div>
        </div>
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/financial-view.svg" alt="Accelerate">
            <h4>Integrated Subscribe Pro With SFCC</h4>
            <p>Simplify product subscriptions with Subscribe Pro integration into SFCC.  ​</p>
          </div>
        </div>
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/Automation-ic.svg" alt="Empower">
            <h4>Integrated Payeezy With SFCC</h4>
            <p>Ensure secure transactions and streamline payments with Payeezy integration into SFCC. ​</p>
          </div>
        </div>   
        <div class="col-lg-4 text-center mt-5">
            <div class="business-application-info h-100">
              <img src="assets/images/content.svg" alt="Empower">
              <h4>Integrated Smarty Streets With SFCC​</h4>
              <p>Streamline international address verification and operational efficiency by integrating Smarty Streets with SFCC and linking SFCC storefronts with UPS shipping methods via APIs.  ​</p>
            </div>
        </div>                        
        <div class="col-lg-4 text-center mt-5">
            <div class="business-application-info h-100">
              <img src="assets/images/emp-exp.svg" alt="Empower">
              <h4>Optimizing Search Functionality</h4>
              <p> Improve search with Einstein Search Dictionaries for relevant results. ​</p>
            </div>
        </div>  
        
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/Security-icon-01.svg" alt="Empower">
            <h4>Personalized Product Recommendation</h4>
            <p>Personalize recommendations with Einstein Product Recommendations for better engagement. ​</p>
          </div>
      </div>  


      </div>
    </div>
</section>        

<!-- <section class="case-study-section pt-50 bg-white wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <span>Case Study</span>
                <h3>Our Salesforce Case Studies</h3>
            </div>
        </div>

        <div class="row py-5 d-flex justify-content-center">

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div
                class="sigle-blog-1 wow fadeInDown"
                data-wow-duration="1.5s"
                data-wow-delay="0.4s"
              >
                <div class="blog-image">
                  <img
                    src="assets/images/quickest_path_master_data_image.jpg"
                    class="img-fluid"
                    alt="image"
                  />
                </div>
                <div class="blog-content hover-border1">
                  <span>Salesforce</span>
                  <h4>
                    <a href="/case-study-detail">Winshuttle for Master data provides the Quickest Path to Better Salesforce Master Data</a>
                  </h4>             
                </div>
              </div>
          </div>  
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
            <div
              class="sigle-blog-1 wow fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.4s"
            >
              <div class="blog-image">
                <img
                  src="assets/images/data_structure_image.jpg"
                  class="img-fluid"
                  alt="image"
                />
              </div>
              <div class="blog-content hover-border1">
                <span>Salesforce</span>
                <h4>
                  <a href="/case-study-detail">Warehouse Management application for Logistics truckload brokerage</a>
                </h4>             
              </div>
            </div>
        </div>  
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
          <div
            class="sigle-blog-1 wow fadeInDown"
            data-wow-duration="1.5s"
            data-wow-delay="0.4s"
          >
            <div class="blog-image">
              <img
                src="assets/images/case_management_salesforce_case-study.jpg"
                class="img-fluid"
                alt="image"
              />
            </div>
            <div class="blog-content hover-border1">
              <span>Salesforce</span>
              <h4>
                <a href="/blog-detail">Mid server down status – notification over email and ms team</a>
              </h4>             
            </div>
          </div>
      </div>                        

      </div>
    </div>
</section> -->

<section class="join-section pt-50 pb-50">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp"
            data-wow-duration="1.5s" data-wow-delay="0.4s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp"
                    data-wow-duration="1.5s" data-wow-delay="0.6s">
    
                   <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>

    
                </div>
            </div>
        </div>
    </div>
</section>