.pt-100 {
    padding-top: 100px
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-50 {
    padding-top: 50px
}

.pb-50 {
    padding-bottom: 50px;
}

// Banner Section
.banner-section {
    overflow: hidden;        
    text-align:center;
      
.zoominheader {        
    height: 30rem;
    text-align:center;
    background: linear-gradient(to right, rgb(0, 50, 98) 40%, rgba(0, 50, 98, 0.2)), url("/../assets/images/about_banner.jpg");
    background-position: center center;        
    background-size: cover;        
    -webkit-animation: zoomin 10s ease-in infinite;
    animation: zoomin 10s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.banner-info {        
    padding-top: 9rem;
    padding-bottom: 10rem;  
    padding-left: 10rem;                    

    h2 {                        
        font-size: 3rem;
        color: #ffffff;
        font-weight: 800;
    }

    p {
        font-size: 1.3rem;
        color: #ffffff;
    }

    .button {
        display: flex;
        justify-content: center;
        margin-top:50px;
    }
    button.finbyz-button {
        color: #ffffff;
        text-decoration: none;
        background-color: #bb0b0b;
        -webkit-transition: .3s all ease;
        transition: .3s ease all;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        width: 200px;
        font-weight: 700;
        padding: 14px 0;
        border: 3px solid #ffffff;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 2px 10px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.1);
        z-index: 2;
    }
    button.finbyz-button:before {
        -webkit-transition: .5s all ease;
        transition: .5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: #ffffff;
        z-index: -1;
    }
    button.finbyz-button:hover,
    button.finbyz-button:focus
    {
      color: #bb0b0b;
    }
    button.finbyz-button:hover:before,
    button.finbyz-button:focus:before{
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
}
}

.service2-section {
    .title {
        span {
            color: #bb0b0b;
            font-size: 16px;
            font-weight: 500;
            font-family: poppins, sans-serif;
            margin-bottom: 5px;
            display: block;
            margin-top: -5px;
        }

        h3 {
            font-size: 2.8125rem;
            font-weight: 700;
            color: #18212e;
            position: relative;
            display: inline-block;
            margin-bottom: 0;
            line-height: 1;
        }
    }
}

.service-item2 {
    position: relative;
    z-index: 1;
    box-shadow: 3px 4px 30px rgba(136, 136, 136, .1);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 25px;
    min-height: 240px;
}

.service-item2:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 0
}

.service-item2 .service-content a {
    text-decoration: none;
    color: #bb0b0b;
    font-weight: 600;
    padding: 0;
    border: 0;
}

.service-item2 .service-content a:hover {
    text-decoration: underline;
}

.service-item2:hover .service-content span {
    color: #d5d5d5;
}

.service-item2:hover .service-content h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #ffffff;
}

.service-item2:hover .service-content p {
    color: #ffffff;
}

.service-item2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: #bb0b0b;
    z-index: -1;
    border-radius: 0 0 0 100px;
    transition: 550ms ease-in-out 25ms
}

.service-item2 .service21-icon {
    position: absolute;
    top: 25px;
    right: 25px
}

.service-item2 .service-content span {
    font-size: 20px;
    font-weight: 600;
    font-family: poppins, sans-serif;
    color: #d5d5d5;
    display: inline-block;
    margin-bottom: 10px;
    transition: all .5s ease-in-out
}

.service-item2 .service-content h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    transition: all .5s ease-in-out;

    a {
        text-decoration: none;
        color: #303030;
    }
}

.service-item2 .service-content p {
    transition: all .5s ease-in-out;
    margin-bottom: 0;
}

.about-section {
    padding-bottom: 80px;
    position: relative;
    background-color: #f2f7f8; 
    z-index: 1;

    .banner-bg-top {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.7;
    }

    .banner-bg-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.7;
    }

    .about-info {
        .about-content {
            .nav-tabs {
                padding-top: 30px;
                border: none;
                padding-bottom: 30px;

                .nav-link {
                    border: 1px solid #bb0b0b;
                    background-color: #ffffff;
                    border-radius: 50px;
                    color: #303030;
                    margin-left: 5px;
                    margin-right: 5px;
                }

                .nav-link.active {
                    background-color: #bb0b0b;
                    border: 1px solid #bb0b0b;
                    color: #ffffff;
                }
            }

            .unique {
                .unique-info {
                    padding-top: 10px;
                    padding-bottom: 10px;

                    h5 {
                        padding-left: 10px;
                        margin-bottom: 0;
                    }
                }
            }

            span {
                color: #bb0b0b;
                font-size: 16px;
                font-weight: 500;
                font-family: poppins, sans-serif;
                margin-bottom: 5px;
                display: block;
                margin-top: -5px;
                text-transform: uppercase;
            }

            h3 {
                font-size: 2.8125rem;
                font-weight: 700;
                color: #18212e;
                position: relative;
                display: inline-block;
                margin-bottom: 0;
                line-height: 1;
            }

            .para {
                font-size: 16px;
                font-weight: 400;
                color: #303030;
                line-height: 28px;
            }

            .about-footer {
                .btn {
                    background-color: #bb0b0b;
                    color: #ffffff;
                    text-transform: uppercase;
                    border: 2px solid #bb0b0b;
                }

                .btn:hover {
                    background-color: #ffffff;
                    color: #bb0b0b;
                }
            }
        }
    }
}

.achievement_section {
    padding: 60px;
    background-color: #bb0b0b;

    .info {
        padding: 10px;

        span {
            color: #ffffff;
            font-size: 3rem;
            font-weight: 600;
        }

        pre {
            font-size: 18px;
            color: #ffffff;
            font-family: poppins;
            margin-bottom: 0;
        }
    }
}


@mixin respond-to($breakpoint) {
    @if $breakpoint =="xs" {
        @media screen and (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint =="sm" {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }

    @else if $breakpoint =="md" {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $breakpoint =="lg" {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
}

.ps-timeline-sec {
    background-image: url('/../assets/images/about-timeline-bg.png');
    background-size: contain;
    background-repeat: no-repeat;  
    background-position: center center;  
    padding: 50px 0 50px 0;
    position: relative;   
    background-color: #f2f7f8; 
    overflow: hidden;

    span {
        color: #bb0b0b;
        font-size: 16px;
        font-weight: 500;
        font-family: poppins, sans-serif;
        margin-bottom: 5px;
        display: block;
        margin-top: -5px;
        text-transform: uppercase;
    }

    h3 {
        font-size: 2.8125rem;
        font-weight: 700;
        color: #18212e;
        position: relative;
        display: inline-block;
        margin-bottom: 0;
        line-height: 1;
    }


    .img-handler-top,
    .img-handler-bot {
        p {
            text-align: center;
            max-width: 100px;
            margin: 0 auto;
        }
    }

    .ps-timeline {
        li {
            display: flex;
            justify-content: center;
        }

        li p {
            background-color: #bb0b0b;
            padding: 8px 0;
            border-radius: 4px;
            // max-width: 100px !important;
            color: #ffffff;
            font-weight: 600;
            font-size: 12px;
        }
        .ps-bot:hover {
            background-color: #bb0b0b;
        }
        .ps-bot:hover p {
            color: #fff !important;
        }
        .ps-bot:hover h6 {
            color: #fff !important;
        }
        .ps-top:hover {
            background-color: #bb0b0b;
        }
        .ps-top:hover h6 {
            color: #fff !important;
        }
        .ps-top:hover p {
            color: #fff !important;
        }
        .ps-bot,
        .ps-top {
            background-color: #f5f5f5;
            padding: 20px;
            border-radius: 4px;

            p {
                background-color: transparent;
                color: #303030;
                margin-bottom: 0;
                font-weight: 500;
                font-size: 12px;
            }

            h6 {
                margin-bottom: 0;
            }
        }
    }

    .container {
        position: relative;

        ol {

            @include respond-to(xs) {
                &:before {
                    background: #bb0b0b;
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    position: absolute;
                    top: 0px !important;
                    left: 29px !important;
                }

                &:after {
                    background: #348e80;
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    position: absolute;
                    top: inherit !important;
                    left: 29px;
                }

                &.ps-timeline {
                    margin: 50px 0 !important;
                    border-left: 2px solid #303030;
                    padding-left: 0 !important;
                    padding-top: 120px !important;
                    border-top: 0 !important;
                    margin-left: 25px !important;

                    li.first_list {
                        height: 250px !important;

                        .img-handler-top {
                            bottom: 115% !important;
                        }

                        .ps-bot {
                            top: -10%;
                        }
                    }

                    li {
                        height: 360px;
                        float: none !important;
                        width: inherit !important;

                        &:nth-child(2) {
                            .img-handler-bot {
                                img {
                                    width: 70px;
                                }
                            }
                        }

                        &:last-child {
                            margin: 0;
                            bottom: 0 !important;
                            height: 300px;

                            .img-handler-bot {
                                bottom: 114% !important;
                                width: 40% !important;
                                margin-left: 0 !important;
                                margin-top: 0 !important;
                                left: -5%;

                                img {
                                    width: 100%;
                                }
                            }

                            .ps-top {
                                margin-bottom: 0 !important;
                                top: -5%;
                                width: 100% !important;
                                left: 0;
                            }
                        }



                        span {
                            left: 15px !important;

                            &.ps-sp-top {
                                &:before {
                                    content: none !important;
                                }

                                &:after {
                                    content: none !important;
                                }
                            }

                            &.ps-sp-bot {
                                &:before {
                                    content: none !important;
                                }

                                &:after {
                                    content: none !important;
                                }
                            }
                        }

                        .img-handler-top {
                            position: absolute !important;
                            bottom: 117% !important;
                            width: 30% !important;
                            float: left !important;
                            margin-left: 0 !important;
                            margin-bottom: 0 !important;

                            img {
                                margin: 0 auto !important;
                                width: 80% !important;
                            }
                        }

                        .img-handler-bot {
                            position: absolute !important;
                            bottom: 117% !important;
                            width: 30% !important;
                            float: left !important;
                            margin-left: 0 !important;
                            margin-bottom: 0 !important;
                        }

                        p {
                            text-align: center !important;
                            width: 100% !important;
                            margin: 0 auto !important;
                            margin-top: 0px !important;
                        }

                        .ps-top {
                            width: 100% !important;
                            float: right !important;
                            right: 0;
                            top: -40px;
                            height: 275px;

                            p {
                                text-align: left !important;
                            }
                        }

                        .ps-bot {
                            width: 100% !important;
                            float: right !important;
                            right: 0;
                            top: -15%;

                            p {
                                text-align: left !important;
                            }
                        }
                    }
                }
            }


            &:before {
                border: 5px solid #bb0b0b;
                background: #ffffff;
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 100%;
                position: absolute;
                left: 8px;
                top: -8px;
            }

            &:after {
                border: 5px solid #bb0b0b;
                background: #ffffff;
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 100%;
                position: absolute;
                right: 8px;
                top: -8px;
            }

            &.ps-timeline {
                margin: 390px 0;
                padding: 0;
                border-top: 2px solid #303030;
                list-style: none;

                li {
                    float: left;
                    width: 16%;
                    padding-top: 30px;
                    position: relative;

                    span {
                        width: 20px;
                        height: 20px;
                        margin-left: -25px;
                        background: #ffffff;
                        border: 4px solid #bb0b0b;
                        border-radius: 50%;
                        box-shadow: 0 0 0 0px #ffffff;
                        text-align: center;
                        line-height: 50px -10;
                        color: #303030;
                        font-size: 2em;
                        font-style: normal;
                        position: absolute;
                        top: -25%;
                        left: 57%;

                    }

                    .img-handler-top {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 60px;
                        width: 100%;

                        img {
                            display: table;
                            margin: 0 auto;
                        }
                    }

                    .img-handler-bot {
                        position: absolute;
                        margin-top: 0px;
                        width: 100%;

                        img {
                            display: table;
                            margin: 0 auto;
                        }
                    }

                    .ps-top {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 60px;
                    }
                    

                    .ps-bot {
                        position: absolute;
                        margin-top: 0px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .container {
            max-width: 1640px !important;
        }
    }


}

@media screen and (max-width: 767px) {
    .ps-timeline-sec {
        .ps-timeline {
            li {
                justify-content: left;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .ps-timeline-sec {
        padding: 50px 0 50px 0 !important;
    }
}

// core-values-section
.core-values-section {
    position: relative;

    .banner-bg-top {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.7;
    }

    .banner-bg-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.7;
    }

    .title {
        display: flex;
        flex-direction: column;
        text-align: center;

        p {
            width: 50%;
            margin: 0 auto;
        }

        span {
            text-transform: uppercase;
            color: #bb0b0b;
        }
    }

    .core-values {
        border: 1px solid #f5f5f5;
        overflow: hidden;
        background-color: #f5f5f5;
        border-radius: 12px;        

        img {
            border-radius: 12px;
        }
        h4 {
            padding-top: 20px;
            padding-bottom: 10px;
            font-size: 1.25rem;
        }
    }

    .core-values:hover {
        background-color: #bb0b0b;
        box-shadow: 3px 4px 30px rgba(136, 136, 136, 0.3);

        img {
            transform: scale(1.125);
            transition: all 0.67s ease-in-out;            
        }

        h4 {
            color: #ffffff;
        }
    }
}
.core-values-section {
    background-image: url("/../assets/images/core-bg.png");
    // margin-bottom: 2rem;
    background-size: cover;
    padding-top: 50px;

    .core-values-info {
        padding-left: 50px;

        span {
            color: #bb0b0b;
            font-size: 16px;
            font-weight: 500;
            font-family: poppins, sans-serif;
            margin-bottom: 5px;
            display: block;
            margin-top: -5px;
            text-transform: uppercase;
        }

        h3 {
            font-size: 2.8125rem;
            font-weight: 700;
            color: #18212e;
            position: relative;
            display: inline-block;
            margin-bottom: 0;
            line-height: 1;
        }

        p {
            font-size: 22px;         
            padding-top: 20px;   
        }
    }

    @media screen and (max-width: 991.98px) {
        .core-values-info {
            text-align: center;
            padding-bottom: 30px;
            padding-left: 0;

            p {
                padding-top: 15px;
            }
        }
    }
}
.process-section {
    padding-top: 100px;
}

.title-sub-text {
    color: #bb0b0b;
    font-size: 16px;
    font-weight: 500;
    font-family: poppins, sans-serif;
    margin-bottom: 5px;
    display: block;
    margin-top: -5px;
    text-transform: uppercase;
}

h3 {
    font-size: 2.8125rem;
    font-weight: 700;
    color: #18212e;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    line-height: 1;
}

.join-section {
    overflow: hidden;
    position: relative;

    .button {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    button.finbyz-button {
        color: #ffffff;
        text-decoration: none;
        background-color: #bb0b0b;
        -webkit-transition: .3s all ease;
        transition: .3s ease all;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        width: 270px;
        font-weight: 700;
        padding: 14px 0;
        border: 3px solid #ffffff;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .1);
        z-index: 2;
    }

    button.finbyz-button:before {
        -webkit-transition: .5s all ease;
        transition: .5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: #ffffff;
        z-index: -1;
    }

    button.finbyz-button:hover,
    button.finbyz-button:focus {
        color: #bb0b0b;
    }

    button.finbyz-button:hover:before,
    button.finbyz-button:focus:before {
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
    }
}

.joinus-area {
    background-image: url('/../assets/images/joinus-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 1, 12, 0.8);
    background-blend-mode: multiply;
    min-height: 290px;
    padding: 80px 7%;
    border-radius: 5px;
    min-width: 100%;
    justify-content: center;
    position: relative;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: cuprum, sans-serif;
        color: #ffffff;
        line-height: 1.5;
    }

    p {
        color: #ffffff;
        font-size: 1.1rem;
    }
}


/* work process code start here */


section {
    padding: 60px 0 0;
}

.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
}

.section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
}

.work-porcess-area {
    background-color: #f2f7f8;
    padding-bottom: 50px;
}

.work-porcess-area.white {
    background: #FFFFFF;
}

.work-porcess-area .process-info {
    margin-top: 7px;

    h3 {
        color: #bb0b0b;
    }

    p {
        color: #333333;
    }
}

.work-porcess-area .process-info .single-process {
    width: 160px;
    height: 160px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding-top: 53px;
    margin: 0 auto;
    //background: #FFFFFF;
    -webkit-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
    -o-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
    -moz-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
    -ms-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
    box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
    position: relative;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    // cursor: pointer;
    margin-bottom: 1rem;
    ;


}

.work-porcess-area .process-info .single-process:hover {
    box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4)
}

.work-porcess-area .process-info .single-process:after {
    content: "";
    position: absolute;
    left: 115%;
    top: 35px;
    background-image: url(/../assets/images/arr.png);
    width: 120px;
    height: 55px;
    background-repeat: no-repeat;
    opacity: 0.2;

}

.ps-timeline h6 {
    font-weight: bold;
    color: #303030;
}

.work-porcess-area .process-info .single-process.first {
    background: #f82249;
    background-image: url('/../assets/images/process-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: auto;
}

.single-process.secend.text-center.bg-process-second {
    background: #f82249;
    background-image: url('/../assets/images/process-02.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: auto;
}



.single-process.last.text-center.bg-process-last {
    background: #f82249;
    background-image: url(/../assets/images/process-04.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: auto;
}



.text-client-head {
    font-size: 1.25rem;
    font-weight: 700;
    color: #6B6161;
}

.text-client-subtext {
    font-size: 0.85rem;
    color: #6B6161;
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.text-center {
    text-align: center;
}


.work-porcess-area .process-info .single-process.first i:before {
    color: #FFFFFF;
}

.work-porcess-area .process-info .single-process.first h4 {
    color: #FFFFFF;
}

.work-porcess-area .process-info .single-process.thard {
    background: #f82249;
    background-image: url('/../assets/images/process-03.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work-porcess-area .process-info .single-process.thard i:before {
    color: #FFFFFF;
}

.work-porcess-area .process-info .single-process.thard h4 {
    color: #FFFFFF;
}

.work-porcess-area .process-info .single-process.last:after {
    display: none;
}

.work-porcess-area .process-info .single-process i {
    display: block;
    line-height: 25px;
    margin-bottom: 12px;
}

.work-porcess-area .process-info .single-process i:before {
    font-size: 36px;
    color: #f82249;
}

.work-porcess-area .process-info .single-process h4 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #f82249;
}

@media only screen and (max-width: 767px) {
    .work-porcess-area .process-info .single-process::after {
        display: none;
    }

    .work-porcess-area .process-info .single-process {
        margin-top: 30px;
    }

    .work-porcess-area .section-title h2 {
        margin-bottom: 5px;
    }

    .section-header h2 {
        font-size: 30px;
    }


}

/* work process code end here */


/* Leadership section start here */

.leadership-section {
    margin-bottom: 3rem;

    .leadership-info {
        .leadership-content {
            background-color: #333333;
            padding: 10px 25px;
            flex-direction: column;

            h3, h4, p {
                color: #ffffff;
            }

            h3 {
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 600;
            }

            h4 {
                font-size: 18px; 
                font-weight: 400;                               
            }

            p {
                font-size: 14px;
                font-weight: 300;
                overflow: hidden;                
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                width: 100%;
                // text-align: justify;
            }

            a {
                text-decoration: none;
                color: #bb0b0b;              
            }

            a:hover {
                color: #ffffff;  
            }
        }        
    }

    .col-main {
        flex: 1;
    }

    .col-complementary {
        flex: 1;
    }

    /* Responsive: */

    @media only screen and (min-width: 768px) {
        .layout {
            display: flex;
            gap: 2rem;
        }
    }

    .container {
        max-width: 60em;
        margin-right: auto;
        margin-left: auto;
    }

    .col {
        margin: 0 2px 2px 0;
        background: #404041;
    }

    .left-column-wrap {
        a {
            color: #F4F4FF;
        }

        a:hover {
            color: #9195a2;
        }

        .left-section {

            h2 {
                font-size: 1.5rem;
                color: #ffffff;
                font-weight: 500;
                padding: 0.5rem 0;
                margin-bottom: 0;
            }

            h4 {
                font-size: 1rem;
                color: #ffffff;
                font-weight: 300;
            }

            p {
                color: #ffffff;
                font-weight: 300;
                font-size: 0.9rem;
                padding: 1rem 0;
            }
        }

        .column {
            float: left;
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
    }

}

@media screen and (max-width: 576px) {
    .leadership-section {
        .col {
            background-color: #ffffff !important;
        }

        .left-section {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.process-number {
    background-color: #f82249;
    border: 5px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 35px;
    line-height: 26px;
    position: relative;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 35px;
}

/* Leadership section end here */