<section class="banner-section">
    <div class="container-fluid">
      <div class="row zoominheader">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
          <div class="banner-info">
              <h2>Discover Our Story</h2>
              <p>We are the digital transformation ally, redefining the success of global industries through innovation, technology, and personalized solutions.</p>
              <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
          </div>        
        </div>       
      </div>
    </div>
</section>

<div class="about-section position-relative overflow-hidden pt-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" id="about">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
        <div class="row justify-content-center align-items-center about-info g-4">
            <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                <img src="assets/images/about-img-2.png" class="img-fluid about4-image" alt="image">
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-content style-2 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <span>Reason of Our Success</span>
                    <h3>Who We Are?</h3>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="contact-tab" data-bs-toggle="tab"
                                data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                aria-selected="false">Capabilities </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Our Mission</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">Our
                                Vision</button>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <p>To empower and strengthen businesses across various domains and make them the best in
                                business. We strive to remain unique with our methods and approach while adhering to the
                                values we’ve been following since our start.</p>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <p>Bring creativity and innovation to your business.</p>
                        </div>
                        <div class="tab-pane fade show active" id="contact" role="tabpanel"
                            aria-labelledby="contact-tab">
                            <p>QBrainX is a company with energetic community of Enterprise Architects, Solution
                                Consultants, Technologists & Project/Program Management experts. Our assessments,
                                discovery, proof-of-concepts are always loved by the customer community. We work with
                                the best of the best in the technology space as partners.</p>
                        </div>
                    </div>
                    <div class="row d-flex unique">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="d-flex unique-info align-items-center">
                                <img src="assets/images/skillset.png" alt="skillset">
                                <h5>Skillset</h5>
                            </div>
                            <div class="d-flex unique-info align-items-center">
                                <img src="assets/images/hybrid.png" alt="hybrid environments">
                                <h5>Hybrid Environments</h5>
                            </div>
                            <div class="d-flex unique-info align-items-center">
                                <img src="assets/images/improvement.png" alt="improved branding">
                                <h5>Improved Branding & Business</h5>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="d-flex unique-info align-items-center">
                                <img src="assets/images/support.png" alt="end-to-end">
                                <h5>End-to-End Support</h5>
                            </div>
                            <div class="d-flex unique-info align-items-center">
                                <img src="assets/images/proactive.png" alt="proactive">
                                <h5>Proactive Approach to QA</h5>
                            </div>
                            <div class="d-flex unique-info align-items-center">
                                <img src="assets/images/performance.png" alt="performance">
                                <h5>Performance</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="achievement_section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">
        <div class="row text-center">

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="info">
                    <span id="count1" class="display-4 main-txt-counter">280+</span>
                    <pre class="sub-txt-counter">Headcount</pre>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="info">
                    <span id="count1" class="display-4 main-txt-counter">12+</span>
                    <pre class="sub-txt-counter">Industries</pre>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="info">
                    <span id="count1" class="display-4 main-txt-counter">30+</span>
                    <pre class="sub-txt-counter">Clients</pre>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="info">
                    <span id="count1" class="display-4 main-txt-counter">45+</span>
                    <pre class="sub-txt-counter">Technologies Harnessed</pre>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ps-timeline-sec wow animate__animated animate__fadeIn" data-wow-duration="1.5s">
    <div class="row">
        <div class="col-lg-12">
            <div class="title text-center">
                <span>Our History</span>
                <h3>Transformation from day one</h3>
            </div>    
        </div>        
    </div>  
    
    <div class="row">
        <div class="col-lg-12 pt-5">
            <img src="assets/images/time_line_QBX.png" alt="timeline_image" width="100%">
        </div>
    </div>
</section>

<div class="core-values-section pt-50 pb-50">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
            <div class="row d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
            <div class="col-lg-5">
                <div class="core-values-info">
                    <h3>Our Core Values</h3>
                    <p>Humility fuels our success. We listen, communicate openly, and embrance divetsity to build strong relationships.</p>
                </div>
            </div>

            <div class="col-lg-7">
                <img src="assets/images/core_values.svg" width="100%">
            </div>

        </div>

    </div>
</div>

<section class="work-porcess-area section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">


        <div class="section-header">

            <div class="title text-center">
                <span class="title-sub-text">How We Work</span>
                <h3>Our Work Process</h3>
            </div>

        </div>
        <div class="process-info">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="single-process first text-center">
                        <span class="process-number">01</span>
                    </div>
                    <h3 class="text-client-head">Consultation & Discovery</h3>
                    <p class="text-client-subtext">We dive deep into your needs, understanding goals, challenges, and opportunities, analyzing your systems for a transformative roadmap.</p>
                </div>
                <div class="col-md-3 text-center">
                    <div class="single-process secend text-center bg-process-second">
                        <span class="process-number">02</span>
                    </div>
                    <h3 class="text-client-head">Tailored Strategy & Planning</h3>
                    <p class="text-client-subtext">Crafting a customized digital transformation strategy, setting goals, and defining timelines for innovative solutions.</p>
                </div>
                <div class="col-md-3 text-center">
                    <div class="single-process thard text-center bg-process-third">
                        <span class="process-number">03</span>
                    </div>
                    <h3 class="text-client-head">Implementation & Integration</h3>
                    <p class="text-client-subtext">Expertly deploying AI, IoT, and more, seamlessly integrating new solutions for minimal disruption.</p>
                </div>
                <div class="col-md-3 text-center">
                    <div class="single-process last text-center bg-process-last">
                        <span class="process-number">04</span>
                    </div>
                    <h3 class="text-client-head">Continuous Support & Optimization</h3>
                    <p class="text-client-subtext">We're with you for the long haul, optimizing and fine-tuning to keep you at the forefront of innovation.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- work process section end here -->

<div class="join-section pb-50 pt-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">
      <div
        class="joinus-area d-flex align-items-center wow fadeInUp"
        data-wow-duration="1.5s"
        data-wow-delay="0.2s"
      >
        <div class="row d-flex align-items-center g-4">
          <div
            class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center"
          >
            <h2>Join Us in Shaping the Future</h2>
            <p>With a global presence and a team of dedicated professionals, we're here to help you become the next and best version of your business. Let's embark on a journey of growth and transformation together.</p>
          </div>
          <div
            class="col-lg-5 d-flex justify-content-lg-end justify-content-center"
          >
  
         <a href="/contact"><button class="finbyz-button">Join Us</button></a>

                    
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container leadership-section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="section-header">
                <div class="title text-center">
                    <span class="title-sub-text">Speech</span>
                    <h3>Leadership Talk</h3>
                </div>
            </div>
        </div>
    </div>    

    <div class="row">        
        <div class="col-lg-6 col-sm-12 mt-3">
            <div class="leadership-info d-flex h-100">
                <img src="assets/images/lak-pic.png" alt="leadership-img" width="50%" height="100%">

                <div class="leadership-content d-flex justify-content-center">
                    <h3>Lakshman</h3>
                    <h4 class="pt-1">Co-Founder & CEO</h4>
                    <p>Entrepreneur & founder of a high-growth company providing Digital Transformation Services. Lakshman is the Chief Executive Officer of QBrainX. He is a former architect turned entrepreneur with passion of data, analytics, algorithms, and storytelling with data.​ As a result of his commitment to actionable insights and excellence, he founded QBrainX. Learn how QBrainX can positively impact IT systems & business processes!​</p>
                    <a href="/about/leadership/Lakshman"  target="_blank">Read More</a>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 mt-3">
            <div class="leadership-info d-flex h-100">
                <img src="assets/images/raj-pic.png" alt="leadership-img" width="50%" height="100%">

                <div class="leadership-content d-flex justify-content-center">
                    <h3>Rajkumar Selvam</h3>
                    <h4 class="pt-1">Co-Founder & CTO</h4>
                    <p>Entrepreneur & Co-founder of a high-growth company providing Digital Transformation Services.​ Rajkumar Selvam is the Chief Technology officer of QBrainX. In his current role, he is responsible for global delivery, sales, and marketing.​ A former digital transformation Specialist and engagement manager turned entrepreneur. He worked with Fortune 100 customers and scaled multi million dollars of business from scratch.​</p>
                    <a href="/about/leadership/Rajkumar"  target="_blank">Read More</a>
                </div>

            </div>
        </div>
    </div>

</div>
