<section class="banner-section pt-50">
    <div class="container-fluid">
      <div class="row zoominheader">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
          <div class="banner-info">
              <h2>Data & AI Fusion</h2>
              <p>Experience the ever-evolving landscape of possibilities with the dynamic duo of Data & AI, transforming challenges into opportunities.</p>
              <a href="/contact"><button class="finbyz-button">Consult Our Experts</button></a>
          </div>        
        </div>      
      </div>
    </div>
  </section>  

  <section class="data-migration-section pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12 title text-center">
          <!-- <span>Capabilities</span> -->
          <h3>Addressing Key Data Challenges</h3>        
        </div>
      </div>
      <div class="row g-4 justify-content-center pt-50">
        <div class="col-lg-4 col-md-6 col-sm-6 col-10">
            <div class="service-item2 style-3 wow fadeInDown" data-wow-duration="1.5s"
                data-wow-delay="0.2s">
                <div class="service-content">
                    <span class="sn">01</span>
                    <h4>Data Governance, Security, and Compliance</h4>
                    <p>Navigating the complexities of data governance, securing data, and ensuring compliance with data protection regulations.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-10">
            <div class="service-item2 style-3 wow fadeInDown" data-wow-duration="1.5s"
                data-wow-delay="0.4s">
                <div class="service-content">
                    <span class="sn">02</span>
                    <h4>Data Analysis and Visualization</h4>
                    <p>Overcoming the challenge of interpreting complex data, enhancing data visualization options, and maintaining data accuracy and consistency.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-10">
            <div class="service-item2 style-3 wow fadeInDown" data-wow-duration="1.5s"
                data-wow-delay="0.6s">
                <div class="service-content">
                    <span class="sn">03</span>
                    <h4>Scalability and Performance</h4>
                    <p>Addressing challenges related to scaling systems, resolving interoperability issues, and efficiently managing cloud adoption and resource utilization.</p>
                </div>
            </div>
        </div>      
      </div>
    </div>
  </section>
  
  <div class="capabilities_section pb-50 pt-50">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <!-- <span>Capabilities</span> -->
                <h3>Our Data Analytics Capabilities</h3>
            </div>
        </div>    
        <div class="row pt-3 d-flex justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
                <div class="capabilities_info">
                  <div class="capabilities_image">
                    <img alt="image" src="assets/images/data_analytics_main.jpg" width="100%">
                  </div>
                  <div class="content">
                      <h4>Data Strategy</h4>
                      <!-- <p>Business-led migration to SAP S/4HANA Reduce TCO via simplification of landscape. Complete conversation of an existing SAP Business Suite system to SAP S/4HANA.</p> -->
                      <a href="/services/data-and-ai/data-strategy">Discover More <i class="bi bi-arrow-right"></i></a>
                  </div>                    
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
                <div class="capabilities_info">
                  <div class="capabilities_image">
                    <img alt="image" src="assets/images/data_engineering_main.jpg" width="100%">
                  </div>
                  <div class="content">
                      <h4>Data Engineering</h4>
                      <!-- <p>New implementation / re-implementation Standardize and simplify the existing landscape to reduce TCO and use latest innovations.</p> -->
                      <a href="/services/data-and-ai/data-engineering">Discover More <i class="bi bi-arrow-right"></i></a>
                  </div>                     
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
                <div class="capabilities_info">
                  <div class="capabilities_image">
                    <img alt="image" src="assets/images/data_science_main.jpg" width="100%">
                  </div>
                  <div class="content">
                      <h4>Gen AI</h4>
                      <!-- <p>Transition systems to the new platform Use innovations to reimagine process Take advantage of the new data model to eliminate aggregates and batch processing.</p> -->
                      <a href="/services/data-and-ai/gen-ai">Discover More <i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
            </div>          
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div class="capabilities_info">
                <div class="capabilities_image">
                  <img alt="image" src="assets/images/business_insight_main.jpg" width="100%">
                </div>
                <div class="content">
                    <h4>Business Insights</h4>
                    <!-- <p>Transition systems to the new platform Use innovations to reimagine process Take advantage of the new data model to eliminate aggregates and batch processing.</p> -->
                    <a href="/services/data-and-ai/business-insights">Discover More <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div class="capabilities_info">
                <div class="capabilities_image">
                  <img alt="image" src="assets/images/data_governance_image.jpg" width="100%">
                </div>
                <div class="content">
                    <h4>Data Governance</h4>
                    <!-- <p>Transition systems to the new platform Use innovations to reimagine process Take advantage of the new data model to eliminate aggregates and batch processing.</p> -->
                    <a href="/services/data-and-ai/data-governance">Discover More <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div class="capabilities_info">
                <div class="capabilities_image">
                  <img alt="image" src="assets/images/data_driven_image.jpg" width="100%">
                </div>
                <div class="content">
                    <h4>Data Insights for Government</h4>
                    <!-- <p>Transition systems to the new platform Use innovations to reimagine process Take advantage of the new data model to eliminate aggregates and batch processing.</p> -->
                    <a href="/services/data-and-ai/data-insights-for-government">Discover More <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div class="capabilities_info">
                <div class="capabilities_image">
                  <img alt="image" src="assets/images/data_governance_main.jpg" width="100%">
                </div>
                <div class="content">
                    <h4>Grapevine</h4>
                     <p>Transition systems to the new platform Use innovations to reimagine process Take advantage of the new data model to eliminate aggregates and batch processing.</p> -->
                    <!-- <a href="/services/data-and-ai/grapevine">Discover More <i class="bi bi-arrow-right"></i></a>
                </div>
              </div> -->
            <!-- </div>                                                           --> 
        </div>
    </div>
  </div>

  <!-- <div class="why-us-section pt-50 pb-50">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-xs-12 text-center my-0 mx-auto">
            <div class="title primary1">
              <span>-WHY CHOOSE US-</span>
              <h3>Our SAP Services Features</h3>   
              <p class="pt-3">Our SAP services will ease multiple touchpoints for businesses with strategic business consulting. With our services, you’ll get a bird’s eye view of the whole system with the design, development, implementation, and integration of SAP solutions. We aim to enable our customers to seamlessly transition to becoming best-run businesses with the backing of a strong SAP implementation.</p>       
            </div>
          </div>
        </div>
        <div class="row justify-content-center g-4 pt-3">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let blog of serviceArray;let i=index">
            <div class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
              data-wow-duration="1.5s" data-wow-delay="0.2s">
              <div class="service-content">
                <span class="sn"><img [src]="getIconUrl(blog)" /></span>
                <h4><a>{{blog.title}}</a></h4>
                <p class="para">
                  {{blog.text}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div
              class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.2s"
            >
              <div class="service-content">
                <span class="sn"><i class="bi bi-person"></i></span>
                <h4><a>Streamline Implementations</a></h4>
                <p class="para">
                  We document every part of the process so there’s no chance of any misses.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div
              class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.4s"
            >
              <div class="service-content">
                <span class="sn"><i class="bi bi-exclamation-triangle"></i></span>
                <h4><a>Enable repeatable Quality</a></h4>
                <p class="para">
                  Living up to the best standards will happen not once, but multiple times
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div
              class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.8s"
            >
              <div class="service-content">
                <span class="sn"><i class="bi bi-shield-lock"></i></span>
                <h4><a>Deliver the Intelligent Enterprise</a></h4>
                <p class="para">
                  Centralizing multiple touch points of e-business applications
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div
              class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.6s"
            >
              <div class="service-content">
                <span class="sn"><i class="bi bi-box2"></i></span>
                <h4><a>Help customers transition to SAP S/4HANA</a></h4>
                <p class="para">
                  You deserve the best — we help you foster superior methodologies
                </p>
              </div>
            </div>
          </div>  
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div
                class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInDown"
                data-wow-duration="1.5s"
                data-wow-delay="0.6s"
              >
                <div class="service-content">
                  <span class="sn"><i class="bi bi-box2"></i></span>
                  <h4><a>Launch and Support</a></h4>
                  <p class="para">
                      Enable you to launch and support post-go-live — we’ll be there for you!
                  </p>
                </div>
              </div>
          </div>              
        </div>
      </div>
  </div> -->
  
  <div class="highlights-section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
      <div class="container info">
          <div class="row pt-5">
              <div class="col-md-12 title text-center">
                  <!-- <span>ServiceNow Services</span> -->
                  <h3>Overcoming Challenges in Data Management & Analytics</h3>
              </div>
          </div>
          <div class="row pt-5">
              <div class="col-lg-12">
                  <div class="work-process-area">
                      <div class="row g-4 d-flex justify-content-center">
                          <div class="col-md-4 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="/assets/images/data-governance-icon.svg" alt="image" width="70px">
                                  <h4 class="pt-3">Data Governance, Security, and Compliance</h4>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="/assets/images/data-analytics-visualization.svg" alt="image" width="70px">
                                  <h4 class="pt-3">Data Analysis and Visualization</h4>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="/assets/images/scalability-performance.svg" alt="image" width="70px">
                                  <h4 class="pt-3">Scalability and Performance</h4>
                              </div>
                          </div>
                          <!-- <div class="col-md-4 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="/assets/images/customer-experience.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Improve customer experiences</h4>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="/assets/images/revenue-boost.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Ultimately boost revenues</h4>
                              </div>
                          </div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>  
  
  <!-- <div class="case-study-section pt-50">
      <div class="container">
          <div class="row">
              <div class="col-md-12 title text-center">
                  <span>Case Study</span>
                  <h3>Our SAP Case Studies</h3>
              </div>
          </div>
  
          
          <div class="row py-5 d-flex justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info wow animate__animated animate__fadeInUp"
                data-wow-duration="1.5s" data-wow-delay="0.6s" *ngFor="let caseStudy of caseStudyArrayList;let i=index" >
                <div class="sigle-blog-1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                    <div class="blog-image">
                        <img
                        src="data:image/{{caseStudy.extension}};base64,{{caseStudy.image}}"
                        class="img-fluid"
                        alt="image"
                      />
                    </div>
                    <div class="blog-content hover-border1" (click)="caseStudydetails(caseStudy)">
                        <span>{{caseStudy.category}}</span>
                        <h4>
                            <a>{{caseStudy.title}}</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center mt-5 pagination-wrap">
              <div class="pagination d-flex align-items-center">
                <button class="pagination-btn" (click)="changePreviousPage()" [disabled]="currentPage === 1">Previous</button>
                <span> {{ currentPage }}</span>
                <button class="pagination-btn" (click)="changeNextpage()" [disabled]="currentPage === lastpage">Next</button>
              </div>
            </div>      
          </div>
      </div>
  </div> -->
  
  <div class="faq-section pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" id="faq">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-12 title text-center">
                <span>ServiceNow Services</span>
                <h3>Importance of Microservice Architecture</h3>
            </div> -->
        </div>
        <div class="row pt-5 g-4 justify-content-center">
            <div class="col-lg-4">
                <div class="sidebar-card wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <img src="assets/images/data_solution_qbx.jpg" width="100%">
                    <div class="content">
                    <h2 class="pt-3">How Data Solutions Can Help You?</h2>
                    <p class="pt-3">The right data solutions can make all the difference for your organization and leveraging data effectively can provide a competitive edge and drive growth. Here's how data solutions can help you:</p>
                    <!-- <p class="pt-3">Founded on a strong foundation of collective 40 years of technical expertise, we handle IT challenges in a distinctive way using creativity and innovation. We can help you move away from conventional approaches to IT planning and provide the proactive IT Consulting Services you need to drive your technology infrastructure on the right path. Let your business be in any stage; whether you need assistance with a project, support for ongoing maintenance, direction for technology investment, or guidance for the installation of an enterprise system.</p>
                    <p class="pt-3">Rest assured, our IT services will assist in transforming enterprises from FUNCTIONAL to REMARKABLE through enhanced operational efficiencies, increased business productivity, decreased risk, and higher customer satisfaction.</p> -->
                    </div>                    
                    <!-- <a href="contact.html" class="eg-btn btn--primary btn--lg">Work Together</a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="col-md-12 title mb-5">
                    <!-- <span>ServiceNow Services</span> -->
                    <!-- <h3>Partner with us for Services</h3>
                    <p class="pt-3">Any business that operates in the digital world needs information technology services. IT services oversee, plan, and implement the vital procedures, resources, and software that support daily operations. These are utilized to put technical know-how to work by standardizing and streamlining business procedures, allowing firms to access information more effectively.</p> -->
                </div>
                <div class="faq-wrap wow fadeInRight pb-120" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading10" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse10" aria-controls="collapse10">
                            Efficiency and Productivity
                        </h5>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10">
                            <div class="faq-body style-2">
                            Streamlining operations and automating manual processes can significantly improve efficiency and productivity. Data solutions can help you eliminate repetitive tasks, reduce errors, and allocate resources more effectively.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading11" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse11" aria-controls="collapse11">
                            Customer Insights
                        </h5>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11">
                            <div class="faq-body style-2">
                              We provide the tools to analyze customer data, create personalized experiences, and build long-lasting relationships.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading12" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse12" aria-controls="collapse12">
                            Predictive Analytics
                        </h5>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12">
                            <div class="faq-body style-2">
                              Whether it's predicting demand, identifying potential risks, or optimizing resources, data solutions help you stay one step ahead.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading13" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse13" aria-controls="collapse13">
                            Scalability and Growth
                        </h5>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13">
                            <div class="faq-body style-2">
                              Data solutions are designed to scale your business. As you grow, your data capabilities can grow with you, ensuring that you can adapt to changing requirements and seize new opportunities.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading14" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse14" aria-controls="collapse14">
                            Compliance and Security
                        </h5>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14">
                            <div class="faq-body style-2">
                              Maintaining data compliance and security is non-negotiable, particularly in highly regulated industries like finance and healthcare. Data solutions help you adhere to data protection regulations and safeguard sensitive information.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading15" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse15" aria-controls="collapse15">
                            Real-Time Insights
                        </h5>
                        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15">
                            <div class="faq-body style-2">
                              Accessing real-time data insights is increasingly valuable. Whether it's monitoring patient health, tracking financial market changes, or optimizing supply chain operations, real-time data solutions provide a competitive advantage.
                            </div>
                        </div>
                    </div>
                    <div class="faq-item hover-btn"><span></span>
                        <h5 id="heading16" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse16" aria-controls="collapse16">
                            Cost Savings
                        </h5>
                        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16">
                            <div class="faq-body style-2">
                              Efficiency gains, accurate decision-making, and reduced errors translate to cost savings. Data solutions help you manage resources more effectively and allocate budgets where they matter most.
                            </div>
                        </div>
                    </div> 
                    <div class="faq-item hover-btn"><span></span>
                      <h5 id="heading17" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                          data-bs-target="#collapse17" aria-controls="collapse17">
                          Competitive Advantage
                      </h5>
                      <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17">
                          <div class="faq-body style-2">
                            In a data-driven world, those who harness data effectively gain a competitive edge. Data solutions enable you to differentiate, innovate, and lead your industry.
                          </div>
                      </div>
                  </div>
                  <div class="faq-item hover-btn"><span></span>
                    <h5 id="heading18" class="accordion-button style-2 collapsed" data-bs-toggle="collapse"
                        data-bs-target="#collapse18" aria-controls="collapse18">
                        Quick Decision-Making and Enhanced Security
                    </h5>
                    <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18">
                        <div class="faq-body style-2">
                          We help you make informed decisions, and the security of your data will no longer bother you.
                        </div>
                    </div>
                </div>                                
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="join-section pt-50 pb-50">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp"
            data-wow-duration="1.5s" data-wow-delay="0.4s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>Let's Connect: Unlock the Potential of Data Solutions</h2>
                    <p>Let's connect today to explore how we can work together to achieve your data-driven objectives.</p>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp"
                    data-wow-duration="1.5s" data-wow-delay="0.6s">
  
                   <a href="/contact"><button class="finbyz-button">Join Us</button></a>
  
  
                </div>
            </div>
        </div>
    </div>
  </div>