<div class="inner-banner pt-100">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center text-center">
      <div class="col-md-12">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">Privacy Policy</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb gap-3">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<section class="privacy-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="privacy_info pt-50 pb-50">
          <h2>Privacy Policy</h2>
      
          <p>
            QBrainX.Inc, referred to as "QBrainX" or the "Company," is dedicated to safeguarding the privacy of various
            individuals. This commitment extends to visitors of the Company's websites, those who register for free or
            trial software downloads, users of the Company's software and services, attendees of corporate events
            (whether in-person or web-based), as well as all employees and contractors employed by the Company.
          </p>

          <p>
            By completing the online registration form or sharing your personal information through alternative channels
            such as chats and emails, you are granting consent to QBrainX for the collection and storage of the provided
            personal information. Upon submission of the Registration Form, it is acknowledged and agreed that QBrainX
            may process and share the provided Personal Information for the following purposes:
          </p>

          <p>
            <b>The provided Personal Information is processed and shared by QBrainX for the following purposes:</b>
          </p>
          <ul>
            <li> To facilitate your access to the services and solutions offered by QBrainX.</li>
            <li>To send you emails, promotions, and marketing materials related to QBrainX products, events, activities,
              and offerings.</li>
            <li>To enable contact by a QBrainX salesperson.</li>
            <li>To deliver information about the products and services you have purchased or other offerings from the
              company.</li>
            <li>To authorize the transfer of your Personal Information to QBrainX's authorized third parties for the
              purpose of delivering services and solutions and for direct marketing.</li>
            <li>To furnish you with content and venue details for webinars or events you have signed up for.</li>
            <li>To respond to emails or other web forms/chats initiated and/or submitted by you.</li>
            <li>To fulfill contractual obligations such as order confirmation, license details, invoices, reminders,
              etc., whether the contract is with QBrainX directly or with a QBrainX partner.</li>
            <li>To conduct surveys seeking your opinions on our products and services.</li>
            <li>To provide responses to any support service requests submitted by you.</li>

          </ul>

          <h2>How long do we keep your personal data?</h2>
          <p>
            The retention of your personal data is contingent upon the necessity to fulfill the initial purpose for
            which the data was collected. We also take into account the need to address your inquiries, resolve
            potential issues, adhere to legal requirements as stipulated by applicable laws, handle any legal claims or
            complaints, and ensure safeguarding purposes. Consequently, your personal data may be stored for a
            reasonable duration following your last interaction with us. Once the collected personal data is no longer
            deemed necessary, it will be securely deleted.
          </p>
          <h2>Personal Data Collected</h2>
          <p>
            The following table offers a concise summary of how QBrainX utilizes, retains, and shares various categories
            of personal data processed by the Company, along with relevant information.
          </p>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Personal data </th>
                <th scope="col">How and why we use personal data </th>
                <th scope="col">Who we share the personal data with</th>
                <th scope="col">Lawful basis for processing the personal data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Contact information, such as title, name, title, email address and phone number</td>
                <td>We use your personal information to fulfill specific purposes, including sending you materials you
                  request, such as whitepapers, details of our events and webinars, and other marketing materials via
                  email. If you choose to set up an account, your contact information is utilized to offer support for
                  our products.</td>
                <td>We may share your personal information with our marketing campaign providers, webinar software
                  providers, email platforms, and select re-sellers or business partners.</td>
                <td>The utilization of your contact information for sending marketing materials aligns with our
                  legitimate interests in promoting our business and evaluating the effectiveness of our promotional
                  activities.</td>
              </tr>
              <tr>
                <td scope="row">We collect information from your web browser, including details such as browser type and
                  language, your Internet Protocol ("IP") address, internet service provider (ISP), operating system,
                  date/time stamp, and clickstream data. Additionally, we track your actions on the Company's websites,
                  including the web pages viewed and the links clicked.</td>
                <td>We utilize this information for analytics purposes, commonly referred to as understanding how
                  visitors navigate our websites. This analysis helps us comprehend the popularity of content, identify
                  user preferences, and tailor our offerings to provide more personalized information.</td>
                <td>Third-party analytics providers and marketing campaigners collect and analyze usage data on our
                  behalf.</td>
                <td>Our legitimate interests in monitoring and improving our Web sites</td>
              </tr>
              <tr>
                <td scope="row">We collect contact information, including name, company name, title, email address,
                  mailing address, and phone number. Additionally, billing information is gathered, encompassing billing
                  name and address, credit card number, and details regarding the number of users or systems within the
                  organization that will be utilizing Software and Services.</td>
                <td>We use this information to facilitate the onboarding of new clients for invoicing and payment
                  processes, manage license renewals, and offer product support to customers who make requests through
                  email or ticketing software.</td>
                <td>The provided information is shared with our payment processing provider for payment-related
                  transactions. Additionally, the customer support team, located in India, processes personal
                  information to address customer queries and provide support services.</td>
                <td>The utilization of this information is deemed necessary for our legitimate interests, specifically
                  in delivering Software and Services on a commercial basis and offering product support to our
                  customers.</td>
              </tr>
            </tbody>
          </table>

          <h2>Customer Provided Content</h2>
          <p>
            Certain services, such as Document360, enable customers to store customer content, including documents,
            images, and other digital information collectively referred to as "Customer Content." This content is
            exclusively accessible to the respective customer, and QBrainX explicitly does not utilize any Customer
            Content. It is crucial to emphasize that each customer bears sole responsibility for their Customer Content.
            This includes ensuring that the content is neither inappropriate nor unlawful and does not contain any
            viruses or harmful elements.
          </p>
          <h2>Your Rights</h2>
          <p>
            If you decide to change your preference after initially consenting to receive marketing communications from
            us, kindly send a request indicating your updated choice to <a
              href="mailto:contact@qbrainx.com">contact@qbrainx.com</a>. QBrainX commits to
            responding to your request within one month from the date of receipt. Additionally, should you wish to
            request modifications to the provided personal data or seek the deletion of all personal data from the
            Company, please direct your request to <a href="mailto:contact@qbrainx.com">contact@qbrainx.com</a>
          </p>

          <p>
            To manage your receipt of marketing and non-transactional communications, you have the option to click on
            the 'unsubscribe' link located at the bottom of the Company's marketing emails and newsletters. However,
            it's important to note that customers cannot opt out of receiving transactional emails related to their
            account, which are associated with the Software and Services purchased and are essential for support and
            maintenance of the products.

          </p>
          <p>
            QBrainX's websites may contain links to external websites, including content on social media platforms such
            as Facebook, Twitter, YouTube, and LinkedIn. It's crucial to be aware that the privacy statements of these
            external websites govern their information practices and content. The Company encourages you to review the
            privacy statements of these other websites to gain an understanding of their information and privacy
            practices.
          </p>
          <h2>Cookies and other Tracking Technologies</h2>
          <p>
            QBrainX employs cookies to enhance the ease and significance of interactions on the Company's websites. When
            you visit any of the Company's websites, QBrainX (or one of our third-party service providers') servers
            transmits a cookie to your computer. Cookies are pieces of information that a website transfers to your hard
            drive, serving to store and, at times, track information about you. While most web browsers automatically
            accept cookies, you have the option to modify your browser settings to prevent this. Instructions on how to
            do so can be found in your browser's help screen or manual. It's important to note that choosing to disable
            cookies may limit your ability to fully leverage our websites, software, or services.
          </p>

          <p>
            QBrainX utilizes both session-based and persistent-based cookies. Session cookies are active only during a
            single session, disappearing from your computer when you close your browser software or turn off your
            computer. In contrast, persistent cookies remain on your computer even after you close your browser or turn
            off your computer. This distinction allows us to tailor and enhance your experience on our websites based on
            your preferences and interactions.
          </p>
          <p>
            Cookies play a vital role in enabling the Company to recognize and tally the number of visitors, as well as
            observe how visitors navigate our websites during their usage. This serves our legitimate purposes by
            facilitating improvements to the functionality of our websites. For instance, cookies assist in ensuring
            that users easily find what they are seeking. Additionally, cookies are employed to recognize you upon your
            return to our websites, contributing to a personalized and streamlined user experience.
          </p>

          <h2>Business and Channel Partners</h2>
          <p>
            QBrainX directly sells Software and Services to customers and indirectly through distributors and resellers
            (referred to as "Business Partners"). If you express interest in our Software or Services, either directly
            with QBrainX or through a jointly promoted offering, your personal data collected in connection with this
            expression of interest may be shared with our Business Partner(s). QBrainX imposes contractual limitations
            on Business Partners' use of your personal data, restricting it to the promotion and sale of Software and
            Services. Business Partners are also contractually required to comply with applicable laws governing the
            collection of personal data. It's essential to note that QBrainX does not govern the use of your personal
            data by our Business Partners, and their utilization is subject to their individual privacy policies.
            QBrainX will not share your personal data with Business Partners unless you explicitly opt in to such
            sharing through an information request or an event registration form. If you opt to share your information
            with Business Partners in the aforementioned ways, your data will be subject to the respective privacy
            statements of those Business Partners.
          </p>

          <h2>Compelled Disclosure</h2>
          <p>
            QBrainX retains the right to utilize or disclose information if mandated by law or if the Company reasonably
            deems such use or disclosure necessary to safeguard the Company's rights, your safety, or the safety of
            others, investigate fraud, or comply with a judicial proceeding, court order, legal process, or other
            governmental authority. However, unless legally prohibited, QBrainX is committed to making reasonable
            efforts to notify you, allowing you the opportunity to seek a protective order or take any other appropriate
            actions.
          </p>

          <h2>Privacy and Children</h2>
          <p>
            QBrainX's websites are not designed to provide information intended for children, and the Company does not
            knowingly solicit personal data from individuals under the age of 16.
          </p>
          <h2>Processing Data Outside of European Economic Area (EEA)</h2>

          <p>QBrainX may store, process, and/or transfer personal data to countries outside the European Economic
            Area (EEA), including those where the European Commission has not made a decision regarding an adequate
            level
            of protection of personal data, with a particular focus on India. Additionally, personal data may be
            processed
            by staff operating outside the EEA who are employed by the Company. These staff members may be involved in
            various activities, including the processing of payment details and the provision of support services.</p>

          <p>By submitting your personal data, you agree to this data processing arrangement. QBrainX commits to taking
            all
            necessary steps to ensure the secure treatment of your data in accordance with this privacy policy. If you
            do
            not agree with this procedure, it is advisable not to use our Software and Services. By utilizing Software
            and
            Services, you provide consent to QBrainX for the transfer of your information to countries outside your own
            and the EEA, as needed, for the outlined business purposes.</p>

          <h2>Changes to this Privacy Statement</h2>

          <p>
            We reserve the right to update this Privacy Statement to align with changes in our information practices. We
            encourage you to periodically review this page for the latest information regarding our privacy practices.
          </p>

          <h2>Contacting Us</h2>

          <p>
            For any inquiries concerning this Privacy Statement or requests to access, update, or delete your personal
            information, please direct your communication to <a href="mailto:contact@qbrainx.com">contact@qbrainx.com</a>
          </p>


        </div>
      </div>
    </div>
  </div>
</section>