.pt-100 {
    padding-top: 100px
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.inner-banner {
    // min-height: 400px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bb0b0b;
    // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/../assets/images/inner-banner.png');
    // background-position: bottom;
    // background-size: cover;

    .breadcrumb {
        padding-bottom: 20px;

        .breadcrumb-item+.breadcrumb-item::before {
            color: #ffffff;
        }

        a {
            text-decoration: none;
            color: #ffffff;
        }

        .breadcrumb-item {
            color: #ffffff;
        }
    }

    .inner-bannerdot {
        position: absolute;
        bottom: 10px;
        left: 20%;
        opacity: 0.9;
        animation: move 10s linear infinite alternate;
    }

    .inner-bannerwave {
        position: absolute;
        bottom: 0;
        right: 0%;
        opacity: 0.1;
    }

    .inner-banner-title {
        font-size: 55px;
        font-weight: 700;
        color: #ffffff;
    }
}

.privacy-section {
    .privacy_info {
        h2 {
            color: #bb0b0b;
            padding-top: 20px;
        }

        h4 {
            padding-top: 15px;
        }

        a {
            text-decoration: none;
            color: #bb0b0b;
        }
    }
}