<div class="card banner-wrp">
    <div class="card-header d-flex align-items-center justify-content-between">
        <div class="pull-left">
            <h4 class="card-title mb-0">Add New Client-Feedback</h4>
        </div>
        <div class="pull-right">
            <button type="button" (click)="allClientFeedbackList()" class="btn btn-primary light px-3" data-bs-toggle="modal"
                data-bs-target="#banner-delete">
                <i class="fa fa-trash"></i> 
            </button>
            <button type="button" (click)="allClientFeedbackList()" class="btn btn-primary light px-3" data-bs-toggle="modal"
                data-bs-target="#model-edit">
                <i class="fa fa-edit"></i></button>

        </div>
    </div>
    <div class="col-md-12">

        <div class="card-body">
            <div class="basic-form">
                <form [formGroup]="ClientFeedbackForm">

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Client Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-lg" formControlName="clientName" placeholder="client Name">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Client Designation</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-lg" formControlName="clientPosition" placeholder="client Designation">                          
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Client Feedback </label>
                        <div class="col-sm-10">
                            <quill-editor formControlName="feedback" [config]="quillConfig"></quill-editor>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Client Company Logo</label>
                        <div class="col-sm-10 form-file">
                            <input #ClientlogoImageInput type="file" class="form-file-input form-control" id="ClientlogoImage" (change)="clientLogoImage($event)">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Client Photo</label>
                        <div class="col-sm-10 form-file">
                            <input #ClientImageInput type="file" class="form-file-input form-control" id="ClientImage" (change)="clientImage($event)">
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger btn-margin" (click)="clearForm()">Clear</button>
                    <button type="submit" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#casestudy-create" >Submit</button>
                    

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal confirm start here -->
<div class="modal fade" id="casestudy-create">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-check-circle custom-ic" aria-hidden="true"></i> <br />
                Are you sure to submit Client Feedback?
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form>
                    
                        <div align="right">
                        <button type="button" class="btn btn-danger btn-margin" data-bs-dismiss="modal">Close</button> 
                        <button type="submit" (click)="clientFeedbackSubmit()"  class="btn btn-success"  data-bs-dismiss="modal">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- Modal confirm end here -->
 
<!-- Modal Delete start here -->
<div class="modal fade" id="casestudy-delete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <!-- <h5 class="modal-title">Are you sure to delete ?</h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div> 
            <div class="modal-body text-center">
                <i class="fa fa-info-circle custom-ic" aria-hidden="true"></i> <br />
                Are you sure to delete ?
            </div>

            <div class="card-body">
                <div class="basic-form">
                    <form [formGroup]="ClientFeedbackDelete">
                        <div class="p-3 row">
                            <label class="col-form-label col-form-label-lg">Select Client-Feedback</label>
                            <div>
                                <select
                                #selectElem class="default-select form-control wide mb-3 form-control-lg" (change)="onChange($event)">
                                    <option value="">--Select Client-Feedback--</option> 
                                    <option *ngFor="let item of ClientDetails" [value]="item.clientId">{{item.clientName}}</option>
                                </select>
                            </div>
                        </div>
                        <div align="center" class="mb-5">
                            <button type="submit" class="btn btn-delete light btn-margin"(click)="testimonialDelete()" data-bs-dismiss="modal">Delete</button>
                            <input type="hidden" class="form-control form-control-lg" value="{{ formEdit ?  clientObj.clientId: '' }}" [ngModel]="formEdit ? clientObj.clientId : '' " formControlName="clientId">
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete end here -->


<div class="modal fade" id="model-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Client Feedback</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form [formGroup]="ClientFeedbackUpdate">
                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg">Select Client-Feedback</label>
                            <div class="col-sm-12">
                                <select
                                class="default-select form-control wide mb-3 form-control-lg" (change)="onChange($event)">
                                   <option value="">--Select Client-Feedback--</option>
                                   <option *ngFor="let item of ClientDetails" [value]="item.clientId">{{item.clientName}}</option>
                                </select>
                            </div>
                        </div>  

                                        

                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label col-form-label-lg">Client Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-lg"  value="{{ formEdit ?  clientObj.clientName: '' }}" [ngModel]="formEdit ? clientObj.clientName : '' " formControlName="clientName" placeholder="Title">
                            </div>
                        </div>
    
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label col-form-label-lg">Client Designation</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="4" [ngModel]="formEdit ?  clientObj.clientPosition: ''" value="{{formEdit ?  clientObj.clientPosition: ''}}" id="comment" formControlName="clientPosition"></textarea>
                            </div>
                        </div>
    
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label col-form-label-lg">Client Feedback </label>
                            <div class="col-sm-10">
                                <quill-editor formControlName="feedback" [ngModel]="formEdit ?  clientObj.feedback: ''" value="{{formEdit ?  clientObj.feedback: ''}}"
                                [config]="quillConfig"></quill-editor>                         
                               </div>
                        </div>
    
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label col-form-label-lg">Client Company Logo</label>
                            <div class="col-sm-10 form-file">
                                <input #ClientlogoImageInput type="file" class="form-file-input form-control" id="ClientlogoImage" (change)="clientLogoImage($event)">
                                <span *ngIf="formEdit ? clientObj.clientLogName?.length: ''">Uploded image: {{formEdit ? clientObj.clientLogName : ''}}</span>

                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label col-form-label-lg">Client Photo</label>
                            <div class="col-sm-10 form-file">
                                <input #ClientImageInput type="file" class="form-file-input form-control" id="ClientImage" (change)="clientImage($event)">
                                <span *ngIf="formEdit ? clientObj.clientFileName?.length: ''">Uploded image: {{formEdit ? clientObj.clientFileName : ''}}</span>

                            </div>
                        </div>
                        <div align="right">
                            <button type="button" class="btn btn-danger btn-margin" data-bs-dismiss="modal">Close</button> 
                            <button type="submit" (click)="clientFeedbackUpdate()" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                            <input type="hidden" class="form-control form-control-lg" value="{{ formEdit ?  clientObj.clientId: '' }}" [ngModel]="formEdit ? clientObj.clientId : '' " formControlName="clientId">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit end here -->


