<section class="banner-section">
    <div class="container-fluid">
      <div class="row zoominheader">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
          <div class="banner-info">
              <h2>Marketing Cloud Impact</h2>
              <p>Create an impact with Marketing Cloud, crafting campaigns that resonate, engage, and leave a lasting impression on your audience.</p>
              <a href="/contact"><button class="finbyz-button">Consult Now</button></a>

          </div>        
        </div>      
      </div>
    </div>
</section>

<section class="intro-section pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 intro-img">
          <img src="assets/images/marketing_cloud.jpg" alt="intro-image" width="100%">
        </div>
        <div class="col-lg-6 intro-info">
          <h3>What is Marketing cloud</h3>
          <p>Salesforce Marketing Cloud (formerly ExactTarget) is a Salesforce product that is not built on the core Salesforce platform; instead, connectors are used to sync data between your core Salesforce org and your SFMC account. Once you tap into SFMC, you will realize how powerful this feature-rich product can be.</p>
          <p>Salesforce Marketing Cloud is a digital marketing platform that automates marketing across email, social media, mobile apps, SMS, websites, and more.</p>
          <p>Organizations invest in Salesforce Marketing Cloud (SFMC) to combine all marketing channels in one place. Ultimately, marketers are able to send personalized messages, through the right channel, at the right time.</p>
        </div>
      </div>
    </div>
</section>

<section class="business-application pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">
      <div class="row">
        <div class="col-md-12 title text-center">
          <span>Features</span>
          <h3>Features of Marketing cloud​</h3> 
        </div>            
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/email-studio.svg" alt="Connect">
            <h4>Email Studio​</h4>
            <p>Build emails (Content Builder), preview, test, and send, also tracking campaign member emails​.</p>
          </div>
        </div>
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/mobile-studio.svg" alt="Accelerate">
            <h4>Mobile Studio​</h4>
            <p>Create, send, and monitor SMS (MobileConnect, GroupConnect). Send push notifications (plus silent notifications, in-app messaging, Bluetooth Beacons, and Geo-location (MobilePush)).​</p>
          </div>
        </div>
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/automated.svg" alt="Empower">
            <h4>Automation Studio​​</h4>
            <p>Create marketing automation and data management activities, then add them to the Journey Builder canvas to make multi-step automated workflows. Example activities include import file, file transfer, data extract, SQL query, filter, and script.​</p>
          </div>
        </div>   
        <div class="col-lg-4 text-center mt-5">
            <div class="business-application-info h-100">
              <img src="assets/images/content.svg" alt="Empower">
              <h4>Content Builder​</h4>
              <p>Build emails and landing page templates – including reusable/interactive content blocks.​</p>
            </div>
        </div>                        
        <div class="col-lg-4 text-center mt-5">
            <div class="business-application-info h-100">
              <img src="assets/images/journey-builder.svg" alt="Empower">
              <h4>Journey Builder</h4>
              <p>An amazing campaign automation building experience that visually maps out the ‘journey’ contacts will make through your marketing touchpoints. Segment contacts into further targetted audiences using paths, and leverage a sidebar of different entry sources, activities (eg. send SMS) and flows.​</p>
            </div>
        </div>                               
      </div>
    </div>
</section>        

<!-- <section class="case-study-section pt-50 bg-white wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <span>Case Study</span>
                <h3>Our Salesforce Case Studies</h3>
            </div>
        </div>

        <div class="row py-5 d-flex justify-content-center">

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div
                class="sigle-blog-1 wow fadeInDown"
                data-wow-duration="1.5s"
                data-wow-delay="0.4s"
              >
                <div class="blog-image">
                  <img
                    src="assets/images/quickest_path_master_data_image.jpg"
                    class="img-fluid"
                    alt="image"
                  />
                </div>
                <div class="blog-content hover-border1">
                  <span>Salesforce</span>
                  <h4>
                    <a href="/case-study-detail">Winshuttle for Master data provides the Quickest Path to Better Salesforce Master Data</a>
                  </h4>             
                </div>
              </div>
          </div>  
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
            <div
              class="sigle-blog-1 wow fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.4s"
            >
              <div class="blog-image">
                <img
                  src="assets/images/data_structure_image.jpg"
                  class="img-fluid"
                  alt="image"
                />
              </div>
              <div class="blog-content hover-border1">
                <span>Salesforce</span>
                <h4>
                  <a href="/case-study-detail">Warehouse Management application for Logistics truckload brokerage</a>
                </h4>             
              </div>
            </div>
        </div>  
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
          <div
            class="sigle-blog-1 wow fadeInDown"
            data-wow-duration="1.5s"
            data-wow-delay="0.4s"
          >
            <div class="blog-image">
              <img
                src="assets/images/case_management_salesforce_case-study.jpg"
                class="img-fluid"
                alt="image"
              />
            </div>
            <div class="blog-content hover-border1">
              <span>Salesforce</span>
              <h4>
                <a href="/blog-detail">Mid server down status – notification over email and ms team</a>
              </h4>             
            </div>
          </div>
      </div>                        

      </div>
    </div>
</section> -->

<section class="join-section pt-50 pb-50">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp"
            data-wow-duration="1.5s" data-wow-delay="0.4s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp"
                    data-wow-duration="1.5s" data-wow-delay="0.6s">
    
                   <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>

    
                </div>
            </div>
        </div>
    </div>
</section>