<section class="banner-section">
    <div class="container-fluid">
      <div class="row zoominheader">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="banner-info">
              <h2>Our Culture</h2>                            
          </div>        
        </div>       
      </div>
    </div>
</section>

<section class="emerge-section pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title text-center">
                    <span>Emerge</span>
                    <h3>Emerge With Us</h3>
                </div>
            </div>            
        </div>
        <div class="row d-flex justify-content-center pt-5">
            <div class="col-lg-4 emerge-info border text-center odd">
                <img src="assets/images/mission.svg" alt="our mission" width="60px">
                <h4>Our Mission</h4>
                <p>We are committed to empowering and strengthening businesses across multiple domains to make them the best in their respective fields.</p>                
            </div>
            <div class="col-lg-4 emerge-info text-center even">
                <img src="assets/images/recruitment.svg" alt="our mission" width="60px">
                <h4>QBrainX Recruitments</h4>
                <p>QBrainX has recruited employees with various qualifications and skills. Academic excellence and high-performing individuals are important to us.</p>                
            </div>
            <div class="col-lg-4 emerge-info border_1 text-center odd">
                <img src="assets/images/innovation.svg" alt="our mission" width="60px">
                <h4>Innovation at QBrainX</h4>
                <p>QBrainX management promotes creativity and innovation in the workplace at all times. Innovation leads to growth and new features / ideas required to be developed by the company.</p>                               
            </div>
        </div>
    </div>
</section>

<section class="benefits-section pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title text-center">
                    <span>Benefits</span>
                    <h3>A healthy work-life balance leads to innovation</h3>
                    <p>QBrainX strives for quality of life at work by allowing employees to flex work hours to accommodate family life while still fulfilling corporate goals.</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 text-center">
                <div class="benefits-info">
                    <img src="assets/images/health-insurance.svg" alt="Health care for all employees and their families" height="70px">
                    <h4>Health care for all employees and their families</h4>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="benefits-info">
                    <img src="assets/images/vacation.svg" alt="Vacation days and holidays, and flexible work hours" height="70px">
                    <h4>Vacation days and holidays, and flexible work hours</h4>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="benefits-info">
                    <img src="assets/images/maternity-leave.svg" alt="Maternity and parental leave" height="70px">
                    <h4>Maternity and parental leave</h4>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="benefits-info">
                    <img src="assets/images/employee-discount.svg" alt="Employee Discounts" height="70px">
                    <h4>Employee Discounts</h4>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="benefits-info">
                    <img src="assets/images/work-environment.svg" alt="Friendly work environment" height="70px">
                    <h4>Friendly work environment</h4>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="benefits-info">
                    <img src="assets/images/flexible_time.svg" alt="Flexible working hours" height="70px">
                    <h4>Flexible working hours</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="join-us-section pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">        
        <div class="row">
            <div class="col-lg-12">
                <div class="grid-wrapper">                                       
                    <div class="wide">
                        <img src="assets/images/culture_image_1.jpg" alt="" />
                    </div>
                    <div>
                        <img src="assets/images/culture_image_4.jpg" alt="" />
                    </div>                                        
                    <div class="big">
                        <img src="assets/images/culture_image_8.jpg" alt="" />
                    </div>                    
                    <div class="wide join-us-info">
                       <a  href="/about/career">
                        <h1>Join Us</h1>   
                    </a>                                  
                    </div>
                    <div class="big">
                        <img src="assets/images/culture_image_5.jpg" alt="" />
                    </div>           
                    <div>
                        <img src="assets/images/culture_image_7.jpg" alt="" />
                    </div>         
                    <div class="wide">
                        <img src="assets/images/culture_image_2.jpg" alt="" />
                    </div>                                       
                    <div>
                        <img src="assets/images/culture_image_6.jpg" alt="" />
                    </div>
                    <div>
                        <img src="assets/images/culture_image_9.jpg" alt="" />
                    </div>
                    <div class="wide">
                        <img src="assets/images/culture_image_3.jpg" alt="" />
                    </div>                                        
                </div>
            </div>
        </div>
    </div>
</section>

<section class="workplace-section pt-100 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 workplace-info">
                <span>Inside QBrainX</span>
                <h3>Why should you choose QBrainX?</h3>
                <p>We care about our employees and want them to know it. Respecting employees from day one, providing feedback at every step of the way, allowing for paternity/maternity vacations, having a generous vacation policy, and so on.</p>
                <p>We believe in innovation and technology. Even the most advanced technology can be improved. We provide our clients with limitless chances to increase their utilization and speedier products.</p>
                <p>The employee can work accordingly at any convenient time based on their decision. QBrainX appreciates the employees with Professional attire and Business casuals.</p>
                <p>We encourage work from home culture for our employees.We care about our employees in this pandemic situation as no employees got cut in pay in this pandemic situation at QBrainX.</p>
            </div>
            <div class="col-lg-6">                
                <div id="carouselExampleControls" class="carousel slide review" data-bs-ride="carousel">
                    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
                    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
                    
                     <button class="carousel-control-prev control-btn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next control-btn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                    <div class="carousel-inner">                  
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-between align-items-bottom">
                                <img class="d-block" src="assets/images/saranya.png" width="100px">
                                <img src="assets/images/quote.svg" width="50px">
                            </div>
                            <p class="pt-3">Reflecting on 2023, it was a year filled with exciting accomplishments! I successfully enhanced the customer experience through impactful outreach with key clients, leading to consistent and effective follow-ups. Big shoutout to QBrainX for being the driving force behind my continuous learning and growth. Eagerly anticipating more in 2023!</p>
                            <h5> Saranya. K </h5>
                            <span>Project Manager -PMO</span>
                        </div>


                        <div class="carousel-item">
                            <div class="d-flex justify-content-between align-items-bottom">
                                <img class="d-block" src="assets/images/dinesh.png" width="100px">
                                <img src="assets/images/quote.svg" width="50px">
                            </div>
                            <p class="pt-3">QBrainX is more than just a workplace. Since day one, I've been welcomed with open arms. I've been given countless opportunities to develop new skills and technologies, and I've been supported every step of the way. I'm grateful to be part of such a supportive and nurturing work culture that values its employees.</p>
                            <h5> Dhinesh. D</h5>
                            <span>Software Engineer</span>
                        </div>
                       
                       
                       
                        <div class="carousel-item">
                            <div class="d-flex justify-content-between align-items-bottom">
                                <img class="d-block" src="assets/images/parkavi.D.png" width="100px">
                                <img src="assets/images/quote.svg" width="50px">
                            </div>
                            <p class="pt-3">Embracing an exceptional work-life balance at QBrainX has been a game-changer for me. The open and inclusive company culture is a breath of fresh air, promoting not just employee engagement, but also nurturing a positive work environment where ideas thrive. Here's to more harmony and growth in both professional and personal spheres!</p>
                            <h5> Parkavi. D</h5>
                            <span>Project Coordinator</span>
                        </div>


                        <div class="carousel-item">
                            <div class="d-flex justify-content-between align-items-bottom">
                                <img class="d-block" src="assets/images/sanjith.png" width="100px">
                                <img src="assets/images/quote.svg" width="50px">
                            </div>
                            <p class="pt-3">My greatest motivation is rooted in the collaborative atmosphere and shared learning within our team at QBrainX. Through this, I've come to understand that the core mission and vision of QBrainX revolve around the belief that even the most advanced technologies can be continually improved. Together, we're on a journey of constant enhancement and innovation.</p>
                            <h5> Sanjith. K S </h5>
                            <span>Associate Data Engineer</span>
                        </div>
                    </div>                    
                </div>                                    
            </div>
        </div>
    </div>
</section>