<div class="card banner-wrp">
    <div class="card-header d-flex align-items-center justify-content-between">
        <div class="pull-left">
            <h4 class="card-title mb-0">Add New Blog</h4>
        </div>
        <div class="pull-right">
            <button type="button" (click)="getAll()" class="btn btn-primary light px-3" data-bs-toggle="modal"
                data-bs-target="#banner-delete">
                <i class="fa fa-trash"></i> 
            </button>
            <button type="button" (click)="getAll()" class="btn btn-primary light px-3" data-bs-toggle="modal"
                data-bs-target="#model-edit">
                <i class="fa fa-edit"></i></button>
        </div>
    </div>
    <div class="col-md-12">

        <div class="card-body">
            <div class="basic-form">
                <form [formGroup]="BlogForm">

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Category</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-lg" formControlName="title" >
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Title</label>
                        <div class="col-sm-10">

                            <textarea class="form-control" rows="4" id="comment" formControlName="subTitle"></textarea>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Blog image</label>
                        <div class="col-sm-10 form-file">
                            <input #bannerImageInput type="file" class="form-file-input form-control" id="BannerImage" (change)="banImage($event)">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Blog Details</label>
                        <div class="col-sm-10">
                            <quill-editor formControlName="text" [config]="quillConfig"></quill-editor>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Tag Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-lg" formControlName="tagTitle">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Tag Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-lg" formControlName="tagDescription">

                        </div>
                    </div>
                
                    <button type="button" class="btn btn-danger btn-margin" (click)="clearForm()">Clear</button>
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#banner-create">Submit Blog</button>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="banner-create">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-check-circle custom-ic" aria-hidden="true"></i> <br />
                Are you sure to submit this blog ?
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form>
                        <div align="right">
                            <button type="button" class="btn btn-danger btn-margin"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" (click)="blogSubmit()" class="btn btn-success"
                                data-bs-dismiss="modal">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete start here -->
<div class="modal fade" id="banner-delete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-info-circle custom-ic" aria-hidden="true"></i> <br />
                Are you sure to delete ?
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form [formGroup]="BlogDelete">
                        <div class="p-3 row">
                            <label class="col-form-label col-form-label-lg">Select Category</label>
                            <div>
                                <select
                                #selectElem class="default-select form-control wide mb-3 form-control-lg" (change)="onChange($event)">
                                    <option value="">--Select Category--</option> 
                                    <option *ngFor="let item of BlogData" [value]="item.id">{{item.subTitle}}</option>                                                                   
                                </select>
                            </div>
                        </div>
                        <div align="center">
                            <button type="submit" class="btn btn-danger light btn-margin" (click)="blogDelete()"
                                data-bs-dismiss="modal">Yes Delete It!</button>
                            <input type="hidden" class="form-control form-control-lg"
                                [ngModel]="formEdit ? BlogObj.id : ''" value="{{formEdit ? BlogObj.id : ''}}"
                                formControlName="id">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No Cancel It!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete end here -->



<!-- Modal Edit start here -->
<div class="modal fade" id="model-edit">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
                <h5 class="modal-title">Edit Blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form [formGroup]="BlogUpdate">
                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg">Select Blog</label>
                            <div class="col-sm-12">
                                <select
                                class="default-select form-control wide mb-3 form-control-lg" (change)="onChange($event)">
                                   <option value="">--Select Blog--</option>
                                   <option *ngFor="let item of BlogData" [value]="item.id">{{item.subTitle}}</option>
                               </select>
                            </div>
                        </div>     
                        
                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg"> Title</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg"  value="{{ formEdit ?  BlogObj.title: '' }}" [ngModel]="formEdit ? BlogObj.title : '' " formControlName="title" >
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg">Sub Title</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg"  value="{{ formEdit ?  BlogObj.subTitle: '' }}" [ngModel]="formEdit ? BlogObj.subTitle : '' " formControlName="subTitle" >
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg">Blog Details</label>
                            <div class="col-sm-12">
                                <quill-editor formControlName="text" [ngModel]="formEdit ?  BlogObj.text: ''" value="{{formEdit ?  BlogObj.text: ''}}"
                                [config]="quillConfig"></quill-editor>
                            </div>
                        </div>
                      
                        <div class="mb-3 row">
                            <label class="col-form-label col-form-label-lg">Blog image</label>
                            <div class="col-sm-12 form-file">
                                <input #bannerImageInput  type="file" id="bannerImage" class="form-file-input form-control" (change)="banImage($event)">
                                <span *ngIf="formEdit ? BlogObj.fileName?.length: ''">Uploded image: {{formEdit ? BlogObj.fileName : ''}}</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label col-form-label-lg">Tag Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-lg"  value="{{ formEdit ?  BlogObj.tagTitle: '' }}" [ngModel]="formEdit ? BlogObj.tagTitle : '' " formControlName="tagTitle" >
                            </div>
                        </div>
    
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label col-form-label-lg">Tag Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-lg"  value="{{ formEdit ?  BlogObj.tagDescription: '' }}" [ngModel]="formEdit ? BlogObj.tagDescription : '' " formControlName="tagDescription" >
                           
                            </div>
                        </div>
                        <div align="right">
                           
                            <button type="submit" class="btn btn-danger light btn-margin" (click)="blogUpdate()"
                                data-bs-dismiss="modal">Update</button>
                            <input type="hidden" class="form-control form-control-lg" value="{{ formEdit ?  BlogObj.id: '' }}" [ngModel]="formEdit ? BlogObj.id : '' " formControlName="id">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit end here -->


