<!-- <section class="banner-section pt-100">
      <div class="container-fluid">
        <div class="row zoominheader">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
            <div class="banner-info">
                <h2>SAP</h2>
                <p>QBrainX’s SAP services include the design, development, implementation, and integration of SAP solutions to become best-run businesses.</p>
                <a href="/contact"><button class="finbyz-button">Consult Now</button></a>

            </div>        
          </div>      
        </div>
      </div>
</section> -->
<nav class="pt-100 fixed-top service-nav bg-white">
    <div class="nav nav-tabs nav-pills flex-column flex-sm-row" id="nav-tab" role="tablist">
      <button class="flex-sm-fill text-sm-center nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">ABAP</button>
      <button class="flex-sm-fill text-sm-center nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">SAP Fiori</button>
      <button class="flex-sm-fill text-sm-center nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">SAP UI5</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active sap-abap" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    
    <section class="banner-section pt-100">
      <div class="container-fluid">
        <div class="row zoominheader">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
            <div class="banner-info">
                <h2>ABAP Mastery: Crafting Solutions with Precision</h2>
                <p>Unleash the power of SAP ABAP programming for tailored solutions that drive efficiency and innovation in your SAP environment.</p>
                <a href="/contact"><button class="finbyz-button">Consult Now</button></a>

            </div>        
          </div>      
        </div>
      </div>
    </section>

    <section class="intro-section pt-50 pb-50" id="abap">
      <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
      <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 intro-img">
            <img src="assets/images/sap_abap_intro_image.jpg" alt="intro-image" width="100%">
          </div>
          <div class="col-lg-6 intro-info">
            <h3>About SAP-ABAP</h3>
            <p>ABAP is a high-level programming language created by the German software company SAP SE. It is currently positioned, alongside Java, as the language for programming the SAP NetWeaver Application Server, which is part of the SAP NetWeaver platform for building business applications​.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="business-application pt-50 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-md-12 title text-center">
            <span>Programming</span>
            <h3>Advanced Business Application Programming</h3> 
          </div>            
        </div>
        <div class="row pt-5 d-flex justify-content-center">
          <div class="col-lg-3 text-center">
            <div class="business-application-info">
              <img src="assets/images/dictionary.svg" alt="ABAP Dictionary">
              <h4>ABAP Dictionary</h4>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="business-application-info">
              <img src="assets/images/workbench.svg" alt="ABAP Workbench">
              <h4>ABAP Workbench</h4>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="business-application-info">
              <img src="assets/images/programming.svg" alt="ABAP Programmingy">
              <h4>ABAP Programming</h4>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="business-application-info">
              <img src="assets/images/tables.svg" alt="ABAP Tables">
              <h4>ABAP Tables</h4>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="business-application-info">
              <img src="assets/images/editor.svg" alt="ABAP Editor">
              <h4>ABAP Editor</h4>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="business-application-info">
              <img src="assets/images/module.svg" alt="ABAP Modules">
              <h4>ABAP Modules</h4>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="business-application-info">
              <img src="assets/images/classes.svg" alt="ABAP Classes">
              <h4>ABAP Classes</h4>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="business-application-info">
              <img src="assets/images/objects.svg" alt="ABAP Objects">
              <h4>ABAP Objects</h4>
            </div>
          </div>            
        </div>
      </div>
    </section>

    <section class="highlights-section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
      <div class="container info">
          <div class="row pt-5">
              <div class="col-md-12 title text-center">
                  <span>ServiceNow Services</span>
                  <h3>Key benefits of SAP implementation</h3>
              </div>
          </div>
          <div class="row pt-5">
              <div class="col-lg-12">
                  <div class="work-process-area">
                      <div class="row g-4 d-flex justify-content-center">
                          <div class="col-md-2 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="/assets/images/analytics.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Requirement Analysis</h4>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="/assets/images/design.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Design​</h4>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="/assets/images/development.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Development​</h4>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="/assets/images/testing.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Testing​</h4>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="/assets/images/debugging.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Debugging​</h4>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/documents.svg" alt="image" width="50px">
                                <h4 class="pt-3">Documents​</h4>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/transport.svg" alt="image" width="50px">
                                <h4 class="pt-3">Transport​</h4>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/testing.svg" alt="image" width="50px">
                                <h4 class="pt-3">User Acceptance Testing​</h4>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/deployment.svg" alt="image" width="50px">
                                <h4 class="pt-3">Deployment​</h4>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/monitoring.svg" alt="image" width="50px">
                                <h4 class="pt-3">Monitoring & Maintenance​​</h4>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/analytics.svg" alt="image" width="50px">
                                <h4 class="pt-3">Optimization​​​</h4>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
  </div>
  <div class="tab-pane fade sap-fiori" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    
    <section class="banner-section pt-100">
      <div class="container-fluid">
        <div class="row zoominheader">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
            <div class="banner-info">
                <h2>Fiori Experience: Where Form Meets Function</h2>
                <p>Immerse in the SAP Fiori experience, seamlessly blending aesthetic design with powerful functionality for unparalleled user satisfaction.</p>
                <a href="/contact"><button class="finbyz-button">Consult Now</button></a>

            </div>        
          </div>      
        </div>
      </div>
    </section>

    <section class="intro-section pt-50 pb-50">
      <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
      <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 intro-img">
            <img src="assets/images/sap_fiori_intro_image.jpg" alt="intro-image" width="100%">
          </div>
          <div class="col-lg-6 intro-info">
            <h3>About SAP Fiori</h3>
            <p>SAP Fiori is a design system that enables you to create business apps with a consumer-grade user experience, turning casual users into SAP experts with simple screens that run on any device. By using the SAP Fiori design guidelines and tools that we use at SAP, you can easily build and customize your own apps that are consistent with what we ship with SAP S/4HANA and our other enterprise software solutions.​</p>
          </div>
        </div>
      </div>
    </section>

    <section class="business-application integration-section pt-50 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-md-12 title text-center">
            <span>Integration</span>
            <h3>SAP Fiori Integration</h3> 
          </div>            
        </div>
        <div class="row pt-5">
          <div class="col-lg-4 text-center">
            <div class="integration-info business-application-info">
              <img src="assets/images/entry-point.svg" alt="Central entry point">
              <h4>Central entry point</h4>
              <p>Integrates apps and content from 'local' launchpads as well as apps on SAP Cloud Platform.</p>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="integration-info business-application-info">
              <img src="assets/images/poduct-specifi.svg" alt="Product Specific">
              <h4>Product Specific 'local' launchpads</h4>
              <p>With products-specific local navigation</p>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="integration-info business-application-info">
              <img src="assets/images/launchpad.svg" alt="SAP Fiori">
              <h4>SAP Fiori launchpad</h4>
              <p>Provided by SAP CLoud Platform Launchpad Service</p>
            </div>
          </div>                                
        </div>
      </div>
    </section>

    <section class="highlights-section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
      <div class="container info">
          <div class="row pt-5">
              <div class="col-md-12 title text-center">
                  <span>Process</span>
                  <h3>SAP Process Flow</h3>
              </div>
          </div>
          <div class="row pt-5">
              <div class="col-lg-12">
                  <div class="work-process-area">
                      <div class="row g-4 d-flex justify-content-center">
                          <div class="col-md-3 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="assets/images/view.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Explore</h4>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="assets/images/monitoring.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Discover​</h4>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="/assets/images/design.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Design & Prototype​</h4>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="assets/images/deployment.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Deliver​</h4>
                              </div>
                          </div>                            
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
  </div>
  <div class="tab-pane fade sap-ui5" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    
    <section class="banner-section pt-100">
      <div class="container-fluid">
        <div class="row zoominheader">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
            <div class="banner-info">
                <h2>UI5 Innovation: Shaping Dynamic User Interfaces</h2>
                <p>nnovate with SAP UI5, creating dynamic and responsive user interfaces that elevate the user experience to new heights.</p>
                <a href="/contact"><button class="finbyz-button">Consult Now</button></a>

            </div>        
          </div>      
        </div>
      </div>
    </section>

    <section class="intro-section pt-50 pb-50">
      <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
      <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 intro-img">
            <img src="assets/images/sap_ui_intro_image.jpg" alt="intro-image" width="100%">
          </div>
          <div class="col-lg-6 intro-info">
            <h3>About SAPUI5</h3>
            <p>SAPUI5 is a user interface development toolkit. First developed by SAP in 2010 under the code name Phoenix, the framework allows developers to create web applications for HTML5. SAPUI5 Architecture. Models.​</p>
          </div>
        </div>
      </div>
    </section>

    <section class="business-application why-sapui-section pt-50 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-md-12 title text-center">
            <span>Why</span>
            <h3>Why is SAPUI5 our leading UI technology</h3> 
          </div>            
        </div>
        <div class="row pt-5 d-flex justify-content-center">
          <div class="col-lg-3 text-center">
            <div class="why-sapui-info business-application-info">
              <img src="assets/images/consistency.svg" alt="ABAP Dictionary">                
              <h4>Consistency​</h4>                
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="why-sapui-info business-application-info">
              <img src="assets/images/efficiency.svg" alt="ABAP Dictionary">
              <h4>Efficiency​</h4>                
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="why-sapui-info business-application-info">
              <img src="assets/images/flexibility.svg" alt="ABAP Dictionary">
              <h4>Flexibility​</h4>                
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="why-sapui-info business-application-info">
              <img src="assets/images/deployment.svg" alt="ABAP Dictionary">
              <h4>Developers​​</h4>                
            </div>
          </div> 
          <div class="col-lg-3 text-center">
            <div class="why-sapui-info business-application-info">
              <img src="assets/images/end-user.svg" alt="ABAP Dictionary">
              <h4>End-user​​</h4>                
            </div>
          </div> 
          <div class="col-lg-3 text-center">
            <div class="why-sapui-info business-application-info">
              <img src="assets/images/key-user.svg" alt="ABAP Dictionary">
              <h4>Key Users​​</h4>                
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="highlights-section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
      <div class="container info">
          <div class="row pt-5">
              <div class="col-md-12 title text-center sap-ui-title">
                  <span>Evolution</span>
                  <h3>UI5 Evolution</h3>
                  <p>UI5 evolution stands for fundamental improvements as part of an ongoing effort to advance SAPUI5, to enable applications to run faster, and code to become more modular. By embracing web standards, asynchronous loading, and emerging technologies, SAPUI5 continues to be a future-proof, enterprise-proven solution.</p>
              </div>
          </div>
          <div class="row pt-5">
              <div class="col-lg-12">
                  <div class="work-process-area">
                      <div class="row g-4 d-flex justify-content-center">
                          <div class="col-lg-2 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="assets/images/innovation.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Innovation</h4>
                              </div>
                          </div>
                          <div class="col-lg-2 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="assets/images/tooling.svg" alt="image" width="50px">
                                  <h4 class="pt-3">UI5 Tooling​</h4>
                              </div>
                          </div>
                          <div class="col-lg-2 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="assets/images/standard.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Open Standards​</h4>
                              </div>
                          </div>
                          <div class="col-lg-2 col-sm-6">
                              <div class="work-process-item text-center">
                                  <img src="assets/images/analytics.svg" alt="image" width="50px">
                                  <h4 class="pt-3">Performance​</h4>
                              </div>
                          </div> 
                          <div class="col-lg-2 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/loading.svg" alt="image" width="50px">
                                <h4 class="pt-3">Asynchronous Loading​</h4>
                            </div>
                        </div>                           
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>      

  </div>
</div>


<div class="case-study-section pt-50">
  <div class="container">
      <div class="row">
          <div class="col-md-12 title text-center">
              <span>Case Study</span>
              <h3>Our SAP Case Studies</h3>
          </div>
      </div>
      <div class="row py-5 d-flex justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info wow animate__animated animate__fadeInUp"
            data-wow-duration="1.5s" data-wow-delay="0.6s" *ngFor="let caseStudy of caseStudyArrayList;let i=index" >
            <div class="sigle-blog-1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                <div class="blog-image">
                    <img
                    src="data:image/{{caseStudy.extension}};base64,{{caseStudy.image}}"
                    class="img-fluid"
                    alt="image"
                  />
                </div>
                <div class="blog-content hover-border1" (click)="caseStudydetails(caseStudy)">
                    <span>{{caseStudy.category}}</span>
                    <h4>
                        <a>{{caseStudy.title}}</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="caseStudyArrayList.length >= itemsPerPage">
      <div class="col-lg-12 d-flex justify-content-center mt-5 pagination-wrap">
        <div class="pagination d-flex align-items-center">
          <button class="pagination-btn" (click)="changePreviousPage()" [disabled]="currentPage === 1">Previous</button>
          <span> {{ currentPage }}</span>
          <button class="pagination-btn" (click)="changeNextpage()" [disabled]="currentPage === lastpage">Next</button>
        </div>
      </div>      
    </div>
  </div>
</div>

<section class="join-section pt-50 pb-50">
<div class="container">
    <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp"
        data-wow-duration="1.5s" data-wow-delay="0.4s">
        <div class="row d-flex align-items-center g-4">
            <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>
            </div>
            <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp"
                data-wow-duration="1.5s" data-wow-delay="0.6s">

               <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>


            </div>
        </div>
    </div>
</div>
</section>