<div class="inner-banner">    
  
    <div class="container">
      <div
        class="row d-flex justify-content-center align-items-center text-center"
      >
        <div class="col-md-6">
          <h2
            class="inner-banner-title wow fadeInLeft"
            data-wow-duration="1.5s"
            data-wow-delay=".2s"
          >
          Leadership Info
          </h2>
          <div class="breadcumb-menu-wrap">
            <ul class="breadcumb-menu">
                <li><a href="about/leadership">QBrainX Leadership</a></li>
                <li>Lakshman</li>
            </ul>
        </div>
        </div>
      </div>
    </div>
  </div>

  <section class="space-top space-extra-bottom pb-100 pt-50">
    <div class="container">
        <div class="row gx-60 gy-2">
            <div class="col-lg-5 mb-30 wow fadeInUp" data-wow-delay="0.2s"><img src="assets/images/lak-pic.png" alt="image"></div>
            <div class="col-lg-7 col-xl-7 mb-30">
                <div class="team-about pt-3">
                    <h3 class="team-name h4">Lakshman</h3><span class="team-degi">Cheif Excecutive Officer</span>
                    <p class="team-text pt-3">Entrepreneur & founder of a high-growth company providing Digital Transformation Services.<br><br>
                        Lakshman is the Chief Executive Officer of QBrainX. He is a former architect turned entrepreneur with passion of data, analytics, algorithms, and storytelling with data.​<br><br>
                        As a result of his commitment to actionable insights and excellence, he founded QBrainX. Learn how QBrainX can positively impact IT systems & business processes! He strive to deliver the finest possible solutions in all aspects of his work.
                    </p>

                    <div class="team-social"><a href="https://www.linkedin.com/in/lakshman-dhasarathan-14057110/"><i class="fa fa-linkedin"></i></a></div>                    
                </div>
            </div>
        </div>
    </div>
</section>