.pt-100 {
    padding-top: 100px
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.title {
    span {
        color: #bb0b0b;
        font-size: 16px;
        font-weight: 500;
        font-family: poppins, sans-serif;
        margin-bottom: 5px;
        display: block;
        margin-top: -5px;
    }

    h3 {
        font-size: 2.8125rem;
        font-weight: 700;
        color: #18212e;
        position: relative;
        display: inline-block;
        margin-bottom: 0;
        line-height: 1;
    }
}

// Banner Section
.banner-section {
    overflow: hidden;        
    text-align:center;
  
.zoominheader {        
    height: 30rem;
    text-align:center;
    background: url("/../assets/images/grapevine_banner.jpg");
    background-position: center center;        
    background-size: cover;            
    overflow: hidden;
}
         
.banner-info {        
    padding-top: 9rem;
    padding-bottom: 10rem;  
    padding-left: 6rem;    
    
    .know-more-link {
        color: #fe3a3a;
    }

    .know-more-link:hover {
        color: #bb0b0b;
    }

    h2 {                        
        font-size: 3rem;
        color: #ffffff;
        font-weight: 800;
    }

    p {
        font-size: 1.1rem;
        color: #ffffff;
    }

    .button {
        display: flex;
        justify-content: center;
        margin-top:50px;
    }
    button.finbyz-button {
        color: #ffffff;
        text-decoration: none;
        background-color: #bb0b0b;
        -webkit-transition: .3s all ease;
        transition: .3s ease all;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        width: 200px;
        font-weight: 700;
        padding: 14px 0;
        border: 3px solid #ffffff;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 2px 10px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.1);
        z-index: 1;
    }
    button.finbyz-button:before {
        -webkit-transition: .5s all ease;
        transition: .5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: #ffffff;
        z-index: -1;
    }
    button.finbyz-button:hover,
    button.finbyz-button:focus
    {
      color: #bb0b0b;
    }
    button.finbyz-button:hover:before,
    button.finbyz-button:focus:before{
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
}     
}

.data-migration-section {
    background-color: #f2f7f8;
    
    .service-item2:hover .service-content p {
        color: #ffffff;
    }
    
    .service-item2::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: #bb0b0b;
        z-index: -1;
        border-radius: 0 0 0 100px;
        transition: 0.5s ease-in-out 10ms
    }
    
    .service-item2 .service-content span {
        font-size: 20px;
        font-weight: 600;
        font-family: poppins, sans-serif;
        color: #d5d5d5;
        display: inline-block;
        margin-bottom: 10px;
        transition: all .5s ease-in-out
    }
    
    .service-item2 .service-content h4 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 15px;
        transition: all .5s ease-in-out;
    
        a {
            text-decoration: none;
            color: #303030;
        }
    }
    
    .service-item2 .service-content p {
        transition: all .5s ease-in-out;
        margin-bottom: 0;    
    }
    
    .service-item2.style-3 {
        background: #fff;
        box-shadow: 3px 4px 30px rgba(136, 136, 136, .1);
        border-radius: 5px;
        padding: 40px 25px 25px;
        margin-top: 25px;
        transition: transform .6s ease 0s;
        transform: perspective(3000px) rotateY(5deg)
    }
    
    .service-item2.style-3:hover {
        transform: perspective(1500px) rotateY(20deg);
        box-shadow: 3px 4px 30px rgba(136, 136, 136, .16)
    }
    
    .service-item2.style-3:hover .service-content span {
        color: #bb0b0b;
        background: #d5d5d5;
    }
    
    .service-item2.style-3:hover .service-content h4 {
        color: #bb0b0b;
    }
    
    .service-item2.style-3:hover .service-content p {
        color: #303030;
    }
    
    .service-item2.style-3 span {
        position: absolute;
        top: 22px;
        left: 15px;
        font-size: 22px;
        font-weight: 600;
        color: #303030;
        display: inline-block;
        transition: all .5s ease-in-out;
        border-radius: 5px;
        background-color: #eee;
        padding: 5px 10px;
        margin-top: -45px
    }
    
    .service-item2.style-3 .service-content h4 {
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: 700;
        color: #303030;
    }
    
    .service-item2.style-3 .service-content p {
        font-size: 1rem;
        font-weight: 400;
        color: #303030;
        line-height: 1.5;
        margin-bottom: 0
    }
    
    .service-item2.style-3:hover span {
        color: #bb0b0b;
    }
    
    .service-item2.style-3::before {
        content: unset
    }
}

.service2-section {    
    position: relative;
    overflow: hidden;
    z-index: 1;

    .banner-bg-top {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.7;
    }

    .banner-bg-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.7;
    }    

    .service-item2:hover {
        .service-content p {
            display: block;
        }
    }

    .service-item2 .service-content {
        img {
            background-color: #bb0b0b;
            padding: 6px;
            border-radius: 8px;
        }
    }
    
    .service-item2 .service-content p {
        display: none;
    }

    .service-item2 {
        border-radius: 2rem 0 2rem;
    }

    .service-item2:hover::before {        
        border-radius: 2rem 0 2rem;
    }

    .service-item2 {
        position: relative;
        z-index: 1;
        box-shadow: 3px 4px 30px rgba(136, 136, 136, .1);    
        background-color: #ffffff;
        padding: 25px;    
    }
    
    .service-item2:hover::before {
        width: 100%;
        height: 100%;
        border-radius: 2rem 0 2rem;
    }
    
    .service-item2 .service-content a {
        text-decoration: none;
        color: #bb0b0b;
        font-weight: 600;
        padding: 0;
        border: 0;
    }
    
    .service-item2 .service-content a:hover {
        text-decoration: underline;
    }
    
    .service-item2:hover .service-content a {
        color: #ffffff;
    }
    
    .service-item2:hover .service-content span {
        color: #d5d5d5;
    }
    
    .service-item2:hover .service-content h4 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 15px;
        color: #ffffff;
    
        a {
            color: #ffffff;
        }
    }
    
    .service-item2:hover .service-content p {
        color: #ffffff;
    }
    
    .service-item2::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: #bb0b0b;
        z-index: -1;
        border-radius: 0 0 0 100px;
        transition: 0.5s ease-in-out 10ms
    }
    
    .service-item2 .service-content span {
        font-size: 20px;
        font-weight: 600;
        font-family: poppins, sans-serif;
        color: #d5d5d5;
        display: inline-block;
        margin-bottom: 10px;
        transition: all .5s ease-in-out
    }
    
    .service-item2 .service-content h4 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 15px;
        transition: all .5s ease-in-out;
    
        a {
            text-decoration: none;
            color: #303030;
        }
    }
    
    .service-item2 .service-content p {
        transition: all .5s ease-in-out;
        margin-bottom: 0;    
    }
}

.assist-section {
    background-color: #f2f7f8;

    // .service-item2.service-info-2 {
    //     height: 17rem !important;        
    // }

    .service-item2.style-4 {
        background: #fff;
        box-shadow: 3px 4px 30px rgb(136 136 136 / 10%);
        border-radius: 5px;
        padding: 25px 20px;
        margin-top: 25px;        

        .service-content h4 {
            margin-bottom: 5px;
        }
    }

    .service-item2.style-4::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background: #bb0b0b;
        border-radius: 0;
        right: 0;
        z-index: -1;
    }

    .service-item2::before {
        right:0;
        z-index: -1;
        transition: 550ms ease-in-out 25ms;
    }

    .service-item2.style-4:hover::before {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .service-item2.style-4:hover span {
        color: #bb0b0b;
    }

    .service-item2 {
        position: relative;
        z-index: 1;        

        .service-content span {            
            img {
                width: 40px;
            }
            .bi {
                font-size: 30px;   
                color: #bb0b0b;                         
            }
        }
        
        .service-content h4 {
            padding-top: 10px;
        }

        .service-content h4 {
            font-size: 25px;
            font-weight: 700;
            color: #18212e;
            transition: all 0.5s ease-in-out;
            text-decoration: none;            
        }

        .service-content p {
            transition: all 0.5s ease-in-out;
            margin-bottom: 0;            
        }

        .service-content .para {
            font-size: 0.9rem;
            font-weight: 400;
            color: #676767;
            font-family: poppins, sans-serif;
            line-height: 25px;
            padding-top: 10px;            
        }
    }

    .service-item2:hover .service-content h4 {
        font-size: 25px;
        font-weight: 700;
        color: #ffffff;        
    }

    .service-item2:hover .service-content {
        span {
            .bi {
                color: #ffffff;
            }
        }
    }

    .service-item2:hover .service-content p {
        color: #ffffff;
    }
}

.join-section {
    overflow: hidden;
    position: relative;

    .button {
        display: flex;
        justify-content: center;
        margin-top:50px;
    }
    button.finbyz-button {
        color: #ffffff;
        text-decoration: none;
        background-color: #bb0b0b;
        -webkit-transition: .3s all ease;
        transition: .3s ease all;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        width: 270px;
        font-weight: 700;
        padding: 14px 0;
        border: 3px solid #ffffff;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 2px 10px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.1);
        z-index: 2;
    }
    button.finbyz-button:before {
        -webkit-transition: .5s all ease;
        transition: .5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: #ffffff;
        z-index: -1;
    }
    button.finbyz-button:hover,
    button.finbyz-button:focus
    {
      color: #bb0b0b;
    }
    button.finbyz-button:hover:before,
    button.finbyz-button:focus:before{
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
}

.joinus-area {
    // background-image: url('/../assets/images/cta-background.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;    
    // background-blend-mode: multiply;
    background-color: #bb0b0b;
    min-height: 290px;
    padding: 80px 7%;
    border-radius: 5px;
    min-width: 100%;
    justify-content: center;
    position: relative;

    h2 {
        font-size: 2.3rem;
        font-weight: 700;
        font-family: cuprum, sans-serif;
        color: #ffffff;
        line-height: 1.5;
    }      
    
}
