<div class="inner-banner">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center text-center">
        <div class="col-md-6">
          <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
            Partnership
          </h2>
        </div>
      </div>
    </div>
  </div>

  
<section class="leadership-section pt-50 pb-100 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/images/databricks_partner_logo.png" alt="Databricks Partner Logo" class="card-img-top ">
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/images/salesforce_partner.png" alt="Databricks Partner Logo" class="card-img-top ">
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/images/servicenow_partner_logo.png" alt="Databricks Partner Logo" class="card-img-top ">
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/images/sap-partner-logo.png" alt="Databricks Partner Logo" class="card-img-top ">
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/images/freshworks_partner_logo.png" alt="Databricks Partner Logo" class="card-img-top ">
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/images/snowflake_partner_logo.png" alt="Databricks Partner Logo" class="card-img-top ">
        </div>
      </div>
   
      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/images/coveo_logo.png" alt="Databricks Partner Logo" class="card-img-top ">
        </div>
      </div>

      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/images/dbt-logo.png" alt="Databricks Partner Logo" class="card-img-top ">
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/images/cloudera-logo.png"alt="Databricks Partner Logo" class="card-img-top ">
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/images/quest-logo.png" alt="Databricks Partner Logo" class="card-img-top ">
        </div>
      </div>
      </div>
  </div>
  
  </section>