<section class="banner-section">
  <div class="container-fluid">
    <div class="row zoominheader">
      <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-xs-12 text-start">
        <div class="banner-info">
            <h2>Empower People, Elevate HR Efficiency</h2>
            <p>Modernizing HR processes with automated onboarding, employee support, and HR service delivery innovations.</p>
            <a href="/contact"><button class="finbyz-button">Join Us</button></a>
        </div>        
      </div>      
    </div>
  </div>
</section>

<div class="why-us-section pt-50 pb-50">
  <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
  <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-xs-12 text-center my-0 mx-auto wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
          <div class="title primary1">
            <!-- <span>-WHY CHOOSE US-</span> -->
            <h3>Our HR Service Delivery Features</h3>   
            <p class="pt-3">Using intelligent workflows, you can boost productivity by optimizing the employee service experience. Employees should have the correct experience no matter where they work. The advantages of employing the QBrainX Intelligence Predictive include rapid and smart working, fast delivery and refining of AI, improving customer efficiency and satisfaction, and decreasing resolution times and manual errors.</p>       
          </div>
        </div>
      </div>
      <div class="row justify-content-center g-4">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" *ngFor="let blog of serviceArray;let i=index">
          <div class="service-item2 service-info-2 style-4 wow animate__animated animate__fadeInUp"
            data-wow-duration="1.5s" data-wow-delay="0.6s">
            <div class="service-content">
              <span class="sn"> <img [src]="getIconUrl(blog)" /></span>
              <h4><a>{{blog.title}}</a></h4>
              <p class="para">
                {{blog.text}}
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
</div>

<div class="highlights-section wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
    <div class="container info">
        <div class="row pt-3">
            <div class="col-md-12 title text-center">
                <!-- <span>ServiceNow Services</span> -->
                <h3>The benefits of adopting the HRSD system of QBrainX</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-12">
                <div class="work-process-area">
                    <div class="row g-4">
                        <div class="col-md-3 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/increase-productivity.svg" alt="image" width="50px">
                                <h4 class="pt-3">Improve Productivity and Engagement</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/allow-productivity.svg" alt="image" width="50px">
                                <h4 class="pt-3">Allow for productivity from any location</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/optimized-service-delivery.svg" alt="image" width="50px">
                                <h4 class="pt-3">Optimized service delivery</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="work-process-item text-center">
                                <img src="/assets/images/simplyfy-access.svg" alt="image" width="50px">
                                <h4 class="pt-3">Simplify Service Access</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="join-section pb-50">
  <div class="container">
    <div
      class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp"
      data-wow-duration="1.5s"
      data-wow-delay="0.4s"
    >
      <div class="row d-flex align-items-center g-4">
        <div
          class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center"
        >
          <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>                
        </div>
        <div
          class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s"
        >

       <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>

                  
        </div>
      </div>
    </div>
  </div>
</div>
