<div class="content-body">


    <div class="container-fluid">
     
        <div class="container" width="100%">
            <div
                class="swiper course-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress swiper-backface-hidden">
                <div class="swiper-wrapper" id="swiper-wrapper-1d45f58526d881d2" aria-live="polite"
                    style="transform: translate3d(0px, 0px, 0px);">
                    <div class="swiper-slide swiper-slide-visible swiper-slide-active"
                        style="width: 251.9px; margin-right: 20px;" role="group" aria-label="1 / 4">
                        <div class="card">
                            <div class="card-body">
                                <div
                                    class="widget-courses align-items-center d-flex justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <img src="assets/images/color-palette.svg" alt="">
                                        <div class="flex-1 ms-3">
                                            <h4>Our Culture</h4>
                                            <span>Update</span>
                                        </div>
                                    </div>
                                    <a href="admin/our-culture"><i class="bi bi-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-visible swiper-slide-next"
                        style="width: 325px; margin-right: 20px;" role="group" aria-label="2 / 4">
                        <div class="card">
                            <div class="card-body">
                                <div
                                    class="widget-courses align-items-center d-flex justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <img src="assets/images/education-website.svg" alt="">
                                        <div class="flex-1 ms-3">
                                            <h4>Banner</h4>
                                            <span>Update</span>
                                        </div>
                                    </div>
                                    <a routerLink="/admin/banner"><i class="bi bi-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-visible" style="width: 325px; margin-right: 20px;"
                        role="group" aria-label="3 / 4">
                        <div class="card">
                            <div class="card-body">
                                <div
                                    class="widget-courses align-items-center d-flex justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <img src="assets/images/brain.svg" alt="">
                                        <div class="flex-1 ms-3">
                                            <h4>Services</h4>
                                            <span>Update</span>
                                        </div>
                                    </div>
                                    <a routerLink="/admin/services"><i class="bi bi-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
        <div class="widget-heading d-flex justify-content-between align-items-center">
           
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="card all-crs-wid">
                    <div class="card-body">
                        <div class="courses-bx">
                            <div class="dlab-media">
                                <img src="assets/images/course1.jpg" alt="">
                            </div>
                            <div class="dlab-info">
                                <div class="dlab-title d-flex justify-content-between">
  
  
                                </div>
                                <div class="d-flex justify-content-between content align-items-center">
  
                                    <a href="admin/blog" class="btn btn-primary btn-sm mt-3">Update Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card all-crs-wid">
                    <div class="card-body">
                        <div class="courses-bx">
                            <div class="dlab-media">
                                <img src="assets/images/course2.jpg" alt="">
                            </div>
                            <div class="dlab-info">
                                <div class="dlab-title d-flex justify-content-between">
  
  
                                </div>
                                <div class="d-flex justify-content-between content align-items-center">
  
                                    <a href="admin/qnews" class="btn btn-primary btn-sm mt-3">Update News</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card all-crs-wid">
                    <div class="card-body">
                        <div class="courses-bx">
                            <div class="dlab-media">
                                <img src="assets/images/course3.jpg" alt="">
                            </div>
                            <div class="dlab-info">
                                <div class="dlab-title d-flex justify-content-between">
  
  
                                </div>
                                <div class="d-flex justify-content-between content align-items-center">
  
                                    <a href="admin/career-detail" class="btn btn-primary btn-sm mt-3">Update Career</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>