.pt-100 {
    padding-top: 100px
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.title {
    span {
        color: #bb0b0b;
        font-size: 16px;
        font-weight: 500;
        font-family: poppins, sans-serif;
        margin-bottom: 5px;
        display: block;
        margin-top: -5px;
    }

    h3 {
        font-size: 2.8125rem;
        font-weight: 700;
        color: #18212e;
        position: relative;
        display: inline-block;
        margin-bottom: 0;
        line-height: 1;
    }
}

// Banner Section
.banner-section {
    overflow: hidden;        
    text-align:center;

.header-wrapper {
    
    // height: 30rem;   
}
  
.zoominheader {        
    height: 30rem;
    text-align:center;
    background: linear-gradient(to right, rgba(0, 50, 98, 0.6) 10%, rgba(0, 50, 98, 0.2)), url("/../assets/images/service-cloud-banner.jpg");
    background-position: center center;        
    background-size: cover;        
    // -webkit-animation: zoomin 10s ease-in infinite;
    // animation: zoomin 10s ease-in infinite;
    // transition: all .5s ease-in-out;
    overflow: hidden;
}
        
// @keyframes zoomin {
//     0% {transform: scale(1);}        
//     100% {transform: scale(1.05);}
// }          
/*End of Zoom in Keyframes */
         
.banner-info {        
    padding-top: 8rem;
    padding-bottom: 10rem;  
    padding-left: 5rem;                    

    h2 {                        
        font-size: 3rem;
        color: #ffffff;
        font-weight: 800;
    }

    p {
        font-size: 1.1rem;
        color: #ffffff;
    }

    .button {
        display: flex;
        justify-content: center;
        margin-top:50px;
    }
    button.finbyz-button {
        color: #ffffff;
        text-decoration: none;
        background-color: #bb0b0b;
        -webkit-transition: .3s all ease;
        transition: .3s ease all;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        width: 200px;
        font-weight: 700;
        padding: 14px 0;
        border: 3px solid #ffffff;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 2px 10px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.1);
        z-index: 1;
    }
    button.finbyz-button:before {
        -webkit-transition: .5s all ease;
        transition: .5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: #ffffff;
        z-index: -1;
    }
    button.finbyz-button:hover,
    button.finbyz-button:focus
    {
      color: #bb0b0b;
    }
    button.finbyz-button:hover:before,
    button.finbyz-button:focus:before{
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
}     
}

.intro-section {
    position: relative;
    z-index: 1;    

    .banner-bg-top {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.7;
    }

    .banner-bg-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.7;
    }

    .intro-img {
        img {
            border-top-left-radius: 6rem;
            border-bottom-right-radius: 6rem;
        }
    }

    .intro-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 50px;
    }    
}

.business-application {
    background-color: #f2f7f8;

    .business-application-info {
        padding: 20px 20px;
        margin: 10px 0;
        border-bottom-right-radius: 3rem;
        border-top-left-radius: 3rem;
        box-shadow: 3px 4px 30px rgba(136, 136, 136, 0.1);
        background-color: #ffffff;
        position: relative;
        z-index: 1;

        h4 {
            padding-top: 20px;
        }
    }

    .business-application-info:after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
        transform: scale(0.1);
        border-bottom-right-radius: 3rem;
        border-top-left-radius: 3rem;
    }

    .business-application-info {
        background-color: #ffffff;

        img {
            width: 50px;
        }
    }

    .business-application-info:hover:after {
        background: #bb0b0b;
        transform: scale(1);
    }

    .business-application-info:hover {
        h4 {
            color: #ffffff
        }

        img {            
            filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(358deg) brightness(103%) contrast(101%) !important;
        }

        p {
            color: #ffffff;
        }
    }

    .integration-info {
        padding: 30px 20px;   
        height: 15rem;     
    }
}

.highlights-section {    
    // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('/../assets/images/servicenow-highlights.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-repeat: no-repeat;    
        
    .info {        
        // background: #bb0b0b;
        // box-shadow: 3px 4px 30px rgb(136 136 136 / 10%);        
        // margin-top: 50px;
        padding: 0px 30px 50px;
        // margin-bottom: 50px;
        border-bottom-right-radius: 6rem;
        border-top-left-radius: 6rem;
    }
    
    .brochure-info {
        p {
            width: 50%;
            margin: 0 auto;
            font-size: 18px;
            font-weight: 400;
            color: #ffffff;
        }

        .btn-brochure {
            background-color: #ffffff;
            border: 1px solid #ffffff;            
            color: #bb0b0b;
            border-radius: 4px;
        }

        .btn-brochure:hover {
            background-color: #bb0b0b;
            color: #ffffff;
        }
    }

    .btn-brochure:hover {
        background-color: #ffffff;
        border: 1px solid #bb0b0b;
        color: #bb0b0b;
    }

    .title {
        span {
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            font-family: poppins, sans-serif;
            margin-bottom: 5px;
            display: block;
            margin-top: -5px;
        }

        h3 {
            font-size: 2.8125rem;
            font-weight: 700;
            color: #ffffff;
            position: relative;
            display: inline-block;
            margin-bottom: 0;
            line-height: 1;
        }        
    }

    .work-process-item {
        h4 {
            color: #ffffff;
        }

        img {
            background-color: #ffffff;
            padding: 10px;
            border-radius: 0.5rem;
        }

        p {
            color: #ffffff;
        }
    }

    .button {
        display: flex;
        justify-content: center;        
    }
    button.finbyz-button {
        color: #ffffff;
        text-decoration: none;
        background-color: #bb0b0b;
        -webkit-transition: .3s all ease;
        transition: .3s ease all;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        width: 300px;
        font-weight: 700;
        padding: 14px 0;
        border: 3px solid #ffffff;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 2px 10px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.1);
        z-index: 2;
        margin-top: 1.5rem;
    }
    button.finbyz-button:before {
        -webkit-transition: .5s all ease;
        transition: .5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: #ffffff;
        z-index: -1;
    }
    button.finbyz-button:hover,
    button.finbyz-button:focus
    {
      color: #bb0b0b;
    }
    button.finbyz-button:hover:before,
    button.finbyz-button:focus:before{
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }

    @media screen and (max-width:768px) {
        .brochure-info {
            p {
                width: 100%;
            }
        }
    }
}

// case-study-section CSS Start

.case-study-section {
    background-color: #f2f7f8;
    position: relative;
    z-index: 1;    

    .banner-bg-top {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.7;
    }

    .banner-bg-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.7;
    }
    
    .sigle-blog-1 {
        box-shadow: 3px 4px 30px rgb(136 136 136 / 10%);

        .blog-image {
            overflow: hidden;

            img {
                transform: scale(1);
                transition: all 0.67s ease-in-out;
                border-radius: 10px;
            }
        }

        .hover-border1:hover::before {
            width: 100%;
        }

        .hover-border1::before {
            content: "";
            width: 0%;
            height: 1px;
            position: absolute;
            bottom: 0%;
            left: 0%;
            border-bottom: 1px solid #bb0b0b;
            transition: all 0.52s;
            z-index: -1;
        }
        
        .blog-content {
            padding: 30px 25px;
            background-color: #ffffff;
            min-height: 160px;

            span {
                display: inline-block;
                color: #676767;
                font-size: 16px;
                font-family: poppins, sans-serif;
                margin-bottom: 10px;
            }

            h4:hover {
                color: #bb0b0b;
            }

            h4 {
                font-size: 22px;
                font-weight: 700;
                color: #18212e;
                line-height: 1.4;
                transition: all 0.52s ease;

                a {
                    color: unset;
                    text-decoration: none;
                }
            }

            .blog-meta {
                margin-top: 25px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
            }

            .designation .date {
                font-size: 14px;
                font-weight: 400;
                color: #676767;
                margin-bottom: 0;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: #676767;
                    margin-bottom: 0;
                    position: relative;
                    padding-left: 10px;
                    margin-left: 15px;
                }

                span::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 7px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #bb0b0b;
                }
            }
        }

        .hover-border1 {
            background: #ffffff;
            position: relative;
            z-index: 1;
        }

        .hover-border1::before {
            content: "";
            width: 0%;
            height: 1px;
            position: absolute;
            bottom: 0%;
            left: 0%;
            background: var(--primary-color1);
            transition: all 0.52s;
            z-index: -1;
        }
    }

    .sigle-blog-1:hover {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }

    .sigle-blog-1:hover .blog-image img {
        transform: scale(1.125);
    }
}

.join-section {
    overflow: hidden;
    position: relative;

    .button {
        display: flex;
        justify-content: center;
        margin-top:50px;
    }
    button.finbyz-button {
        color: #ffffff;
        text-decoration: none;
        background-color: #bb0b0b;
        -webkit-transition: .3s all ease;
        transition: .3s ease all;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        width: 270px;
        font-weight: 700;
        padding: 14px 0;
        border: 3px solid #ffffff;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 2px 10px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.1);
        z-index: 1;
    }
    button.finbyz-button:before {
        -webkit-transition: .5s all ease;
        transition: .5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: #ffffff;
        z-index: -1;
    }
    button.finbyz-button:hover,
    button.finbyz-button:focus
    {
      color: #bb0b0b;
    }
    button.finbyz-button:hover:before,
    button.finbyz-button:focus:before{
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
}

.joinus-area {
    // background-image: url('/../assets/images/cta-background.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;    
    // background-blend-mode: multiply;
    background-color: #bb0b0b;
    min-height: 290px;
    padding: 80px 7%;
    border-radius: 5px;
    min-width: 100%;
    justify-content: center;
    position: relative;

    h2 {
        font-size: 2.3rem;
        font-weight: 700;
        font-family: cuprum, sans-serif;
        color: #ffffff;
        line-height: 1.5;
    }      
    
}