<section class="banner-section">
    <div class="container-fluid">
      <div class="row zoominheader">
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 text-start">
          <div class="banner-info">
              <h2>Service Cloud Excellence: Elevating Customer Experiences</h2>
              <p>Achieve customer service excellence with Service Cloud, where seamless support and engagement create lasting customer relationships.</p>
              <a href="/contact"><button class="finbyz-button">Consult Now</button></a>

          </div>        
        </div>      
      </div>
    </div>
</section>

<section class="intro-section pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 intro-img">
          <img src="assets/images/service_cloud.jpg" alt="intro-image" width="100%">
        </div>
        <div class="col-lg-6 intro-info">
          <h3>Benefits of service Console​</h3>
          <p>At the heart of service cloud in the service console.​ Let service team see  a personalized view of each customer and their case. Expand your service tools and customization as your team or company grow. Increased productivity.​​ Everything you need to quickly response to customers is preconfigured for you in the console.​</p>          
        </div>
      </div>
    </div>
</section>

<section class="business-application pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">
      <div class="row">
        <div class="col-md-12 title text-center">
          <span>What</span>
          <h3>What is Service Cloud ?</h3> 
        </div>            
      </div>
      <div class="row pt-5 d-flex justify-content-center">
        <div class="col-lg-4 text-center">
          <div class="business-application-info">
            <img src="assets/images/csm-icon.svg" alt="Connect">
            <h4>Easy to use customer service application.​</h4>
            <!-- <p>CPQ In Salesforce automates the product CPQ generation process. Instead of relying on product lists and price books, sales people have everything they need to create accurate quotes built into the tool​</p> -->
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="business-application-info">
            <img src="assets/images/track-excellet-services.svg" alt="Accelerate">
            <h4>Provide and track excellent service.​</h4>
            <!-- <p>CPQ enables faster quote delivery. By improving efficiency in sales operations and reducing time spent on administrative tasks and quoting, sales teams are free to focus on customers.</p> -->
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="business-application-info">
            <img src="assets/images/customer-satisfaction.svg" alt="Empower">
            <h4>Increase custom satisfaction​</h4>
            <!-- <p>Buyers appreciate the customer-centric approach to building product configurations and receiving sales quotes based on their needs.</p> -->
          </div>
        </div>   
        <div class="col-lg-4 text-center">
            <div class="business-application-info">
              <img src="assets/images/productivity.svg" alt="Empower">
              <h4>Increased service agent productivity​</h4>
              <!-- <p>CPQ lets you eliminate the administrative burden while producing more accurate pricing and quotes and providing a better experience for buyers even while up-selling and cross-selling them.</p> -->
            </div>
        </div>                        
        <div class="col-lg-4 text-center">
            <div class="business-application-info">
              <img src="assets/images/multiple-channel.svg" alt="Empower">
              <h4>Customer can reach via multiple channels.</h4>
              <!-- <p>It’s easier to sell to existing prospects and customers than to find new ones. The same playbooks that ensure pricing accuracy also suggest up-selling and cross-selling opportunities that are in line with margin considerations.</p> -->
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="business-application-info">
              <img src="assets/images/support.svg" alt="Empower">
              <h4>Personalize your support to engage with every customer.​</h4>
              <!-- <p>It’s easier to sell to existing prospects and customers than to find new ones. The same playbooks that ensure pricing accuracy also suggest up-selling and cross-selling opportunities that are in line with margin considerations.</p> -->
            </div>
        </div>                               
      </div>
    </div>
</section>        

<!-- <section class="case-study-section pt-50 bg-white">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <span>Case Study</span>
                <h3>Our Salesforce Case Studies</h3>
            </div>
        </div>

        <div class="row py-5 d-flex justify-content-center">

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
                <div
                  class="sigle-blog-1 wow fadeInDown"
                  data-wow-duration="1.5s"
                  data-wow-delay="0.4s"
                >
                  <div class="blog-image">
                    <img
                      src="assets/images/quickest_path_master_data_image.jpg"
                      class="img-fluid"
                      alt="image"
                    />
                  </div>
                  <div class="blog-content hover-border1">
                    <span>Salesforce</span>
                    <h4>
                      <a routerLink="/blog-detail">Winshuttle for Master data provides the Quickest Path to Better Salesforce Master Data</a>
                    </h4>             
                  </div>
                </div>
            </div>                        

        </div>
    </div>
</section> -->

<section class="join-section pt-50 pb-50">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp"
            data-wow-duration="1.5s" data-wow-delay="0.4s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp"
                    data-wow-duration="1.5s" data-wow-delay="0.6s">
    
                   <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>

    
                </div>
            </div>
        </div>
    </div>
</section>