<div class="inner-banner pt-100">      
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center text-center">
        <div class="col-md-12">
          <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">Cookie Policy</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb gap-3">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Cookie Policy</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>

<section class="cookie-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cookie-info pt-50 pb-50">
                    <h2>Cookie Policy</h2>
                    <p>Last updated: 07/04/2020</p>

                    <p>At <a href="www.qbrainx.com">www.qbrainx.com</a>, we strive to honor the privacy and security of any data we collect from visitors using our website, whilst we act as a personal data Controller under relevant data protection rules and regulations. Our website uses cookies, in combination with pixels, local storage objects, and similar devices (collectively, “cookies” unless otherwise noted) to distinguish you from other users of the website. This helps us provide you with a good experience, improve our service, and to personalize ads and content to you while you use the website.</p>
                    <p>This cookie policy (“Cookie Policy”) describes the types of the cookies we use on the website and our purposes for using them.</p>
                    <p>If you have questions about this Cookie Notice, please contact us at <a href="mailto:privacy@qbrainx.com">privacy@qbrainx.com</a>. For more complete description and list of the cookies that we currently use on the website, please review our Cookie List found in section 2 of this document. For more information about our privacy practices, please review our privacy policy <a href="https://www.qbrainx.com/privacy-policy/">https://www.qbrainx.com/privacy-policy/</a> If you have any questions or comments regarding this notice or data privacy, please contact us at <a href="mailto:privacy@qbrainx.com">privacy@qbrainx.com</a></p>
                    <p>Please read this Cookie Notice carefully for details about why we use cookies and the information they collect from and about you.</p>

                    <h4>Cookie Definitions</h4>
                    <p>A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your device, which is like computer memory.</p>
                    <p>First and third-party cookies: whether a cookie is ‘first’ or ‘third’ party refers to the domain placing the cookie.</p>
                    <ol>
                        <li>First-party cookies are those set by a website that is being visited by the user at the time (e.g. cookies placed by our website domain).</li>
                        <li>Third-party cookies are cookies that are set by a domain other than that of the website being visited by the user. If a user visits a website and another entity sets a cookie through that website, this would be a third-party cookie.</li>
                    </ol>
                    <p><strong>Persistent cookies:</strong> These cookies remain on a user’s device for the period of time specified in the cookie. They are activated each time that the user visits the website that created that particular cookie.</p>
                    <p><strong>Session cookies:</strong> These cookies allow website operators to link the actions of a user during a browser session. A browser session starts when a user opens the browser window and finishes when they close the browser window. Session cookies are created temporarily. Once you close the browser, all session cookies are deleted.</p>

                    <h4>What Cookies Do We Use and Why?</h4>
                    <p>Generally, the website uses cookies to distinguish you from other users of the website. This helps us to provide you with a good experience when you browse the website and also allows us to improve it. The cookies we use on the website may be categorized as follows:</p>
                    <ol>
                        <li>Strictly necessary</li>
                        <li>Performance</li>
                        <li>Functionality</li>
                        <li>Targeting</li>
                    </ol>
                    <p>Some cookies may fulfil more than one of these purposes.</p>
                    <p>‘Strictly Necessary’ cookies let you move around the website and use essential features like secure areas. Without these cookies, we cannot provide the requested services.</p>

                    <h5>We use these Strictly Necessary cookies to:</h5>
                    <ul>
                        <li>Identify you as being logged in to the website and to authenticate you</li>
                        <li>Make sure you connect to the right service on the website when we make any changes to the way it works</li>
                        <li>For security purposes</li>
                        <li>Make sure you connect to the right service on the website when we make any changes to the way it works</li>
                    </ul>
                    <p>If you prevent these cookies, we can’t guarantee how the website or the security on the website will perform during your visit.</p>

                    <h5>Performance Cookies</h5>
                    <p>Performance cookies, often called analytics cookies, collect data from visitors to our sites on a unique but anonymous basis. The results are reported to us as aggregate numbers and trends. Qbrainx allows third parties to set performance cookies. We rely on the reports to understand our audiences generally and improve how our websites work.</p>

                    <h5>We use performance cookies to:</h5>
                    <ul>
                        <li>Carry out web analytics: Provide statistics on how the website is used</li>
                        <li>Perform affiliate tracking: Provide feedback to affiliated entities that one of our visitors also visited their site</li>
                        <li>Obtain data on the number of users of the website that have viewed a product or service</li>
                        <li>Help us improve the website by measuring any errors that occur</li>
                        <li>Test different designs for the website</li>
                    </ul>
                    <p>‘Functionality’ cookies are used to provide services or to remember settings to improve your visit.</p>

                    <h5>We use ‘Functionality’ cookies for such purposes as:</h5>
                    <ul>
                        <li>Remember settings you’ve applied such as layout, text size, preferences and colours</li>
                        <li>Remember if we’ve already asked you if you want to fill in a survey</li>
                        <li>Remember if you have engaged with a specific component or list on the website so that it won’t repeat</li>
                        <li>Show you when you’re logged in to the website</li>
                        <li>To provide and show embedded video content</li>
                    </ul>
                    
                    <h5>Targeting Cookies</h5>
                    <p>These cookies may be set through our site by our advertising partners. They may be used by those companies to build a profile of your interests and show you relevant adverts on other sites. They do not store directly personal information, but are based on uniquely identifying your browser and internet device. If you do not allow these cookies, you will experience less targeted advertising.</p>

                    <h4>When do we require your consent</h4>
                    <p>All cookies require your consent.</p>

                    <p>We request your consent before placing them on your device. You can give your consent by clicking on the appropriate button on the banner displayed to you. If you do not wish to give consent or wish to withdraw your consent to any cookies at any time, you will need to delete, and block or disable cookies via your browser settings; see below for more information on how to do this. Please note that disabling these cookies will affect the functionality of the website and may prevent you from being able to access certain features on the website.</p>

                    <h4>How to Delete and Block our Cookies</h4>
                    <p>Most web browsers allow some control of most cookies through the browser settings. However, if you use your browser settings to block all cookies (including strictly necessary cookies), you may not be able to access all or parts of the website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies as soon as you visit the website.</p>
                    <p>Changing your Cookie Settings. The browser settings for changing your cookies settings are usually found in the ‘options’ or ‘preferences’ menu of your internet browser. In order to understand these settings, the following links may be helpful. Otherwise you should use the ‘Help’ option in your internet browser for more details.</p>
                    <ul>
                        <li><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">Cookie settings in Internet Explorer</a></li>
                        <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Cookie settings in Firefox</a></li>
                        <li><a href="https://support.google.com/chrome/answer/95647?hl=en">Cookie settings in Chrome</a></li>
                        <li><a href="https://support.apple.com/en-in/guide/safari/sfri11471/mac">Cookie settings in Safari</a></li>
                    </ul>

                    <h4>Contact us</h4>
                    <p>For any questions feel free to contact us at: <a href="mailto:privacy@qbrainx.com">privacy@qbrainx.com</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>