.pt-100 {
    padding-top: 100px
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mt-50 {
    margin-top: 50px;
}

.job-details-wrap h3 {
    color: #bb0b0b;
    font-size: 36px;
}

.job-details-wrap ul.about-list {
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 0;
    list-style: none
}

.job-details-wrap ul.about-list li {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-family: cuprum, sans-serif;
    color: var(--text-color2);
    padding-left: 20px;
    margin-bottom: 10px;
    transition: all .42s ease-in-out
}

.job-details-wrap ul.about-list li:hover {
    color: var(--primary-color1)
}

.job-details-wrap ul.about-list li:last-child {
    margin-bottom: 0
}

.job-details-wrap ul.about-list li::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 10px;
    height: 10px;
    background: #bb0b0b;
    border-radius: 50%
}

.apply-form {
    background: #fff;
    box-shadow: 3px 4px 30px rgba(136, 136, 136, .1);
    padding: 40px 35px
}

@media(max-width:991px) {
    .apply-form {
        padding: 25px 15px
    }
}

.apply-form label {
    font-family: cuprum, sans-serif;
    font-size: 18px;
    font-weight: 600
}

.apply-form-title {
    position: relative;
    margin-bottom: 45px
}

.apply-form-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 135px;
    height: 2px;
    background: #eee
}

.apply-form-title h4 {
    font-size: 25px;
    font-weight: 700;
    font-family: cuprum, sans-serif;
    color: #18212e;
    margin-bottom: 10px
}

.apply-form-title p {
    font-size: 1rem;
    font-weight: 400;
    font-family: poppins, sans-serif;
    color: #676767;
    padding-bottom: 12px
}

.apply-form-title {
    position: relative;
    margin-bottom: 45px
}

.apply-form-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 135px;
    height: 2px;
    background: #eee
}

.apply-form-title h4 {
    font-size: 25px;
    font-weight: 700;
    font-family: cuprum, sans-serif;
    color: #18212e;
    margin-bottom: 10px
}

.apply-form-title p {
    font-size: 1rem;
    font-weight: 400;
    font-family: poppins, sans-serif;
    color: #676767;
    padding-bottom: 12px
}

.form-inner input,
.form-inner textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    transition: all .5s ease
}

.form-inner input::placeholder,
.form-inner textarea::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color2);
    font-family: poppins, sans-serif
}

.form-inner input:focus,
.form-inner textarea:focus {
    border: 1px solid var(--primary-color1)
}

.banner-btn {
    color: #ffffff;
    text-decoration: none;
    background-color: #bb0b0b;
    -webkit-transition: .3s all ease;
    transition: .3s ease all;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 180px;
    font-weight: 700;
    padding: 8px 20px;
    border: 3px solid #ffffff;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .1);
    z-index: 2;
}

.banner-btn:before {
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ffffff;
    z-index: -1;
}

.banner-btn:hover,
.banner-btn:focus {
    color: #bb0b0b;
}

.banner-btn:hover:before,
.banner-btn:focus:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}