<section class="banner-section">
    <div class="container-fluid">
      <div class="row zoominheader">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
          <div class="banner-info">
              <h2>CPQ Precision in Every Sales Transaction</h2>
              <p>Streamline your sales processes with CPQ, where precision meets efficiency in configuring, pricing, and quoting for business success.</p>
              <a href="/contact"><button class="finbyz-button">Consult Now</button></a>
          </div>        
        </div>      
      </div>
    </div>
</section>

<section class="intro-section pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 intro-img">
          <img src="assets/images/configure_price_quote.jpg" alt="intro-image" width="100%">
        </div>
        <div class="col-lg-6 intro-info">
          <h3>What is Configure Price Quote</h3>
          <p>CPQ In Salesforce is any Configure Price Quote Software sales tool that allows sales reps to create quotes with customized product and pricing configurations based on the buyer’s needs, and then sync all interactions with a deal’s documents, within the Salesforce CRM.</p>
          <p>CPQ In Salesforce isn’t only about increasing the speed and accuracy of your internal sales and revenue operations teams. It’s a critical part of executing the strategies set by executive leadership.</p>
          <p>At the same time, decision-makers can keep track of progress so adjustments can be made whenever new realities emerge. Discounts can be changed, product categories revised, tactics in a particular category revised–anything needed to increase revenues for current market conditions.</p>
        </div>
      </div>
    </div>
</section>

<section class="business-application pt-50 pb-50 wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <div class="container">
      <div class="row">
        <div class="col-md-12 title text-center">
          <span>Benefits</span>
          <h3>Benefits of CPQ in Salesforce</h3> 
        </div>            
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/accurate.svg" alt="Connect">
            <h4>CPQ Produces Accurate Quotes</h4>
            <p>CPQ In Salesforce automates the product CPQ generation process. Instead of relying on product lists and price books, sales people have everything they need to create accurate quotes built into the tool​</p>
          </div>
        </div>
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/efficiency.svg" alt="Accelerate">
            <h4>CPQ Improve Efficiency​</h4>
            <p>CPQ enables faster quote delivery. By improving efficiency in sales operations and reducing time spent on administrative tasks and quoting, sales teams are free to focus on customers.</p>
          </div>
        </div>
        <div class="col-lg-4 text-center mt-5">
          <div class="business-application-info h-100">
            <img src="assets/images/buyer-trust.svg" alt="Empower">
            <h4>CPQ Build trust with Buyers​</h4>
            <p>Buyers appreciate the customer-centric approach to building product configurations and receiving sales quotes based on their needs.</p>
          </div>
        </div>   
        <div class="col-lg-4 text-center mt-5">
            <div class="business-application-info h-100">
              <img src="assets/images/revenue-boost.svg" alt="Empower">
              <h4>CPQ Increase Revenue</h4>
              <p>CPQ lets you eliminate the administrative burden while producing more accurate pricing and quotes and providing a better experience for buyers even while up-selling and cross-selling them.</p>
            </div>
        </div>                        
        <div class="col-lg-4 text-center mt-5">
            <div class="business-application-info h-100">
              <img src="assets/images/benefits.svg" alt="Empower">
              <h4>CPQ maximize the benefits of existing prospect</h4>
              <p>It’s easier to sell to existing prospects and customers than to find new ones. The same playbooks that ensure pricing accuracy also suggest up-selling and cross-selling opportunities that are in line with margin considerations.</p>
            </div>
        </div>                               
      </div>
    </div>
</section>        

<!-- <section class="case-study-section pt-50 bg-white wow animate__animated animate__fadeInUp" data-wow-duration="1.5s">
    <img src="assets/images/top_bg_pattern.svg" alt="background_pattern" class="banner-bg-top img-fluid">
    <img src="assets/images/bottom_bg_pattern.svg" alt="background_pattern" class="banner-bg-bottom img-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <span>Case Study</span>
                <h3>Our Salesforce Case Studies</h3>
            </div>
        </div>

        <div class="row py-5 d-flex justify-content-center">

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
              <div
                class="sigle-blog-1 wow fadeInDown"
                data-wow-duration="1.5s"
                data-wow-delay="0.4s"
              >
                <div class="blog-image">
                  <img
                    src="assets/images/quickest_path_master_data_image.jpg"
                    class="img-fluid"
                    alt="image"
                  />
                </div>
                <div class="blog-content hover-border1">
                  <span>Salesforce</span>
                  <h4>
                    <a href="/case-study-detail">Winshuttle for Master data provides the Quickest Path to Better Salesforce Master Data</a>
                  </h4>             
                </div>
              </div>
          </div>  
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
            <div
              class="sigle-blog-1 wow fadeInDown"
              data-wow-duration="1.5s"
              data-wow-delay="0.4s"
            >
              <div class="blog-image">
                <img
                  src="assets/images/data_structure_image.jpg"
                  class="img-fluid"
                  alt="image"
                />
              </div>
              <div class="blog-content hover-border1">
                <span>Salesforce</span>
                <h4>
                  <a href="/case-study-detail">Warehouse Management application for Logistics truckload brokerage</a>
                </h4>             
              </div>
            </div>
        </div>  
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 info">
          <div
            class="sigle-blog-1 wow fadeInDown"
            data-wow-duration="1.5s"
            data-wow-delay="0.4s"
          >
            <div class="blog-image">
              <img
                src="assets/images/case_management_salesforce_case-study.jpg"
                class="img-fluid"
                alt="image"
              />
            </div>
            <div class="blog-content hover-border1">
              <span>Salesforce</span>
              <h4>
                <a href="/blog-detail">Mid server down status – notification over email and ms team</a>
              </h4>             
            </div>
          </div>
      </div>                        

      </div>
    </div>
</section> -->

<section class="join-section pt-50 pb-50">
    <div class="container">
        <div class="joinus-area d-flex align-items-center wow animate__animated animate__fadeInUp"
            data-wow-duration="1.5s" data-wow-delay="0.4s">
            <div class="row d-flex align-items-center g-4">
                <div class="col-lg-7 justify-content-lg-start justify-content-center text-lg-start text-center">
                    <h2>Start Your Journey Towards Unmatched Innovation and Success.</h2>
                </div>
                <div class="col-lg-5 d-flex justify-content-lg-end justify-content-center wow animate__animated animate__fadeInUp"
                    data-wow-duration="1.5s" data-wow-delay="0.6s">
    
                   <a href="/contact"><button class="finbyz-button">Talk to our Experts</button></a>

    
                </div>
            </div>
        </div>
    </div>
</section>